<div    [ngClass]="{'card':showCard}">
    <div   [ngClass]="{'card-body':showCard}">
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="navbar-collapse justify-content-end">
                        <form #form="ngForm" class="navbar-form" form>
                            <div class="input-group no-border">
                                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="formdata.keyword"
                                    #keyword="ngModel" name="keyword">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon"
                                    (click)="list()">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="text-right">
                        <button class="btn btn-danger btn-sm" (click)="add()" mat-raised-button="" *ngIf="permission>1" >
                            <span class="mat-button-wrapper">
                                <span class="btn-label"><i class="material-icons">add_to_queue</i></span> ADD
                            </span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

        <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
        [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
        (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true"  (onRowClick)="add($event.data.TaskId)" (onExporting)="activitylog()">
    
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>

        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
        </dxo-pager>
    
        <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
    
        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    
        <dxo-export [enabled]="excel_permisson > 0" fileName="{{this.parentName}} {{this.title}}"></dxo-export>
    
        <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
        </dxo-column-chooser>
    
        <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" 
            [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">
        </dxi-column>
    
        <dxi-column caption="Action" [allowExporting]="false"  [fixed]="true" fixedPosition="right" [minWidth]="100" cellTemplate="actionCellTemplate" *ngIf="(currentUser.RoleId!=3)">
    
        </dxi-column>
    
    
        <div *dxTemplate="let d of 'actionCellTemplate'">
    
            <button type="button" mat-icon-button class="text-danger" data-toggle="tooltip" title="Delete"
                (click)="$event.stopPropagation(); delete(d.data.TaskId)" *ngIf="permission>2 && ((currentUser.RoleId!=2 && currentUser.RoleId!=3) || d.data.TaskOwner===currentUser.UserId)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    
        <div *dxTemplate="let d of 'toolbarButton'">
            <button class="text-danger"  (click)="add()"  *ngIf="permission>1 && (currentUser.RoleId!=3)"  mat-icon-button data-toggle="tooltip" title="New">
                <mat-icon>add</mat-icon>
            </button>
    
            <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
                <mat-icon>filter_list</mat-icon>
            </button>
    
        </div>
    
    </dx-data-grid>
       
    </div>
</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
