<div class="main-content new-design">
  <div class="card">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form #form="ngForm" (submit)="onSubmit()" class="banner-form mt-5">
              <div class="row justify-content-md-center">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Nationality</mat-label>
                    <mat-select matInput placeholder="Nationality" #Nationality="ngModel"
                      [(ngModel)]="searchData.Nationality" name="Nationality" required
                      (selectionChange)="onNationalityChange()">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="nationFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="nationFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let country of nationalityList | stringFilterBy:nationFilter:'CountryName';  trackByProperty: 'CountryId' "
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>What do you want to study?</mat-label>
                    <input type="text" matInput placeholder="What do you want to study?" [(ngModel)]="searchData.param1"
                      #param1="ngModel" name="param1" [matAutocomplete]="autoParam1"
                      (keyup)="filterParam1(param1.value)" (focus)="filterParam1(param1.value)">
                  </mat-form-field>
                  <mat-autocomplete #autoParam1="matAutocomplete">
                    <mat-optgroup *ngFor="let group of  filteredDisciplineListObs" [label]="group.label">
                      <mat-option *ngFor="let option of group.data" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                  <!-- <input matInput type="text" placeholder="What would you like to study?"
                      [(ngModel)]="searchData.param1" name="param1"> -->

                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Where?</mat-label>
                    <input matInput type="text" placeholder="Where?" [(ngModel)]="searchData.param2" #param2="ngModel"
                      name="param2" [matAutocomplete]="autoParam2" (keyup)="filterParam2(param2.value)"
                      (focus)="filterParam2(param2.value)">
                  </mat-form-field>
                  <mat-autocomplete #autoParam2="matAutocomplete">
                    <mat-optgroup *ngFor="let group of filteredInstListObs" [label]="group.label">
                      <mat-option *ngFor="let option of group.data" [value]="option.name">
                        {{option.name}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>

                  <!-- <mat-form-field>
                    <mat-label>Where?</mat-label>
                    <input matInput type="text" placeholder="Where?" [(ngModel)]="searchData.param2" name="param2">
                  </mat-form-field> -->
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-danger btn-one btn-anim w-100" [disabled]="!form.valid">
                    <i class="fa fa-search"></i> search</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 ps ps-y">

            <div class="row" *ngIf="formdata?.ProgramId?.length>0">
              <div class="col-12">
                <mat-accordion>

                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      General Information
                    </mat-expansion-panel-header>
                    <div class="row">
                      <!-- <div class="col-md-12">
                          <mat-form-field >
                            <mat-label>Nationality</mat-label>
                            <mat-select matInput placeholder="Nationality" #Nationality="ngModel" [(ngModel)]="formdata.Nationality"
                              name="Nationality">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                                {{country.CountryName}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->
                      <!-- <div class="col-md-12">
                          <mat-form-field >
                            <mat-label>Country of Education</mat-label>
                            <mat-select matInput placeholder="Country of Education" #CountryOfEducation="ngModel"
                              [(ngModel)]="formdata.CountryOfEducation" name="CountryOfEducation">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                                {{country.CountryName}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->

                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Highest Education</mat-label>
                          <mat-select matInput placeholder="Highest Education" #EduLevel="ngModel"
                            [(ngModel)]="formdata.EduLevel" name="EduLevel">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let eduLevel of eduLevelList " [value]="eduLevel.EduLevelId">
                              {{eduLevel.EduLevelName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <!-- <div class="col-md-12">
                          <mat-form-field >
                            <mat-label>Grading Scheme</mat-label>
                            <mat-select matInput placeholder="Grading Scheme" #GradeScheme="ngModel"
                              [(ngModel)]="formdata.GradeScheme" name="GradeScheme">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let gradeScheme of gradeSchemeList " [value]="gradeScheme.GrdSchemeId">
                                {{gradeScheme.GrdSchemeName}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->

                      <!-- <div class="col-md-12">
                          <mat-form-field >
                            <mat-label>Grade Average</mat-label>
                            <input matInput placeholder="Grade Average" #GradeAverage="ngModel" [(ngModel)]="formdata.GradeAverage"
                              name="GradeAverage">
                          </mat-form-field>
                        </div> -->
                    </div>

                    <mat-action-row>
                      <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
                    </mat-action-row>

                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      English Test Scores
                    </mat-expansion-panel-header>
                    <div class="row">
                      <!-- <div class="col-md-12">
                          <br>
                          <mat-slide-toggle labelPosition="before" #OnlyDirectAddmission="ngModel" [(ngModel)]="formdata.OnlyDirectAddmission"
                            name="OnlyDirectAddmission">Only Show Direct Admission</mat-slide-toggle>
                          <br>
                          <br>
                        </div> -->
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>English Exam Type</mat-label>
                          <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                            [(ngModel)]="formdata.EnglishExamType" name="EnglishExamType">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let req of reqList " [value]="req.ReqId">{{req.ReqName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field floatLabel="always">
                          <mat-label>Input Exat</mat-label>
                          <span matPrefix>L:&nbsp;</span>
                          <input matInput type="number" placeholder="Input Exat" #EnglishExamL="ngModel"
                            [(ngModel)]="formdata.EnglishExamL" name="EnglishExamL" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
                          <mat-error *ngIf="EnglishExamL.hasError('pattern')">Enter Valid Score</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field floatLabel="never">
                          <span matPrefix>R:&nbsp;</span>
                          <input matInput type="number" #EnglishExamR="ngModel" [(ngModel)]="formdata.EnglishExamR"
                            name="EnglishExamR" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
                          <mat-error *ngIf="EnglishExamR.hasError('pattern')">Enter Valid Score</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field floatLabel="never">
                          <span matPrefix>W:&nbsp;</span>
                          <input matInput type="number" #EnglishExamW="ngModel" [(ngModel)]="formdata.EnglishExamW"
                            name="EnglishExamW" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
                          <mat-error *ngIf="EnglishExamW.hasError('pattern')">Enter Valid Score</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field floatLabel="never">
                          <span matPrefix>S:&nbsp;</span>
                          <input matInput type="number" #EnglishExamS="ngModel" [(ngModel)]="formdata.EnglishExamS"
                            name="EnglishExamS" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
                          <mat-error *ngIf="EnglishExamS.hasError('pattern')">Enter Valid Score</mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <mat-action-row>
                      <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
                    </mat-action-row>

                  </mat-expansion-panel>

                  <!-- <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        View Options
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field>
                            <mat-label>Sort By</mat-label>
                            <mat-select matInput placeholder="Sort By" #SortBy="ngModel" [(ngModel)]="formdata.SortBy"
                              name="SortBy">
                              <mat-option value="SchoolRank desc">School Rank Highest First</mat-option>
                              <mat-option value="Commission desc" *ngIf="currentUser.RoleId===2" [hidden]="!formdata.ShowCommission" >Commission Highest First</mat-option>
                              <mat-option value="Commission" *ngIf="currentUser.RoleId===2" [hidden]="!formdata.ShowCommission">Commission Lowest First</mat-option>
                              <mat-option value="TuitionFee">Tuition - Lowest First</mat-option>
                              <mat-option value="TuitionFee desc">Tuition - Highest First</mat-option>
                              <mat-option value="ApplicationFee desc">Application Fee - Highest First</mat-option>
                              <mat-option value="ApplicationFee">Application Fee - Lowest First</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-12" *ngIf="currentUser.RoleId===2">
                          <br>
                          <mat-slide-toggle labelPosition="before" #ShowCommission="ngModel"
                            [(ngModel)]="formdata.ShowCommission" name="ShowCommission">Show Commissions
                          </mat-slide-toggle>
                          <br>
                          <br>
                        </div>
                      </div>
  
                      <mat-action-row>
                        <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
                      </mat-action-row>
  
                    </mat-expansion-panel> -->

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      School Filters
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>School Type</mat-label>
                          <mat-select matInput multiple placeholder="School Type" #InstitutionType="ngModel"
                            [(ngModel)]="formdata.InstitutionType" name="InstitutionType"
                            (selectionChange)="fillInstitutionList()">
                            <mat-option disabled>Select..</mat-option>
                            <mat-option *ngFor="let inst_type of instTypeList " [value]="inst_type.InstTypeId">
                              {{inst_type.InstTypeName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Countries</mat-label>
                          <mat-select matInput multiple placeholder="Countries" #InstitutionCountries="ngModel"
                            [(ngModel)]="formdata.InstitutionCountries" name="InstitutionCountries"
                            (selectionChange)="fillProvince(true)">
                            <mat-option disabled>None</mat-option>
                            <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                              {{country.CountryName}}</mat-option>
                          </mat-select>

                        </mat-form-field>


                      </div>
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Province</mat-label>
                          <mat-select matInput multiple placeholder="Province" #InstitutionProvinces="ngModel"
                            [(ngModel)]="formdata.InstitutionProvinces" name="InstitutionProvinces"
                            (selectionChange)="fillInstitutionList()">
                            <mat-option disabled>Select...</mat-option>
                            <mat-option *ngFor="let province of provinceList " [value]="province.ProvinceId">
                              {{province.ProvinceName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>School</mat-label>
                          <mat-select multiple matInput placeholder="School" #Institutions="ngModel"
                            [(ngModel)]="formdata.Institutions" name="Institutions">
                            <mat-option disabled>Select...</mat-option>
                            <mat-option *ngFor="let institute of institutionList " [value]="institute.InstitutionId">
                              {{institute.InstName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>


                    </div>

                    <mat-action-row>
                      <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      Program Filters
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Program Level</mat-label>
                          <mat-select matInput placeholder="Program Level" #ProgramLevel="ngModel"
                            [(ngModel)]="formdata.ProgramLevel" name="ProgramLevel">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let eduLevel of eduLevelList " [value]="eduLevel.EduLevelId">
                              {{eduLevel.EduLevelName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Available Intake</mat-label>
                          <mat-select matInput multiple placeholder="Available Intake" #Inteks="ngModel"
                            [(ngModel)]="formdata.Inteks" name="Inteks">
                            <mat-option disabled>None</mat-option>
                            <mat-option *ngFor="let intek of intekList " [value]="intek.IntekDate">
                              {{intek.IntekDate}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Mode</mat-label>
                          <mat-select matInput multiple placeholder="Mode" #ProgramModes="ngModel"
                            [(ngModel)]="formdata.ProgramModes" name="ProgramModes">
                            <mat-option *ngFor="let item of programModeList " [value]="item.value">
                              {{item.text}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>


                      <div class="col-md-12">
                        <label>Discipline <span>Your desired area of study</span></label>
                      </div>

                      <div class="col-md-12">
                        <mat-selection-list #Descipline="ngModel" [(ngModel)]="formdata.Descipline" name="Descipline">
                          <mat-list-option *ngFor="let item of desciplineList" [value]="item" checkboxPosition="before"
                            style="height: auto;" class="pt-1 pb-1">
                            {{item}}
                          </mat-list-option>
                        </mat-selection-list>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Sub Categories</mat-label>
                          <mat-select matInput multiple placeholder="Sub Categories" #SubDesciplines="ngModel"
                            [(ngModel)]="formdata.SubDesciplines" name="SubDesciplines">
                            <mat-option disabled>None</mat-option>
                            <mat-option *ngFor="let subDescipline of subDesciplineList "
                              [value]="subDescipline.SubDescId">
                              {{subDescipline.SubDescName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Keyword</mat-label>
                          <input matInput placeholder="Keyword" #Keyword="ngModel" [(ngModel)]="formdata.Keyword"
                            name="Keyword">
                        </mat-form-field>
                      </div>
                      <div class="col-md-12 ">
                        <label>Tuition Fee</label>
                        <div class="range">
                          <ng5-slider [(value)]="formdata.MinTutionFee" [(highValue)]="formdata.MaxTutionFee" [options]="{
                                floor: 0,
                                ceil: 200000,
                                hideLimitLabels: true,
                                hidePointerLabels: false
                              }"></ng5-slider>
                        </div>

                      </div>



                      <!-- <div class="col-md-12">
                          <label>Application Fee</label>
                
                          <div class="range">
                              <ng5-slider
                              [(value)]="formdata.MinApplicationFee"
                              [(highValue)]="formdata.MaxApplicationFee"
                              [options]="{
                                floor: 0,
                                ceil: 100000,
                                hideLimitLabels: true,
                                hidePointerLabels: false
                              }"
                             
                            ></ng5-slider>
                          </div>
                        </div> -->

                      <div class="col-12">
                        <label>
                          Types of Accommodation
                        </label>
                        <div class="col-12">
                          <mat-checkbox [(ngModel)]="formdata.onCampus">On-Campus</mat-checkbox>
                        </div>
                        <div class="col-12">
                          <mat-checkbox [(ngModel)]="formdata.offCampus">Off-Campus</mat-checkbox>
                        </div>
                        <div class="col-12">
                          <mat-checkbox [(ngModel)]="formdata.homeStay">Home-Stay</mat-checkbox>
                        </div>
                      </div>

                      <div class="col-12">
                        <label>
                          Work Permit
                        </label>
                        <div class="col-12">
                          <mat-checkbox [(ngModel)]="formdata.postGraduateWithWork">Post Graduate Work Permit
                          </mat-checkbox>
                        </div>
                        <div class="col-12">
                          <mat-checkbox [(ngModel)]="formdata.programWithCoOpOption">Program with Co-Op Option
                          </mat-checkbox>
                        </div>

                        <div class="col-12">
                          <mat-checkbox [(ngModel)]="formdata.workWhileStudy">Work while Study</mat-checkbox>
                        </div>
                      </div>
                      <div class="col-12">
                        <mat-checkbox [(ngModel)]="formdata.conditionalOfferLetter">Conditional Offer Letter
                        </mat-checkbox>
                      </div>
                    </div>
                    <mat-action-row>
                      <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>


          </div>


          <div class="col-md-9 ">

            <div class="row" *ngIf="programList && programList.length>0">
              <div class="col-md-12">
                <div class="d-flex justify-content-end">
                  <div style="min-width: 200px;">
                    <mat-form-field>
                      <mat-label>Sort By</mat-label>
                      <mat-select matInput placeholder="Sort By" #SortBy="ngModel" [(ngModel)]="formdata.SortBy"
                        name="SortBy" (selectionChange)="applyFilter()">
                        <mat-option value="SchoolRank desc">School Rank Highest First</mat-option>
                        <mat-option value="TuitionFee">Tuition - Lowest First</mat-option>
                        <mat-option value="TuitionFee desc">Tuition - Highest First</mat-option>
                        <mat-option value="ApplicationFee desc">Application Fee - Highest First</mat-option>
                        <mat-option value="ApplicationFee">Application Fee - Lowest First</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>

            <div class="row">

              <div class="col-12" *ngIf="programList">
                <div class="card m-30" *ngFor="let item of programList">
                  <div class="card-header card-header-danger">

                    <div class="d-flex justify-content-around">
                      <div class="flex-fill">
                        <a class="text-reset" href="#/institutions/institutions-details/{{item.InstitutionId}}"
                          target="_blank">
                          <div>
                            <img src="{{filepath+item.InstLogoPath}}" class="rounded float-left mr-2"
                              style="width: 25px; height: 25px;">

                            <h4>{{item.InstName}}<small>, {{item.InstCity}}, {{item.InstProvince}},
                                {{item.InstCountry}}</small>
                            </h4>

                          </div>

                        </a>

                      </div>
                      <div [hidden]="!formdata.ShowCommission">
                        <span>Comm.</span> <span style="font-size: 18px;">{{item.Commission}}%</span>
                      </div>
                    </div>



                  </div>
                  <div class="card-body">
                    <div class="row" *ngFor="let program of item.programs">
                      <div class="col-md-5">
                        <h4> <a href="#/institutions/programs/details-program/{{program.ProgramId}}"
                            target="_blank">{{program.ProgramName}}</a> </h4>
                        <div *ngFor="let feeItem of program.FeeDetail">{{feeItem.FeeType}}
                          <small>({{feeItem.FeeBasis}})</small>: {{program.ProgramCurrency}} {{feeItem.FeeAmount}}
                        </div>
                        <div>
                          Status : {{program.ProgramStatus}}
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div>
                          <mat-icon>signal_cellular_4_bar</mat-icon> {{program.ProgramLevel}}
                        </div>
                        <div>
                          <span>
                            <mat-icon>calendar_today </mat-icon> Avg Processing Time :
                            {{program.AverageProcessingDay}}
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3 text-right">
                        <div>

                          <a class="btn btn-sm btn-danger btn-cust"
                            href="#/{{parentRoute}}eligibility/check/{{program.ProgramId}}/{{item.InstitutionId}}">Check
                            Eligibility</a>

                          <a href="#/member/application/apply/0/{{ currentUser.RoleId===3 ? currentUser.RefId : 0 }}/{{program.ProgramId}}/{{item.InstitutionId}}"
                            class="btn btn-sm btn-danger">Apply</a>
                        </div>

                      </div>
                      <div class="col-12">
                        <hr />
                      </div>

                    </div>

                  </div>

                </div>
              </div>
              <div class="col-12" *ngIf="programList && programList.length===0">
                <div class="alert alert-danger">
                  No result found search with other keyword
                </div>
              </div>

            </div>
          </div>


        </div>


      </div>
    </div>

  </div>

</div>