
   
        <div class="card shadow">
          <div class="card-body">
            <div class="row no-gutters justify-content-between">
              <div class="col-md-3">
                <!-- <h4 class="card-title color-333">Actionable Alerts</h4> -->
                <div class="cardtitle">Actionable Alerts</div>
              </div>
            </div>
  
            <div class="row no-gutters justify-content-between">
              <div class="col-md-12">
  
                <dx-data-grid id="gridContainer" [dataSource]="actionableAlerts" [columnAutoWidth]="true"
                  [showBorders]="true">
                  <dxi-column *ngFor="let item of actionableAlertsColumns" [dataField]="item.dataField" [minWidth]="100"
                    [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">
                  </dxi-column>
  
                  <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
                </dx-data-grid>
  
              </div>
            </div>
  
          </div>
        </div>
    