<div class="new-design">
    <div mat-dialog-title>
        {{ title }}
   
     <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>

    <div mat-dialog-content>
        <span [innerHTML]="content" class="d-block" style="border: 1px solid #E92429;padding: 15px;">
        </span>
        <div>
</div>
        <hr>

        <div *ngIf="attchementLength > 0" class="row">
            <h5 class="col-12"><b> Attachments</b></h5>
            <div *ngFor= "let item of attachments" class="col-12 col-sm-2">
                 <a href="{{ filePath + '/'+ item.DocPath}}" target="_blank" class="d-flex"><span class="material-icons">
                    attach_file </span> {{item.DocumentName}} </a>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="center" > 
        <button type="button" mat-dialog-close class="btn btn-primary btn-sm modalclose">
            Close
        </button>
    </div>
    </div>