<div class="main-content new-design">
    <div class="card">
        <div class="card-body">

            <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
                [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage"
                [columnAutoWidth]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
                [allowColumnReordering]="true" (onRowClick)="onRowClick($event.data)" (onExporting)="activitylog()">

                <dxo-filter-panel [visible]="true"></dxo-filter-panel>

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
                </dxo-pager>

                <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                <dxo-export [enabled]="excel_permisson > 0" fileName="Notifications"></dxo-export>

                <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
                </dxo-column-chooser>

                <dxi-column *ngFor="let item of columns" [dataField]="item.columnDef" [caption]="item.header | sentenceCase"
                    [dataType]="item.type" [format]="item.format">
                </dxi-column>

                <div *dxTemplate="let d of 'toolbarButton'">
                    <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button
                        data-toggle="tooltip" title="Apply Filter">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                </div>

            </dx-data-grid>
        </div>
    </div>
</div>