<div class="main-content new-design bg-white" *ngIf="programData">
  <!-- <button *ngIf="permission>1" style="position: absolute; right:25px; top:25px; z-index: 1000;" mat-mini-fab
    routerLink="/member/institutions/programs/edit-program/{{programData.InstitutionId}}/{{id}}">
    <mat-icon>edit</mat-icon>
  </button> -->
  <img style="height: 374px; width: 100%; " class="img-fluid mb-3" [src]="filepath+programData.InstImagePath" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <!-- <div class="row">
          <div class="col-md-12">
            <h3 style="font-weight: 500;">{{programData.InstName}}</h3>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between ">
                  <div class="flex-grow-1">
                    <h5 style="font-weight: 800;">{{programData.ProgramName}}</h5>
                  </div>
                  <div>
                    <a class=" btn btn-sm btn-danger"
                      routerLink="/{{parentRoute}}eligibility/check/{{programData.ProgramId}}/{{programData.InstitutionId}}">Check
                      Eligibility </a>

                    <ng-container *ngIf="canApply">
                      &nbsp; &nbsp;

                      <a href="#/member/application/apply/0/{{ currentUser.RoleId===3 ? currentUser.RefId : 0 }}/{{programData.ProgramId}}/{{programData.InstitutionId}}"
                        class="btn btn-sm btn-danger">Apply</a>

                    </ng-container>
                  </div>
                </div>
                <hr />
                <h6 style="font-weight: 800;">Program Description</h6>
                <div [innerHTML]="programData.Description">

                </div>
              </div>
            </div>



            <div class="card" *ngIf="currentUser.UserId>0">
              <div class="card-body">
                <h6 class="font-weight-bold">Educational Requirement</h6>
                <ul class="card-text">
                  <li class="card-text" *ngFor="let item of programData.EnglishRequirement">
                    <span class="font-weight-bold"> {{item.ReqName}}</span> with Minimum Score <span
                      class="font-weight-bold"> {{item.Score}} </span>
                  </li>
                  <li class="card-text" *ngFor="let item of programData.SubjectRequirement">
                    <span class="font-weight-bold"> {{item.ReqName}}</span> with Minimum Score <span
                      class="font-weight-bold"> {{item.Score}} </span>
                  </li>
                  <li class="card-text" *ngFor="let item of programData.AccadmicRequirement">
                    <span class="font-weight-bold"> {{item.ReqName}}</span> with Minimum Score <span
                      class="font-weight-bold"> {{item.Score}} </span>
                  </li>
                </ul>

                <h6 class="font-weight-bold" *ngIf="programData?.DocumentRequirement?.length>0">Required Document</h6>
                <ul>
                  <li class="card-text" *ngFor="let item of programData.DocumentRequirement">
                    {{item.DocumentName}}
                  </li>
                </ul>

              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body table-responsive">
                <div class="d-flex flex-column">

                  <div *ngFor="let feeItem of programData.FeeDetail">
                    <label>
                      <mat-icon class="icon-with-text md-dark md-24">attach_money</mat-icon>
                    </label>
                    <span class="font-weight-bold"> {{feeItem.FeeType}} ({{feeItem.FeeBasis}}) : </span>
                    <label> {{programData.ProgramCurrency}} {{feeItem.FeeAmount}} </label>
                  </div>

                  <!-- <div>
                    <label>
                      <mat-icon class="icon-with-text">attach_money</mat-icon>
                    </label>
                    <span class="font-weight-bold"> Tuition Fee (per semester) : </span>
                    <label> USD$ 15850 </label>
                  </div>

                  <div>
                    <label>
                      <mat-icon class="icon-with-text">attach_money</mat-icon>
                    </label>
                    <span class="font-weight-bold"> Tuition Fee (per semester) : </span>
                    <label> USD$ 15850 </label>
                  </div> -->

                  <div>
                    <label>
                      <mat-icon class="icon-with-text">attach_money</mat-icon>
                    </label>
                    <span class="font-weight-bold"> Cost Of Living per year : </span>
                    <label> {{programData.InstCostofLiving_Year}} </label>
                  </div>

                  <div>
                    <label>
                      <mat-icon class="icon-with-text">watch_later</mat-icon>
                    </label>
                    <span class="font-weight-bold"> Average Processing Time : </span>
                    <label> {{programData.AverageProcessingDay}} </label>
                  </div>

                </div>

                <div class="d-flex flex-column">

                  <div class="d-flex flex-row">
                    <div>
                      &nbsp;
                    </div>
                  </div>

                  <div class="d-flex flex-row justify-content-between">
                    <div>
                      <label>Starting Date</label>
                    </div>
                    <div>
                      &nbsp;
                    </div>
                    <div>
                      <label>Submission Deadline</label>
                    </div>
                  </div>


                  <div class="d-flex flex-row  justify-content-between" *ngFor="let intek of programData.Inteks">
                    <div class="col-4 px-0">
                      <span class="badge badge-danger">{{intek.IntekDate | date:'dd MMM yyyy'}}</span>
                    </div>
                    <div class="col-4 text-center">
                      <mat-icon>arrow_right_alt</mat-icon>
                    </div>
                    <div class="col-4 text-right px-0">
                      <span class="badge badge-danger">{{intek.SubmissionDeadline | date:'dd MMM yyyy'}}</span>
                    </div>
                  </div>

                </div>

                <div class="d-flex flex-column">
                  <div class="d-flex flex-row">
                    <div>
                      &nbsp;
                    </div>
                  </div>

                  <div class="d-flex flex-row">
                    <div>
                      <span>Status :</span><label>{{programData.ProgramStatus}}</label>
                    </div>
                  </div>


                </div>


              </div>
            </div>
          </div>
        </div>




        <div class="row">
          <div class="col-lg-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Contact Detail</h4>
                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover"
                    style="border: 1px solid rgba(0, 0, 0, 0.06);">
                    <thead class="thead-dark">
                      <tr>
                        <th class="font-weight-bold">User</th>
                        <th class="font-weight-bold">Email</th>
                        <th class="font-weight-bold">Contact Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of contactList">
                        <td>{{item.Name}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.ContactNo}}</td>
                      </tr>
                      <!-- <tr>
                        <td>Mary</td>
                        <td>mary@example.com</td>
                        <td>1324563453</td>
                        <td><button type="button" mat-icon-button class="text-danger" data-toggle="tooltip"
                            title="Delete">
                            <mat-icon>close</mat-icon>
                          </button></td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>july@example.com</td>
                        <td>43475473456</td>
                        <td><button type="button" mat-icon-button class="text-danger" data-toggle="tooltip"
                            title="Delete">
                            <mat-icon>close</mat-icon>
                          </button></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="row">

          <div class="col-md-12 d-flex mb-5">
            <h3 class="font-weight-bold my-0">{{programData.ProgramName}}</h3>
            <span class="material-icons mt-2"> favorite_border</span>
          </div>

          <div class="col-md-7 d-flex">
              <div class="col-md-6">
                  <h4 class="font-weight-bold">{{programData.InstName}}</h4>
                  <p>{{programData.InstAddress}}</p>

                  <a class="mx-3"  style="display:contents" routerLink="/{{parentRoute}}eligibility/check/{{programData.ProgramId}}/{{programData.InstitutionId}}">
                    <p class="text-center black-text p-2 font-weight-bold" style="background-color: #ea9999;border: 1px solid #96bdf2;margin-top: 6rem;" >Check Eligibility</p>
                  </a>
              </div>
              <div class="col-md-6">
                  <p><span class="material-icons align-middle" style="color:#ffd966"> star </span>{{programData.GlobalRank}} Global Ranking</p>
                  <p><span class="material-icons align-middle" style="color:#e69138"> star </span>{{programData.LocalRank}} Local Ranking</p>
                  <ng-container *ngIf="canApply">
                  <a class="mx-3" href="#/member/application/apply/0/{{ currentUser.RoleId===3 ? currentUser.RefId : 0 }}/{{programData.ProgramId}}/{{programData.InstitutionId}}">
                    <p class="text-center black-text p-2 font-weight-bold"
                      style="background-color: #ea9999;border: 1px solid #96bdf2;margin-top: 3rem;">Apply</p>
                  </a>
                </ng-container>
              </div>
          </div>

          <div class="col-md-5">
            <div class="logo-img1">
              <a class="logo-mini1">
                <img [src]="filepath+programData.InstImagePath" alt="logo" class="inst-logo"
                  onerror="this.src='./assets/img/MyMSM_logo_1.png'" />
              </a>
            </div>

            <h4 class="font-weight-bold text-center mt-3">Course in Nutshell</h4>

            <div class="row col-md-12 px-0">
              <div class="col-md-6 d-flex">
                <span class="material-icons mr-2 right-icon">arrow_forward</span>
                <p>Campus <br> <span style="color: #cccccc;">{{programData.CampusName}}</span></p>
              </div>
              <div class="col-md-6 d-flex">
                <span class="material-icons mr-2 right-icon">arrow_forward</span>
                <p>Duration <br> <span style="color: #cccccc;">{{programData.DurationTime}} {{duration}} </span></p>
              </div>
              <div class="col-md-6 d-flex">
                <span class="material-icons mr-2 right-icon">arrow_forward</span>
                <p>Start-date <br> <span style="color: #cccccc;" *ngFor="let inteks of intek">{{inteks.IntekDate | date: 'dd MMM yyyy'}}<br></span></p>
              </div>
              <div class="col-md-6 d-flex">
                <span class="material-icons mr-2 right-icon">arrow_forward</span>
                <p>Avg. Processing Time <br> <span style="color: #cccccc;">{{programData.AverageProcessingDay}}</span></p>
              </div>
              <div class="col-md-6 d-flex">
                <span class="material-icons mr-2 right-icon">arrow_forward</span>
                <p>Tution <br> <span style="color: #cccccc;" *ngFor="let fee of programData.FeeDetail">{{fee.FeeType}} {{programData.ProgramCurrency}} {{fee.FeeAmount}}<br></span></p>
              </div>
              <div class="col-md-6 d-flex">
                <span class="material-icons mr-2 right-icon">arrow_forward</span>
                <p>Application Deadline <br> <span style="color: #cccccc;" *ngFor="let inteks of intek">{{inteks.SubmissionDeadline | date: 'dd MMM yyyy'}}<br></span></p>
              </div>
            </div>

          </div>

        </div>



        <div class="row mb-5">
        
          <div class="col-md-12 mb-3">
            <h4 class="font-weight-bold my-0">Program Description</h4>
          </div>

          <div class="col-md-12">
            <p class="my-0" [innerHTML]="proabout"></p>
          </div>

        </div>


        <div class="row mb-5" *ngIf="currentUser.UserId>0">
        
          <div class="col-md-12 mb-3">
            <h4 class="font-weight-bold my-0">Entry Requirement</h4>
          </div>
        
          <div class="row col-md-12"  *ngFor="let item of programData.EnglishRequirement">
            <div class="col-md-12 d-flex">
              <span class="material-icons mr-2 my-0 right-icon">arrow_forward</span>
              <p>{{item.ReqName}} with Minimum Score {{item.Score}}</p>
            </div>
          </div>
        
        </div>


        <div class="row mb-5">
        
          <div class="col-md-12 mb-3">
            <h4 class="font-weight-bold my-0">About {{programData.InstName}}</h4>
          </div>
        
          <div class="col-md-3">
            <img [src]="filepath+programData.InstImagePath"  alt="logo" class="w-100"
              onerror="this.src='./assets/img/MyMSM_logo_1.png'" />
          </div>
          
          <div class="col-md-9">
          
            <p class="my-0" [innerHTML]="intabout"> </p>
          
          </div>
        
        </div>




        <div class="row mb-5">
        
          <div class="col-md-12 mb-3">
            <h4 class="font-weight-bold my-0">Other Courses in {{programData.InstName}}</h4>
          </div>
        
          <ng-container *ngFor="let item of programList">
            <div class="col-md-4" *ngFor="let program of item.programs">
              <img class="card-img-top rounded-0" src="./../../../../assets/img/process.jpg" alt="">
              <div class="ml-2 p-1 black-text bg-white border-black" style="position: absolute; margin-top: -3rem;">{{programData.ProgramCurrency}} {{program.ApplicationFee}}</div>
              <div class="card-body p-0">
                <div class="d-flex py-3 px-3 side-border">
                  <div class="col-md-6 px-0"><span class="font-weight-bold">Start-date </span> <span
                      style="color: #cccccc;">{{program.Intakes}}</span></div>
                  <div class="col-md-6 px-0 text-right"><span class="font-weight-bold">Duration </span> <span style="color: #cccccc;">{{program.Duration}}</span>
                  </div>
                </div>
            
                <div class="d-flex pb-1 px-3 side-border">
                  <div class="card-text col-md-1210 px-0 font-weight-bold black-text" style="font-size: 15px;">{{program.ProgramName}}
                  </div>
                </div>
            
                <a href="#/institutions/programs/details-program/{{program.ProgramId}}" class="mx-3" style="display: contents;">
                  <p class="text-center black-text m-0 p-2 font-weight-bold"
                    style="background-color: #ea9999;border: 1px solid #96bdf2;">
                    View</p>
                </a>
                
              </div>
            </div>
            </ng-container>
           
        
        </div> -->

        <!-- <div class="row mb-5 justify-content-center">
        <div class="col-md-4">
          <a href="" class="mx-3" style="display: contents;">
            <p class="text-center black-text m-0 p-2 font-weight-bold"
              style="background-color: #ea9999;border: 1px solid #96bdf2;">
              View More <span class="material-icons rotat_down text-white">double_arrow</span></p>
          </a>
        </div>
        </div> -->


      </div>

    </div>
  </div>

</div>

<div class="footer bg-danger">
  <div class="d-flex justify-content-around flex-column flex-fill">
    <div class="py-3">
      <img src="./assets/img/MyMSM-logo-white.png" class="image-responsive" width="100px" />
    </div>
    <div class="text-white">
      © 2020 All rights reserved
    </div>
  </div>
</div>

<!-- Script For Tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>