.Filter1 {display: flex;height: 0px;margin-top: -30px;}
// .filter3 {padding: 8px 0px;}
.Filter2{width: 200px;margin-right: 10px;}
// .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 7px 0;
// }

.Filter2 .mat-form-field-infix {
    padding: 5px !important;
}