<form #intekform="ngForm" form (submit)="onProgramFormSubmit(intekform)" class="new-design">
  <div mat-dialog-title>
    Program Information
    <button class="close text-white" type="button" mat-dialog-close aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <div mat-dialog-content>
    <div class="container-fluid pl-0 pr-0" *ngIf="programInfoData">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Institution</mat-label>
            <mat-select matInput placeholder="Institution" #InstitutionId="ngModel"
              [(ngModel)]="programInfoData.InstitutionId" name="InstitutionId" required
              [pattern]="modelPattern.dropDownNumericValue" (selectionChange)="onInstitutionChange()"
              [disabled]="true">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="instFilter" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="instFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of institutionList | stringFilterBy:instFilter:'InstName';"
                [value]="item.InstitutionId">{{item.InstName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="InstitutionId.hasError( 'required') || InstitutionId.hasError( 'pattern')">
              Institution is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>Program</mat-label>
            <mat-select matInput placeholder="Program" #ProgramId="ngModel" 
              [(ngModel)]="programInfoData.ProgramId" name="ProgramId" required 
              [pattern]="modelPattern.dropDownNumericValue" (selectionChange)="onProgramChange(true)"
              [disabled]="permission<2">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="programFilter" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="programFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of programList | stringFilterBy:programFilter:'ProgramName';"
                [value]="item.ProgramId">
                {{item.ProgramName}} </mat-option>
            </mat-select>
            <mat-error *ngIf="ProgramId.hasError( 'required') || ProgramId.hasError( 'pattern')">Program is
              required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Intake</mat-label>
            <mat-select matInput placeholder="Intake" #IntekId="ngModel"
             [(ngModel)]="programInfoData.IntekId" name="IntekId" required
               [pattern]="modelPattern.dropDownNumericValue" (selectionChange)="onIntakeChange(true)"
              [disabled]="permission<2">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="intakeFilter" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="intakeFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>

              <mat-option *ngFor="let intek of intekList | stringFilterBy:intakeFilter:'IntakeName';  trackByProperty: 'IntekId' " [value]="intek.IntekId">
                {{intek.IntakeName}} - {{intek.Region}} </mat-option>


            </mat-select>
            <mat-error *ngIf="IntekId.hasError( 'required') || IntekId.hasError( 'pattern')">Intake is
              required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Campus</mat-label>
            <mat-select matInput placeholder="Campus" #Campus="ngModel" [(ngModel)]="programInfoData.Campus"
              name="Campus" [disabled]="permission<2">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="campusFilter" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="campusFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>

              <mat-option *ngFor="let item of campusList  | stringFilterBy:campusFilter:'CampusName';  trackByProperty: 'CampusId'" [value]="item.CampusId">
                {{item.CampusName}} </mat-option>


            </mat-select>
            <mat-error *ngIf="Campus.hasError( 'required') || Campus.hasError( 'pattern')">Campus is
              required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Shore Type</mat-label>

            <mat-select matInput placeholder="Shore Type" #ShoreType="ngModel" [(ngModel)]="programInfoData.ShoreType"
              name="ShoreType" [disabled]="permission<2" required>
              <mat-option [value]=0 *ngIf="OffShore">OffShore</mat-option>
              <mat-option [value]=1 *ngIf="OnShore">OnShore</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select matInput placeholder="Mode" #ApplicationMode="ngModel"
              [(ngModel)]="programInfoData.ApplicationMode" name="ApplicationMode" required 
              [disabled]="permission<2">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="modeFilter" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="modeFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>

              <mat-option *ngFor="let item of programModeList | stringFilterBy:modeFilter:'ModeName';  trackByProperty: 'ModeId'" [value]="item.ModeId">{{item.ModeName}}
              </mat-option>


            </mat-select>
            <mat-error 
            *ngIf="ApplicationMode.hasError( 'required') || ApplicationMode.hasError( 'pattern')">Mode
              is
              required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="specializationList && specializationList?.length>0">
          <mat-form-field>
            <mat-label>Specialization</mat-label>
            <mat-select matInput placeholder="Specialization" #Specialization="ngModel"
              [(ngModel)]="programInfoData.SpecializationId" name="Specialization"  [disabled]="permission<2"
              >
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="specializationFilter" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="specializationFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>
              <mat-option
                *ngFor="let item of specializationList | stringFilterBy:modeFilter:'SpecializationName';  trackByProperty: 'SpecializationId'"
                [value]="item.SpecializationId">{{item.SpecializationName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <h5 class="modaltitle">Academic</h5>
        </div>
        <div class="col-md-4" *ngIf="program">
          <div class="studentemergency">
            <div class="greylabel" style="color: #959595;margin-bottom:10px;">
              Submission Deadline
            </div>
            <h6 *ngIf="programInfoData.ShoreType == 0">
              {{program?.SubmissionDeadline | date:'dd MMM yyyy'}}
            </h6>
            <h6 *ngIf="programInfoData.ShoreType == 1">
            {{program?.OnshoreSubmissionDeadline | date:'dd MMM yyyy'}}
           </h6>
          </div>
        </div>
        <div class="col-md-4" *ngIf="program">

          <div class="studentemergency">
            <div class="greylabel" style="color: #959595;margin-bottom:10px;">
              Duration
            </div>
            <h6>
              {{program?.DurationTime }}
              {{ program?.DurationType==1 ? 'Years' : program?.DurationType==2 ? 'Months' : 'Weeks' }}
            </h6>
          </div>
        </div>

        <div class="col-md-4" *ngIf="program">

          <div class="studentemergency">
            <div class="greylabel" style="color: #959595;margin-bottom:10px;">
              Average Processing Time
            </div>
            <h6>
              {{program?.AverageProcessingDay}}
            </h6>
          </div>
        </div>

        <div class="col-md-4" *ngIf="program">

          <div class="studentemergency">
            <div class="greylabel" style="color: #959595;margin-bottom:10px;">
              Cost of living
            </div>
            <h6>
              {{ program?.ProgramCurrency }} {{program?.InstCostofLiving_Year}} per year
            </h6>
          </div>
        </div>

        <div class="col-md-4" *ngFor="let feeItem of feeList">
          <div class="studentemergency">
            <div class="greylabel" style="color: #959595;margin-bottom:10px;">
              {{feeItem.FeeType}}
            </div>
            <h6>
              {{ program?.ProgramCurrency }} {{feeItem.FeeAmount}} {{feeItem.FeeBasis}}
            </h6>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-dialog-close class="btn btn-sm btn-primary modalclose">Cancel</button>
    <button *ngIf="parentId>0 && permission>1" type="submit" class="btn btn-sm btn-primary btn-cust">Update</button>
  </div>
</form>