.bg-gradient-primary {
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 10%, #ffffff 100%);
    background-size: cover;
	border-right:solid 1px #E3E3E3;
}
*{

	font-family: 'Roboto', sans-serif;
	
}
body{
    color: #333333;
}


.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.mt30{
	margin-top:30px;
}
.mb10{
	margin-bottom:10px;
}
.mb20{
	margin-bottom:20px;
}
.mb30{
	margin-bottom:30px;
}




.sidebar-dark .sidebar-brand {
    color: #333333;
	height: 200px;
}



.sigebarlogo{
	width:83px;
}
.sidebar-brand-text{
	font-weight:bold;
	font-size:22px;
}
.sidebar {
    width: 400px !important;
}

.topbar {
    height: 115px;
}
.sidebar .sidebar-brand {
    height: 115px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
}
.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid #E3E3E3;
}
.sidebar hr.sidebar-divider {
    margin: 1rem 1rem 1rem;
    /* margin: 0rem 1rem 0rem; */
}

.sidebar .nav-item .nav-link {
    padding: 8px 20px 8px 30px;
	width:100%;
}


.sidebar-dark .nav-item.active .nav-link i {
    color: #333333;
}
.sidebar-dark .nav-item .nav-link i {
    color: #959595;
}
.sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
    color: #E92429;
}

.nav-item.active{
	background-color: #E92429;
}

.sidebar-dark .nav-item.active .nav-link:hover {
	color: #ffffff;
}

.sidebar-dark .nav-item.active .nav-link:hover i{
	color: #333333;
}


.sidebar-dark .nav-item .nav-link {
    color: #333333;
}

.sidebar-dark .nav-item .nav-link:hover {
    color: #E92429;
}



.sidebar .nav-item .nav-link span {
    font-size: 16px;
}

.color-333,
.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #333;
}
.sidebar-dark .nav-item .nav-link:hover[data-toggle="collapse"]::after {
    color: #E92429;
}
.sidebar-dark .nav-item.active .nav-link[data-toggle="collapse"]::after {
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #E92429;
    border-color: #E92429;
}
/* .btn-primary:hover {
    color: #E92429;
    background-color: #fff;
    border-color: #E92429;
} */

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 58px;
    width: 58px;
}


.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
    width: 1rem;
    text-align: center;
    float: none;
    vertical-align: middle;
	position:absolute;
	top: calc(50% - 12px);
	right: 20px;
}

.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
    content: '\f107';
}
.rotateicon{
	transform: rotate(90deg);
}
.rotateicon:before{
	margin-top:5px;
}

.sidebar-dark .nav-item .nav-link:active{
	color:#333333;
}

.pagetitle{
	border-bottom:solid 1px #E3E3E3;
	padding-bottom:10px;
}

.pagetitle h1{
	font-size:22px;
	color:#333333;
	font-weight: 500;
}

.cardtitle{
	color: #333333;
	font-weight: 500;
	font-size: 15px;
	padding-bottom:10px;
}
.cardtitlesub{
	color: #959595;
	font-weight: normal;
	font-size: 12px;
}
.cardlargenumber{
	color: #333333;
	font-weight: 500;
	font-size: 34px;
}

.cardtitlesubblue{
	margin-top:30px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #2D9CDB;
}

.nav-link.collapsed.colapseactive span{
	color:#333333;
}
.nav-link.colapseactive span{
	color:#E92429;
}

@media only screen and (min-width: 1000px) {
  
	.leftborder{
		border-left:solid 1px #E3E3E3;
		padding-left:20px !important;
	}
}

.padding5{
	padding-left:5px;
	padding-right:5px;
}

.navbuttons{
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	width:100%;
}

.navbuttonsAll{
	background: #F5F6F7;
	border:solid 1px #959595;
	color: #959595;
}

.navbuttonsCritical{
	background: #E92429;
	border:solid 1px #E92429;
}

.navbuttonsMinor{
	background: #F2994A;
	border:solid 1px #F2994A;
}

.navbuttonsLow{
	background: #2D9CDB;
	border:solid 1px #2D9CDB;
}

.navbuttonsAll:hover, .navbuttonsAll:focus, .navbuttonsAll:active {
	background: #ffffff !important;
	border:solid 1px #F5F6F7 !important;
	color: #959595 !important;
}

.navbuttonsCritical:hover, .navbuttonsCritical:focus, .navbuttonsCritical:active {
	background: #ffffff !important;
	border:solid 1px #E92429 !important;
	color: #E92429 !important;
}

.navbuttonsMinor:hover, .navbuttonsMinor:focus, .navbuttonsMinor:active {
	background: #ffffff !important;
	border:solid 1px #F2994A !important;
	color: #F2994A !important;
}

.navbuttonsLow:hover, .navbuttonsLow:focus, .navbuttonsLow:active {
	background: #ffffff !important;
	border:solid 1px #2D9CDB !important;
	color: #2D9CDB !important;
}



.tasktable{
	margin-top:20px;
}


.tasktablecont{
	font-weight: normal;
	font-size: 15px;
	padding:10px 20px;
}
.tasktablecont.low{
	border-left:solid 3px #2D9CDB;
}
.tasktablecont.minor{
	border-left:solid 3px #F2994A;
}
.tasktablecont.critical{
	border-left:solid 3px #E92429;
}

.tasktabletime{
	color: #959595;
	text-align:left;
}

.tasktabletime.low{
	color: #2D9CDB;
}
.tasktabletime.critical{
	color: #E92429;
}
.tasktabletime.minor{
	color: #F2994A;
}
.paginationlinks{
	color:#CCCCCC;
	margin:20px 3px;
	display:inline-block;
}
.paginationlinks.active{
	color:#333333;
}
.paginationlinks:hover{
	color:#E92429;
}

.tasktitle{
	font-size: 20px;
	line-height: 26px;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 10px;
}

.taskstatus.done{
	color: #16D761;
}
.taskstatus.done i{
	margin-right:10px;
	
}







.btn-white{
	background:#fff;
	padding:8px 20px;
	border:solid 1px #fff;
	font-size: 12px;
	line-height: 14px;
	color: #959595;
	margin: 0px 6px;
}
.btn-white:hover{
	background:#E92429;
	border:solid 1px #E92429;
	color: #ffffff;
}
.greylabel{
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #CCCCCC;
}
.borderlabel{
	font-size: 10px;
	line-height: 12px;
	color: #333333;
	background:#ffffff;
	margin-left:6px;
	display:inline-block;
	padding:2px;
	position:absolute;
	top:-7px;
	left:9px ;
}

::-webkit-input-placeholder { /* Edge */
	font-size: 14px;
	color: #dddddd;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 14px;
	color: #dddddd;
}

::placeholder {
	font-size: 14px;
	color: #dddddd;
}

.intcard{
	border: 0.5px solid #CCCCCC;
}
.intcard h4{
	font-weight: 500;
	font-size: 16px;
	color: #E92429;
	border-bottom: 0.5px solid #CCCCCC;
	padding:15px;
}



.cardfields{
	margin-bottom:20px;
}

.intcard h5{
	font-weight: 400;
	font-size: 14px;
	color: #333333;
}

.intcard .intdetails{
	font-weight: 500;
	font-size: 12px;
	color: #959595;
}

.intprograms{
	padding:15px;
	border:solid 1px #cccccc;
	margin:15px;
}

.intprograms:hover{
	border: 0.5px solid #2D9CDB;
	cursor:pointer;
}

.intprograms.closed{
	background: #F5F6F7;
}

.intprograms.closed:hover{
	border:solid 1px #cccccc;
}


.intprogramsopen{
	position:absolute;
	padding:2px 8px;
	color:#ffffff;
	background:#2D9CDB;
	border: 0.5px solid #2D9CDB;
	border-radius:5px;
	font-size:10px;
	top:5px;
	right:20px;
	display:none;
}

.intprogramsclose{
	position:absolute;
	padding:2px 8px;
	color:#ffffff;
	background: #959595;
	border: 0.5px solid #959595;
	border-radius:5px;
	font-size:10px;
	top:5px;
	right:20px;
	display:none;
}


.intprograms.open .intprogramsopen{
	display:inline-block;
}

.intprograms.closed .intprogramsclose{
	display:inline-block;
}



.modalfield{
	position:relative;
	margin-bottom: 10px;
}
.checkboxcont{
	background: #FFFFFF;
	border: 0.5px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 8px;
	padding:20px;
}
.form-check{
	text-align:left;
}
.form-check-label{
	font-size: 13px;
	color: #959595;
}
.form-check-input:checked + .form-check-label {
	color: #333333;
}
.btn-primary:focus, .btn-primary.focus {
    background-color: #E92429;
    border-color: #E92429;
}
.institutiontitle{
	font-weight: 500;
	font-size: 15px;
	color: #959595;
	margin-top:20px;
	margin-bottom:5px;
}
textarea.form-control{
	text-align:left;
	min-height:200px;
}

.modalclose{
	color:#E92429 !important;
	background:#ffffff !important;
	border:solid .05px #E92429 !important;
}

.studentname{
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}

.studentid{
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #959595;
	margin-top:5px;
}

.studentstatus{
	font-weight: normal;
	font-size: 12px;
	color: #FFFFFF;
	padding:3px 8px;
	margin-left:10px;
	margin-top:-5px;
	display:inline-block;
}

.studentstatus.processing{
	background: #F2994A;
	border-radius: 5px;
	border:solid 1px #F2994A;
}
.studentdetails div{
	border:solid 1px #f5f5f5;
	padding:15px;
}
.studentlabel{
	font-weight: 500;
	font-size: 15px;
	color: #959595;
	display:block;
}
.studentemergency{
	background: #F5F6F7;
	border: 0.5px solid #CCCCCC;
	box-sizing: border-box;
	padding:10px;
	margin:10px;
}
.studentemergency h6{
	font-weight: normal;
	font-size: 15px;
	color: #333333;
	margin-bottom:10px;
}
.studentemergency .details{
	font-size: 12px;
	line-height: 14px;
	color: #959595;
	font-weight: 500;
	display:block;
	margin-top:3px;
}
.noborder{
	border:solid 1px #ffffff00 !important;
	padding:0px !important;
}

.sbcardtitle{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
}

.sbcardinner{
	border: 0.5px solid #CCCCCC;
	box-sizing: border-box;
	padding:10px;
	margin:10px;
}
.sbcardinner .details{
	font-size: 15px;
	line-height: 16px;
	color: #959595;
	font-weight: 500;
	display:block;
	margin-top:3px;
}
.schoolyear{
	font-weight: 500;
	font-size: 15px;
	color: #333333;
	display:block;
	margin-bottom:20px;
	margin-top:0px;
}
.subjectclass{
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	background: #E92429;
	padding: 5px 10px !important;
	margin-top:10px;
}
.subjecttitle{
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	padding: 5px 10px !important;
}
.subjectscore{
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	padding: 5px 10px !important;
}


.sbheading{
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	margin-bottom:0px;
}

.ccnumber{
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	color: #E92429;
}
.deleteemergency{
	position: absolute;
	right: 10px;
	top: 0;
	color: #E92429;
	border:solid 1px #E92429;
	background:#fff;
	border-radius:50%;
	display:inline-block;
	padding:0px 7px;
	cursor:pointer;
}




.tblbotcont{
	background: #F5F6F7;
	padding:3px 5px;
	
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #959595;
}


.dataTable td{
	vertical-align:middle;
}



.steppertbl {
	width:100%;
	margin-bottom:40px;
}
.steppertbl td{
	text-align:center;
	
}
.steppertbl div{
	border-radius:50%;
	display:inline-block;
	padding:1px 8px;
}
.steppertbl div span{
	width:10px;
	height:10px;
	border-radius:50%;
	display:inline-block;
	border:solid 2px #CCCCCC
}

.steppertbl .active div{
	background: #F5F6F7;
}
.steppertbl .active div span{
	border:solid 1px #E92429;
	background-color: #E92429;
}
.progressbar div{
	background:#cccccc;
	height:2px;
	width:100%;
	border-radius:0px;
	padding:0px;
	margin-top:0px;float:left;
}
.steppertbl p{
	position:absolute;
	font-weight: normal;
	font-size: 12px;
	color: #E92429;
}
.steppertbl .done div{
	background-color:#E92429;
}

.steppertbl .done div span{
	border:solid 2px #E92429;
}

.steppertbl progressbar.done div{
	background:#E92429;
}

.xclosebutton{
	background: #E92429;
	font-size:14px;
	border:solid 1px #E92429;
	border-radius:50%;
	color:#fff;
	padding:1px 8px;
}


.modaltitle{
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #333333;
	text-align:left;
	margin-top:15px;
}


/* CSS From sb2-admin.scss */

.tasktable .taskrow{
	border:solid 1px #e5e5e5;
	padding:3px;
	margin-top:-1px;
}

.tasktable .taskrow.active{
	background:#FFDCDD;
}
.tasktable .taskrow:hover{
	background:#F5F6F7;
}

.commentname{
	font-size: 16px;
	color: #333333;
	/* padding-left: 20px; */
}
.commentimage img{
	width: 30px;
	/* width:100%; */
	float:left;			
}

.taskcontainer p{
	font-size:14px;
	font-weight:400;			 
}

.pagenav{
	padding: 0px 24px 24px 24px ;			
}
.pagenav i{
	font-size:12px;
	padding: 0px 5px;
}
.pagenav span{
	color: #CCCCCC;
	cursor:pointer;
}
.pagenav span:hover{
	color: #E92429;
}
.pagenav span.active{			   
	color: #333333;	 
}

/* CSS From sb2-admin.scss */