<div class="main-content new-design">

    <div class="card">
        <div class="card-body">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="justify-content-end">
                            <form class="navbar-form">
                                <div class="row">
                                    <div class="col-md-5">
                                        <mat-form-field>
                                            <mat-label>Agent</mat-label>
                                            <mat-select matInput name="AgentId" #AgentId="ngModel"
                                                [(ngModel)]="searchdata.AgentId" placeholder="Agent"
                                                (selectionChange)="onAgentChange()" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [(ngModel)]="agentFilter"
                                                        [placeholderLabel]="'Search...'"
                                                        [noEntriesFoundLabel]="'Not found'" name="agentFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>None</mat-option>
                                                <mat-option
                                                    *ngFor="let item of agentList | stringFilterBy:agentFilter:'CompanyName';  trackByProperty: 'AgentId'"
                                                    [value]="item.AgentId">{{item.CompanyName}}
                                                </mat-option>
                                            </mat-select>

                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-5">
                                        <mat-form-field>
                                            <mat-label>Institution</mat-label>
                                            <mat-select matInput name="Institution" #Institution="ngModel"
                                                [(ngModel)]="searchdata.Institution" placeholder="Institution"
                                                (selectionChange)="onInstitutionChange()" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [(ngModel)]="instFilter"
                                                        [placeholderLabel]="'Search...'"
                                                        [noEntriesFoundLabel]="'Not found'" name="instFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option>None</mat-option>
                                                <mat-option
                                                    *ngFor="let item of institutionList | stringFilterBy:instFilter:'InstName';  trackByProperty: 'InstitutionId'"
                                                    [value]="item.InstitutionId">{{item.InstName}}
                                                </mat-option>
                                            </mat-select>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-danger" mat-raised-button
                                            (click)="listApplication()">
                                            <mat-icon class="search">search</mat-icon>Search
                                        </button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="table-responsive " [hidden]="!applicationList || applicationList?.data?.length===0">

                            <table mat-table #table [dataSource]="applicationList" class="table mat-elevation-z8">
                                <tr mat-header-row *matHeaderRowDef="columnToDisplay" class="text-primary">
                                </tr>
                                <tr mat-row *matRowDef="let institute; columns:columnToDisplay;"
                                    [class.bg-danger]="(institute.ImportCommissionAmount>0 && institute.ImportCommissionAmount!=institute.Commission) || institute.Remark"
                                    [class.bg-success]="institute.ImportCommissionAmount>0 && institute.ImportCommissionAmount===institute.Commission">
                                </tr>
                                <tr mat-footer-row class="sticky-footer" *matFooterRowDef="columnToDisplay"></tr>


                                <ng-container matColumnDef="Select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <ng-container matColumnDef="Date">
                                    <th mat-header-cell *matHeaderCellDef>Deposit Date </th>
                                    <td mat-cell *matCellDef="let institute">
                                        {{institute.DepositDate | date:'dd MMM yyyy'}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <ng-container matColumnDef="StudentId">
                                    <th mat-header-cell *matHeaderCellDef>Student ID</th>
                                    <td mat-cell *matCellDef="let institute">
                                        {{institute.StudentId}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>


                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef>Name </th>
                                    <td mat-cell *matCellDef="let institute">
                                        {{institute.FirstName}} {{institute.MiddleName}} {{institute.LastName}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <ng-container matColumnDef="Program">
                                    <th mat-header-cell *matHeaderCellDef>Program </th>
                                    <td mat-cell *matCellDef="let institute">{{institute.ProgramName}}</td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>
                               
                                <ng-container matColumnDef="FeeDeposit">
                                    <th mat-header-cell *matHeaderCellDef class="text-right">Fee Amount </th>
                                    <td mat-cell *matCellDef="let institute" class="text-right">{{institute.FeeDeposit}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="text-right">
                                        <span class="text-primary">
                                            {{doTotal("FeeDeposit") | number:'1.0-2'}}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Commission">
                                    <th mat-header-cell *matHeaderCellDef class="text-right">Commission </th>
                                    <td mat-cell *matCellDef="let institute" class="text-right">{{institute.Commission}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="text-right">
                                        <span class="text-primary">
                                            {{doTotal("Commission") | number:'1.0-2'}}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ImportFeeAmount">
                                    <th mat-header-cell *matHeaderCellDef>Import Fee Amount</th>
                                    <td mat-cell *matCellDef="let institute">
                                        {{institute.ImportFeeAmount}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <ng-container matColumnDef="ImportCommissionAmount">
                                    <th mat-header-cell *matHeaderCellDef>Import Commission Amount</th>
                                    <td mat-cell *matCellDef="let institute">
                                        {{institute.ImportCommissionAmount}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>
                                <ng-container matColumnDef="Remark">
                                    <th mat-header-cell *matHeaderCellDef>Import Remark</th>
                                    <td mat-cell *matCellDef="let institute">
                                        {{institute.Remark}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>
                                <ng-container matColumnDef="UserRemark">
                                    <th mat-header-cell *matHeaderCellDef>User Remark</th>
                                    <td mat-cell *matCellDef="let institute;let i=index">
                                       
                                            <textarea  #UserRemark="ngModel" [(ngModel)]="institute.CommissionRemark"
                                                (change)="updateCommissionRemark(institute)" name="UserRemark{{i}}" style="min-width: 300px;" class="bg-white">

                                            </textarea>
                                        
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10,25, 50, 100]" showFirstLastButtons
                                [hidden]="!applicationList || applicationList?.data?.length<=10"></mat-paginator>
                        </div>
                        <div class="container" [hidden]="!(selection?.selected?.length>0)">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <label>Total: <span class="badge badge-primary">{{invoiceTotal | number:'1.0-2' }}</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col-md-6 text-right">

                                    <button class="btn btn-danger" (click)="generateInvoice()" mat-raised-button=""
                                        *ngIf="permission>1">
                                        <span class="mat-button-wrapper">
                                            Approve
                                        </span>
                                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="text-danger" [hidden]="applicationList?.data?.length>0">
                            No application for map commission
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>