<form #form="ngForm" (submit)="onSubmit(form)"   class="new-design">
<div mat-dialog-title>
  Disciplines
  <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div  mat-dialog-content>

  <input type="hidden" #InstitutionId="ngModel" [(ngModel)]="formdata.InstitutionId" name="InstitutionId" />
  <div class="row">
    <div class="col-md-9">
      <mat-form-field >
        <mat-label>Discipline</mat-label>
        <mat-select matInput placeholder="Discipline" #DesciplineId="ngModel" [(ngModel)]="formdata.DesciplineId"
          name="DesciplineId" required  pattern="^[1-9]\d*$" >
          <mat-option>
            <ngx-mat-select-search [(ngModel)]="discFilter" [placeholderLabel]="'Search...'"
              [noEntriesFoundLabel]="'Not found'" name="discFilter"></ngx-mat-select-search>
          </mat-option>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let req of reqList | stringFilterBy:discFilter:'DesciplineName';  trackByProperty: 'DesciplineId'" [value]="req.DesciplineId">{{req.DesciplineName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field >
        <mat-label>Weightage</mat-label>
        <input matInput placeholder="Weightage" type="text" #Weightage="ngModel" [(ngModel)]="formdata.Weightage"
          name="Weightage" >
      </mat-form-field>

    </div>
  </div>


</div>
<div mat-dialog-actions align="end">
  <button type="button" mat-dialog-close class="btn btn-primary btn-sm modalclose">Close</button>
  <button type="submit" class="btn btn-primary btn-sm btn-cust" [disabled]="!form.valid || flagdisabled">Add</button>

</div>
</form>