<div class="main-content new-design">
    <div class="card">
        <div class="card-body">
            <div class="col-12 col-sm-12 col-md-8 d-sm-flex searchdiv px-0" style="z-index: 1;">
                <div class="col-12 col-sm-6 col-md-5">
                    <mat-form-field class="selectopt" id="selectopt1">
                        <!-- <mat-label>Select an option</mat-label> -->
                        <mat-select placeholder="Modified Status" [(ngModel)]="ModifiedStatus" name="ModifiedStatus"
                            (selectionChange)="sendDropdownValue(ModifiedStatus)">
                            <!-- <mat-option>None</mat-option> -->
                            <mat-option *ngFor="let mdfStatus of modifiedStauts" [value]="mdfStatus.value"
                                style="height: 2rem;font-size: 14px;">{{mdfStatus.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-5">
                    <mat-form-field class="search-field">
                        <!-- <mat-label>Search</mat-label> -->
                        <input matInput placeholder="Search Keyword" type="text" [(ngModel)]="searchFilter"
                            name="searchFilter" (blur)="onBlurMethod(searchFilter)" (keyup.enter)="searchByEnter(searchFilter)" />
                        <!-- <button matSuffix type="button" class="btn btn-danger btn-sm" mat-raised-button="" (click)="sendDropdownValue(searchFilter)"><span class="material-icons">
                            search </span></button> -->
                        <a (click)="searchByKeyword(searchFilter)" data-toggle="tooltip" title="Search by Keyword"><span
                                class="material-icons">
                                search </span></a>
                    </mat-form-field>
                    <span class="text-danger" *ngIf="keyworderror">Please enter keyword</span>
                </div>
            </div>
            <dx-data-grid [dataSource]="data?.data" [showBorders]="true" [allowColumnResizing]="true"
                [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage"
                [columnAutoWidth]="true" [noDataText]="gridMessage" (onToolbarPreparing)="onToolbarPreparing($event)"
                [allowColumnReordering]="true" (onRowClick)="edit($event.data.StudentId)" (onExporting)="activitylog()" class="filter">

                <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                <dxo-state-storing [enabled]="columns?.length>0" type="localStorage" storageKey="student">
                </dxo-state-storing>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
                </dxo-pager>

                <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                <dxo-export [enabled]="excel_permisson > 0" fileName="Students"></dxo-export>

                <dxo-column-chooser [enabled]="true" mode="select">
                </dxo-column-chooser>



                <dxi-column *ngFor="let item of columns" [dataField]="item.data" [caption]="item.title | sentenceCase"
                    [dataType]="item.type" [format]="item.format">

                </dxi-column>

                <dxi-column caption="Action" [allowExporting]="false"  [width]="75" [minWidth]="75" [fixed]="true" fixedPosition="right"
                cellTemplate="actionCellTemplate" *ngIf="permission>2">
                </dxi-column>
                <div *dxTemplate="let d of 'actionCellTemplate'">
                    <mat-menu #instMenu="matMenu">
                        <button mat-menu-item (click)="$event.stopPropagation(); onDelete(d.data)" *ngIf="permission>2">
                            <span class="material-icons icon-position">
                                close
                            </span>Delete
                        </button>
                        <button mat-menu-item (click)="sendInvitation(d.data.StudentId)" *ngIf="permission>1">
                            <span class="material-icons icon-position">
                                email
                            </span>Send Invitation
                        </button>
                    </mat-menu>
                    <button mat-icon-button [matMenuTriggerFor]="instMenu" (click)="$event.stopPropagation()">
                        <span class="material-icons more_dropdown">
                            keyboard_arrow_down
                        </span>
                    </button>
                </div>


                <div *dxTemplate="let data of 'advanceButtonTemp'">
                    <button mat-icon-button class="text-danger" routerLink="/member/students/add-student"
                        *ngIf="permission>1" data-toggle="tooltip" title="New">
                        <mat-icon>add</mat-icon>
                    </button>

                    <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button
                        data-toggle="tooltip" title="Apply Filter">
                        <mat-icon>filter_list</mat-icon>
                    </button>

                </div>

            </dx-data-grid>
        </div>
    </div>

</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>