  <form #form="ngForm" class="new-design">
  <div mat-dialog-title>
  Role
  <button class="close text-white" type="button" [mat-dialog-close]  aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div mat-dialog-content>

    <mat-form-field>
      <mat-label>Role Name</mat-label>
      <input matInput placeholder="Role Name" type="text" #RoleName="ngModel" [(ngModel)]="formdata.RoleName"
        name="RoleName" required [pattern]="modelPattern.alphaNumericWithSpace">
    
      <mat-error *ngIf="RoleName.hasError('pattern')">Enter valid role name</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select matInput matInput placeholder="Type" #RoleType="ngModel" [(ngModel)]="formdata.RoleType"
        name="RoleType" required>
        <mat-option>
          <ngx-mat-select-search [(ngModel)]="typeFilter" [placeholderLabel]="'Search...'"
            [noEntriesFoundLabel]="'Not found'" name="typeFilter"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of roleTypes  | stringFilterBy:typeFilter:'text';  trackByProperty: 'value'" [value]="item.value" [hidden]="item.value===0">{{item.text}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  
</div>

<div mat-dialog-actions align="center">
  <button [mat-dialog-close] type="button" class="btn btn-primary btn-sm modalclose">Close</button>

  <button type="submit" [disabled]="!form.valid || flagdisable" class="btn btn-primary btn-sm btn-cust"
    (click)="onSubmit()">{{btnLable}}</button>

</div>
</form>
