
    
    
      <div class="col-md-12" *ngIf="programList">
        <div class="d-flex justify-content-end">
          <div class="flex-grow-1">
            <mat-form-field>
              <mat-label>Sort By</mat-label>
              <mat-select matInput placeholder="Sort By" #SortBy="ngModel" [(ngModel)]="formdata.SortBy"
                name="SortBy" (selectionChange)="applyFilter()">
                <mat-option value="SchoolRank desc">School Rank Highest First</mat-option>
                <mat-option value="Commission desc" *ngIf="currentUser.RoleId===2" [hidden]="!formdata.ShowCommission" >Commission Highest First</mat-option>
                <mat-option value="Commission" *ngIf="currentUser.RoleId===2" [hidden]="!formdata.ShowCommission">Commission Lowest First</mat-option>
                <mat-option value="TuitionFee">Tuition - Lowest First</mat-option>
                <mat-option value="TuitionFee desc">Tuition - Highest First</mat-option>
                <mat-option value="ApplicationFee desc">Application Fee - Highest First</mat-option>
                <mat-option value="ApplicationFee">Application Fee - Lowest First</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div  *ngIf="currentUser.RoleId===2" class="mr-1 ml-1">
            <mat-label>Show Commissions</mat-label>
            <br>
        <mat-slide-toggle labelPosition="before" #ShowCommission="ngModel"
          [(ngModel)]="formdata.ShowCommission" name="ShowCommission">
        </mat-slide-toggle>
        <br>
        <br>
          </div>
        </div>
       
      </div>
    
    <div class="col-12" *ngIf="programList">
      <div class="card m-30" *ngFor="let item of programList">
        <div class="card-header card-header-danger">
            <a class="text-reset" href="#/institutions/institutions-details/{{item.InstitutionId}}" target="_blank">
              <div>
                  <img src="{{filepath+item.InstLogoPath}}" class="rounded float-left mr-2" style="width: 25px; height: 25px;">
                
                    <h4 >{{item.InstName}}<small>, {{item.InstCity}}, {{item.InstProvince}}, {{item.InstCountry}}</small>
                    </h4>
                 
              </div></a> 
        </div>
        <div class="card-body"   >
                <div class="row" *ngFor="let program of item.programs">
                  <div class="col-md-5">
                      <h4> <a href="#/institutions/programs/details-program/{{program.ProgramId}}" target="_blank">{{program.ProgramName}}</a> </h4>
                      <div *ngFor="let feeItem of program.FeeDetail">{{feeItem.FeeType}} <small>({{feeItem.FeeBasis}})</small>: {{program.ProgramCurrency}} {{feeItem.FeeAmount}}</div>
                  </div>
                  <div class="col-md-5">
                      <div> <mat-icon>signal_cellular_4_bar</mat-icon> {{program.ProgramLevel}}</div>
                      <div>
                     <span><mat-icon aria-setsize="46">calendar_today </mat-icon>  Avg Processing Time : {{program.AverageProcessingDay}} </span> 
                      </div>
                  </div>
                  <div class="col-md-2">
                     <a class="btn btn-sm btn-danger" href="#/{{parentRoute}}eligibility/check/{{program.ProgramId}}/{{item.InstitutionId}}" *ngIf="!isApply" >Check Eligibility</a>
                     <button class="btn btn-sm btn-danger" mat-raised-button (click)="onApply.emit({InstitutionId:item.InstitutionId,ProgramId:program.ProgramId})" *ngIf="isApply">Apply</button>
                  </div>
                  <div class="col-12">
                      <hr/>
                  </div>
                 
                </div>
               
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="programList && programList.length===0">
        <div class="alert alert-danger"  >
            No result found search with other keyword
         </div>
    </div>
  