    .ghost
    {
        position: fixed;
        background-color: royalblue;
        max-width: 200px;
        margin: 20px auto;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        top:0px;
        z-index: 1;
        opacity: 0.4;
    }

    #skew {
        background: #f44336;
        height: 25px;
        border-radius: 5px;
        margin-top: -50px;
        -webkit-transform: skewY(-0.5deg) !important;
        transform: skewY(-0.5deg) !important;
        -webkit-transform: skewX(-30deg) !important;
        transform: skewX Y(-32deg) !important;
        margin-top: 0px;
        position: fixed;
        top: 0px;
  }