<div class="main-content new-design">
    
            <mat-tab-group #matTabGroup [class.header-less-tabs]="matTabGroup._tabs.length <= 1">
                <mat-tab label="Campaign">

                    <div class="card">
                        <div class="card-body">

                    <form #form="ngForm">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6" *ngIf="formdata.Creator">
                                    <span>
                                        <label class="text-primary">Creator : </label><label
                                            class="text-primary">{{formdata.Creator}}</label>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Owner</mat-label>
                                        <mat-select matInput placeholder="Owner" #CampaignOwner="ngModel"
                                            [(ngModel)]="formdata.CampaignOwner" name="CampaignOwner" required
                                            [disabled]="(permission<2 || currentUser.RoleId===2)">
                                                <mat-option>
                                                    <ngx-mat-select-search [(ngModel)]="ownerFilter" [placeholderLabel]="'Search...'"
                                                      [noEntriesFoundLabel]="'Not found'" name="ownerFilter"></ngx-mat-select-search>
                                                  </mat-option>
                                
                                            <mat-option value="">Select</mat-option>
                                            <mat-option *ngFor="let item of userList | stringFilterBy:ownerFilter:'DisplayName';  trackByProperty: 'UserId'" [value]="item.UserId">
                                                {{item.DisplayName+'/'+item.EmailId}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Name" name="CampaignName" #CampaignName="ngModel"
                                            [(ngModel)]="formdata.CampaignName" required  [pattern]="modelPattern.alphaNumericWithSpace"/>
                                            <mat-error *ngIf="CampaignName.hasError('required')">Name is required</mat-error>
                                            <mat-error *ngIf="CampaignName.hasError('pattern')">Enter valid name</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Type</mat-label>
                                        <mat-select matInput placeholder="Type" #CampaignType="ngModel"
                                            [(ngModel)]="formdata.CampaignType" name="CampaignType" required >
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="typeFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="typeFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option [value]="-1">Select</mat-option>
                                            <mat-option *ngFor="let item of campaignTypeList | stringFilterBy:typeFilter:'text';  trackByProperty: 'value'" [value]="item.value">
                                                {{item.text}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="CampaignType.hasError('required')">Type is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select matInput placeholder="Status" #CampaignStatus="ngModel"
                                            [(ngModel)]="formdata.CampaignStatus" name="CampaignStatus" required>
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="statusFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="statusFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option *ngFor="let item of campaignStatusList | stringFilterBy:statusFilter:'text';  trackByProperty: 'value'" [value]="item.value">
                                                {{item.text}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="CampaignStatus.hasError('required')">Status is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <app-date-picker [(value)]="formdata.StartDate" placeholder="Start Date"
                                        name="StartDate" required="true" [form]="form"
                                        [maxDate]="formdata.EndDate"
                                        >
                                    </app-date-picker>
                                </div>
                                <div class="col-md-6">
                                    <app-date-picker [(value)]="formdata.EndDate" placeholder="End Date" name="EndDate"
                                        required="true" [form]="form"
                                        [minDate]="formdata.StartDate"
                                        >
                                    </app-date-picker>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Expected Revenue</mat-label>
                                        <input type="number" matInput placeholder="Expected Revenue"
                                            name="ExpectedRevenue" #ExpectedRevenue="ngModel" appAcceptOnlyNumber
                                            [(ngModel)]="formdata.ExpectedRevenue" required pattern="^[0-9]{1,10}$" />
                                            <mat-error *ngIf="ExpectedRevenue.hasError('pattern')">Enter digits between(0-10)</mat-error>
                                    </mat-form-field>
                                    
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Budget Cost</mat-label>
                                        <input type="number" matInput placeholder="Budget Cost" name="BudgetCost"
                                            #BudgetCost="ngModel" [(ngModel)]="formdata.BudgetCost" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Actual Cost</mat-label>
                                        <input type="number" matInput placeholder="Actual Cost" name="ActualCost" pattern="^[0-9]{1,10}$"
                                            #ActualCost="ngModel" [(ngModel)]="formdata.ActualCost" appAcceptOnlyNumber required />
                                            <mat-error *ngIf="ActualCost.hasError('pattern')">Enter digits between(0-10)</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Expected Response %</mat-label>
                                        <input type="number" matInput placeholder="Expected Response %"
                                            name="ExpectedResponsePer" #ExpectedResponsePer="ngModel"
                                            [(ngModel)]="formdata.ExpectedResponsePer" appAcceptOnlyNumber required  pattern="^[0-9]{1,10}$"/>
                                            <mat-error *ngIf="ExpectedResponsePer.hasError('pattern')">Enter digits between(0-10)</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Num Sent In Campaign</mat-label>
                                        <input type="number" matInput placeholder="Num Sent In Campaign"
                                            #NumSentInCampaign="ngModel" [(ngModel)]="formdata.NumSentInCampaign"
                                            name="NumSentInCampaign" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>Parent Campaign</mat-label>
                                        <mat-select matInput placeholder="Parent Campaign" #ParentCampaign="ngModel"
                                            [(ngModel)]="formdata.ParentCampaign" name="ParentCampaign">
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="parentFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="parentFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option [value]="0">None</mat-option>
                                            <mat-option *ngFor="let item of parentCampaignList  | stringFilterBy:parentFilter:'CampaignName';  trackByProperty: 'CampaignId'" [value]="item.CampaignId">
                                                {{item.CampaignName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>Description</mat-label>
                                        <textarea matInput placeholder="Description" name="CampaignDescription"
                                            #CampaignDescription="ngModel" [(ngModel)]="formdata.CampaignDescription">
                                         </textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>Institution</mat-label>
                                        <mat-select matInput placeholder="Institution" #InstitutionId="ngModel"
                                            [(ngModel)]="formdata.InstitutionId" name="InstitutionId"
                                            (selectionChange)="fillRegion(true)" required
                                            [pattern]="modelPattern.dropDownNumericValue">
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="instFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="instFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option [value]="0" [disabled]="true">Select Institution</mat-option>
                                            <mat-option *ngFor="let item of institutionList | stringFilterBy:instFilter:'InstName';  trackByProperty: 'InstitutionId'"   [value]="item.InstitutionId">
                                                {{item.InstName}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="InstitutionId.hasError('required')">Institution is required</mat-error>
                                        
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" [hidden]="formdata.InstitutionId===0">
                                    <mat-form-field>
                                        <mat-label>Region</mat-label>
                                        <mat-select matInput placeholder="Region" #RegionId="ngModel"
                                            [(ngModel)]="formdata.RegionId" name="RegionId"
                                            (selectionChange)="fillIntake(true)">
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="regionFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="regionFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option [value]="0" *ngIf="regionList?.length>0">All</mat-option>
                                            <mat-option *ngFor="let item of regionList | stringFilterBy:regionFilter:'CountryName';  trackByProperty: 'CountryId'" [value]="item.CountryId">
                                                {{item.CountryName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" [hidden]="formdata.InstitutionId===0">
                                    <mat-form-field>
                                        <mat-label>Program</mat-label>
                                        <mat-select matInput placeholder="Program" #ProgramId="ngModel"
                                            [(ngModel)]="formdata.ProgramId" name="ProgramId"  (selectionChange)="fillIntake(true)">
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="programFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="programFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option [value]="0" *ngIf="programList?.length>0">All</mat-option>
                                            <mat-option *ngFor="let item of programList | stringFilterBy:programFilter:'ProgramName';  trackByProperty: 'ProgramId'" [value]="item.ProgramId">
                                                {{item.ProgramName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" [hidden]="formdata.ProgramId===0">
                                    <mat-form-field>
                                        <mat-label>Intake</mat-label>
                                        <mat-select matInput placeholder="Intake" #IntakeId="ngModel"
                                            [(ngModel)]="formdata.IntakeId" name="IntakeId">
                                            <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="intakeFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="intakeFilter"></ngx-mat-select-search>
                                              </mat-option>
                                            <mat-option [value]="0" *ngIf="intakeList?.length>0">All</mat-option>
                                            <mat-option *ngFor="let item of intakeList | stringFilterBy:intakeFilter:'IntakeName';  trackByProperty: 'IntekId'" [value]="item.IntekId">
                                                {{item.IntakeName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 d-flex justify-content-center">
                                   
                                        <button appBackButton mat-raised-button type="button"
                                            class="btn btn-primary btn-close-color custbtn">Cancel</button>

                                        <button mat-raised-button type="submit" class="btn btn-danger custbtn btn-cust" (click)="add(form)" *ngIf="permission>1 && (currentUser.RoleId!=2 || currentUser.UserId===formdata.CampaignOwner)" [disabled]="flagdisabled">{{btnLabel}}</button>
                                 
                                </div>
                            </div>

                        </div>
                    </form>

                    </div>
                    </div>

                </mat-tab>



                <mat-tab label="Events" *ngIf="campaignId>0">
                    <app-event-show [parentName]="parentName" [parentId]="campaignId" title="Events" parentType="1" [institutionId]="formdata.InstitutionId"
                        [permission]="(currentUser.RoleId===2 && currentUser.UserId!=formdata.CampaignOwner ? 1 : permission)">
                    </app-event-show>
                </mat-tab>

                <mat-tab label="Task" *ngIf="campaignId>0">
                    <app-task title="Task" [parentName]="parentName" [parentId]="campaignId" parentType="1" 
                    [permission]="(((currentUser.RoleId===2 || currentUser.RoleType===2) && currentUser.UserId!=formdata.CampaignOwner) ? 1 : permission)">

                    </app-task>
                </mat-tab>

                <mat-tab label="Activity" *ngIf="campaignId>0">
                    <app-campaign-activity [parentName]="parentName" [parentId]="campaignId" parentType="1" [permission]="(currentUser.RoleId===2 && currentUser.UserId!=formdata.CampaignOwner ? 1 : permission)" [showfield]="false" [showagent]="false">
                    </app-campaign-activity>
                </mat-tab>

                <mat-tab label="Participants" *ngIf="campaignId>0">
                    <app-attende  [parentName]="parentName" title="Participants" parentType="1" [parentId]="campaignId" attendeType="2" [permission]="(currentUser.RoleId===2 && currentUser.UserId!=formdata.CampaignOwner ? 1 : permission)">
                    </app-attende>
                </mat-tab>

                <mat-tab label="Attendees" *ngIf="campaignId>0">
                    <app-attende [parentName]="parentName" title="Attendees" parentType="1" [parentId]="campaignId" attendeType="1" [permission]="(currentUser.RoleId===2 && currentUser.UserId!=formdata.CampaignOwner ? 1 : permission)">
                    </app-attende>
                </mat-tab>

                <mat-tab label="Marketing-Collateral" *ngIf="campaignId>0">
                    <app-campaign-material  [parentName]="parentName" [programId]="formdata.ProgramId" [parentId]="campaignId" [InstitutionId]="formdata.InstitutionId"  [RegionId]="formdata.RegionId" >

                    </app-campaign-material>
                </mat-tab>

            </mat-tab-group>


        


</div>