<form #form="ngForm" form  class="new-design">
    <div mat-dialog-title>
        News & Updates
        <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>

    <div mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                  <mat-label>Subject</mat-label>
                                <input matInput placeholder="Subject" name="NewsSubject"
                                    #NewsSubject="ngModel" [(ngModel)]="formdata.NewsSubject" required />
                                    <mat-error *ngIf="NewsSubject.hasError('required')">Subject is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Description</label><span style="color: red;"> *</span>
                                <dx-html-editor tagName="textarea" placeholder="Description" rows="5"
                                #NewsDescription="ngModel" [(ngModel)]="formdata.NewsDescription"
                                name="NewsDescription" required class="mb-4" id="NewsDescription">
                                  <dxo-toolbar [items]="items" > </dxo-toolbar>
                                  <dx-validator >  
                                    <dxi-validation-rule type='required' message=' Description is required'></dxi-validation-rule>  
                                  </dx-validator>  
                              </dx-html-editor>
                                <!-- <ckeditor [editor]="Editor" tagName="textarea" placeholder="Description" rows="5"
                                    #NewsDescription="ngModel" [(ngModel)]="formdata.NewsDescription"
                                    name="NewsDescription" required style="width: 90%; max-width: 90%;"></ckeditor> -->

                            </div>


                        </div>
                        <div class="col-md-4">
                            <app-date-picker [(value)]="formdata.StartDate" placeholder="Start Date" name="StartDate"
                                required="true" [form]="form"> </app-date-picker>
                        </div>
                        <div class="col-md-4">
                            <app-date-picker [(value)]="formdata.EndDate"  [minDate]="formdata.StartDate" placeholder="End Date" name="EndDate"
                                required="true" [form]="form"> </app-date-picker>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select matInput placeholder="Status" #NewsStatus="ngModel"
                                    [(ngModel)]="formdata.NewsStatus" name="NewsStatus" required>
                                    <mat-option [value]="0">Hide</mat-option>
                                    <mat-option [value]="1">Display</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
    <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisible" [showCloseButton]="true">
        <textarea   [(ngModel)]="formdata.NewsDescription" name="NewsDescription" style="height:100% !important; width: 100%; display: block; border:0px;"  ></textarea>
    </dx-popup>
    <div mat-dialog-actions align="center">
        <button type="button" mat-dialog-close class="btn btn-primary btn-sm modalclose">Close</button>

        <button type="submit" class="btn btn-primary btn-sm btn-cust" (click)="add(form)" *ngIf="permission>1" [disabled]="flagdisabled">{{btnLabel}}</button>

    </div>
</form>