<div class="{{ isPage? 'main-content':'' }}">
  <div class="container-fluid">
    <div class="row">


      <div class="col-12">

        <div class="card">
          <div class="card-body">

            <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
              [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
              (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true"
              (onRowClick)="edit($event.data.ApplicationId)" (onExporting)="activitylog()">
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>

              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
              </dxo-pager>

              <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

              <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

              <dxo-export [enabled]="excel_permisson > 0" fileName="{{this.parentName}} Evaluation Form"></dxo-export>

              <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
              </dxo-column-chooser>

              <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" [minWidth]="100"
                [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">

              </dxi-column>

              <dxi-column caption="status" [minWidth]="50" cellTemplate="statusCellTemplate">


              </dxi-column>

              <dxi-column caption="Action" [allowExporting]="false" [minWidth]="50" cellTemplate="actionCellTemplate">

              </dxi-column>
              <div *dxTemplate="let d of 'statusCellTemplate'">

                <span
                  [ngClass]="{'text-danger':d.data.ApplicationStatus===2,'text-success':d.data.ApplicationStatus===3,'text-info':d.data.ApplicationStatus<2}">{{ getName( agentEvolutionFormStatusList,d.data.ApplicationStatus)}}</span>
                <!-- <span>{{d.data.StatusRemark}}</span> -->

              </div>


              <div *dxTemplate="let d of 'actionCellTemplate'">

                <button mat-icon-button type="button" (click)="$event.stopPropagation(); printApplication(d.data.ApplicationId)"
                  class="btn btn-primary btn-link" mat-raised-button>
                  <mat-icon>print</mat-icon>
                </button>
                <!-- <button type="button" mat-icon-button class="text-danger"
                    (click)="$event.stopPropagation(); deleteContact(d.data.ApplicationId);" *ngIf="permission>2 && currentUser.RoleType!=2 && (currentUser.RoleId===2 && d.data.ApplicationStatus===-1) ">
                    <mat-icon>close</mat-icon>
                </button> -->

                <button (click)="$event.stopPropagation(); delete(d.data.ApplicationId)" mat-icon-button type="button" class="text-danger"
                  *ngIf="permission>2 && currentUser.RoleType!=2 && ((currentUser.RoleId===2 && d.data.ApplicationStatus===-1) || (currentUser.RoleType===1  && d.data.ApplicationStatus===-1) )">
                  <mat-icon>close</mat-icon>
                </button>

              </div>

              <div *dxTemplate="let d of 'toolbarButton'">
                <button class="text-danger" (click)="add()" mat-icon-button *ngIf="showAddButton" data-toggle="tooltip" title="New">
                  <mat-icon>add</mat-icon>
                </button>

                <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
                  <mat-icon>filter_list</mat-icon>
                </button>

              </div>

            </dx-data-grid>
            <!-- <div class="table-responsive">
              <table mat-table #table [dataSource]="dataList" class="table">
                <tr mat-header-row *matHeaderRowDef="columnToDisplay" class="text-primary">
                </tr>
                <tr mat-row *matRowDef="let row; columns:columnToDisplay"></tr>
                <ng-container matColumnDef="Institution">
                  <th mat-header-cell *matHeaderCellDef [hidden]="currentUser.RoleType===2" >Institution </th>
                  <td mat-cell *matCellDef="let institute" [hidden]="currentUser.RoleType===2">{{institute.InstName}}</td>
                </ng-container>

                 <ng-container matColumnDef="RegionOfMarketing">
                  <th mat-header-cell *matHeaderCellDef>Region </th>
                  <td mat-cell *matCellDef="let institute">{{institute.RegionOfMarketing}}</td>
                </ng-container> 

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let institute">
                    <span  [ngClass]="{'text-danger':institute.ApplicationStatus===2,'text-success':institute.ApplicationStatus===3,'text-info':institute.ApplicationStatus<2}">{{ getName( agentEvolutionFormStatusList,institute.ApplicationStatus)}}</span>
                    <span>{{institute.StatusRemark}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef class="td-actions text-right" style="padding-right: 0px;"> 
                    <button mat-mini-fab class="pull-right"
                    (click)="add()" type="button"  *ngIf="showAddButton"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </th>
                  <td mat-cell *matCellDef="let institute" class="td-actions text-right" style="padding-right: 0px; ">

                    <a target="_blank" href="#/print?agentapplication={{institute.ApplicationId}}"  class="btn btn-primary btn-link"  mat-raised-button >
                      <mat-icon>print</mat-icon>
                    </a>

                    <button (click)="edit(institute.ApplicationId)" mat-raised-button="" type="button"
                      *ngIf="permission>1 && currentUser.RoleType!=2" class="btn btn-success btn-link">
                      <span class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                      <div class="mat-button-ripple mat-ripple" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                    </button>


                    <button (click)="delete(institute.ApplicationId)" mat-raised-button="" type="button" 
                    *ngIf="permission>2 && currentUser.RoleType!=2 && (currentUser.RoleId===2 && institute.ApplicationStatus===-1) "
                                    class="btn btn-danger btn-link"  >
                                    <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                    <div class="mat-button-focus-overlay"></div>
                                  </button>

                  </td>
                </ng-container>
              </table>
            </div> -->
          </div>
        </div>


      </div>


    </div>
  </div>


</div>

<!-- Script For Tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>