<form #form="ngForm" class="new-design">
    <div mat-dialog-title>
        Form Control
        <button class="close text-white" type="button" mat-dialog-close aria-label="Close"><span
                aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <textarea matInput placeholder="Title" [(ngModel)]="formdata.ControlLabel" #ControlLabel="ngModel"
                        name="ControlLabel"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select matInput placeholder="Type" [(ngModel)]="formdata.ControlType" #ControlType="ngModel"
                        name="ControlType" required>
                        <mat-option value="section">section (heading,content,text without content)
                        </mat-option>
                        <mat-option value="text">text</mat-option>
                        <mat-option value="multiline">multiline</mat-option>
                        <mat-option value="date">date</mat-option>
                        <mat-option value="number">number</mat-option>
                        <mat-option value="file">file</mat-option>
                        <mat-option value="radio">radio</mat-option>
                        <mat-option value="checkbox">checkbox</mat-option>
                        <mat-option value="select">drop down/select</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <mat-form-field>
                    <mat-label>Row number</mat-label>
                    <input matInput placeholder="Row number" type="number" [(ngModel)]="formdata.RowNumber"
                        #RowNumber="ngModel" name="RowNumber" required />
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <mat-form-field>
                    <mat-label>Column number</mat-label>
                    <input matInput placeholder="Column number" type="number" [(ngModel)]="formdata.ColumnNumber"
                        #RowNumber="ngModel" name="ColumnNumber" required />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>control class</mat-label>
                    <input matInput placeholder="control class" type="text" [(ngModel)]="formdata.Data.controlClass"
                        #controlClass="ngModel" name="controlClass" />
                </mat-form-field>
            </div>
            <div class="col-md-2" *ngIf="formdata.ControlType!='section'">
                <mat-form-field>
                    <mat-label>Template Field</mat-label>
                    <input matInput placeholder="Template Field" type="text" [(ngModel)]="formdata.Data.templateField"
                        #templateField="ngModel" name="templateField" />
                </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="formdata.ControlType!='section'">
                <mat-form-field>
                    <mat-label>Required</mat-label>
                    <mat-checkbox [(ngModel)]="formdata.Data?.validation?.required.value" name="RequiredValue"
                        #RequiredValue="ngModel" matPrefix>&nbsp;</mat-checkbox>
                    <input matInput placeholder="Required/Required Message" type="text"
                        [(ngModel)]="formdata.Data?.validation?.required.message" #RequiredMessage="ngModel"
                        name="RequiredMessage" [disabled]="!formdata.Data.validation.required.value" />
                </mat-form-field>
            </div>

            <div class="col-md-3"
                *ngIf="formdata.ControlType==='text' || formdata.ControlType==='number' || formdata.ControlType==='multiline'  ">
                <mat-form-field>
                    <mat-label>Pattern/Regex</mat-label>
                    <input matInput placeholder="Pattern" type="text"
                        [(ngModel)]="formdata.Data?.validation?.pattern.value" #PatternValue="ngModel"
                        name="PatternValue" />
                </mat-form-field>
            </div>

            <div class="col-md-3"
                *ngIf="formdata.ControlType==='text' || formdata.ControlType==='number' || formdata.ControlType==='multiline'  ">
                <mat-form-field>
                    <mat-label>Pattern Message</mat-label>
                    <input matInput placeholder="Pattern Message" type="text"
                        [(ngModel)]="formdata.Data?.validation?.pattern.message" #PatternMessage="ngModel"
                        name="PatternMessage" [disabled]="!formdata.Data?.validation?.pattern.value" />
                </mat-form-field>
            </div>

            <div class="col-md-1" *ngIf="formdata.ControlType==='number'">
                <mat-form-field>
                    <mat-label>Min Value</mat-label>
                    <input matInput placeholder="Min Value" type="number"
                        [(ngModel)]="formdata.Data?.validation?.minValue.value" #MinValueValue="ngModel"
                        name="MinValueValue" />
                </mat-form-field>
            </div>

            <div class="col-md-3" *ngIf="formdata.ControlType==='number'">
                <mat-form-field>
                    <mat-label>Min Value Message</mat-label>
                    <input matInput placeholder="Min Value Message" type="text"
                        [(ngModel)]="formdata.Data?.validation?.minValue.message" #minValueMessage="ngModel"
                        name="minValueMessage" [disabled]="!formdata.Data?.validation?.minValue.value" />
                </mat-form-field>
            </div>

            <div class="col-md-1" *ngIf="formdata.ControlType==='number'">
                <mat-form-field>
                    <mat-label>Max Value</mat-label>
                    <input matInput placeholder="Max Value" type="number"
                        [(ngModel)]="formdata.Data?.validation?.maxValue.value" #MaxValueValue="ngModel"
                        name="MaxValueValue" />
                </mat-form-field>
            </div>

            <div class="col-md-3" *ngIf="formdata.ControlType==='number'">
                <mat-form-field>
                    <mat-label>Max Value Message</mat-label>
                    <input matInput placeholder="Max Value Message" type="text"
                        [(ngModel)]="formdata.Data?.validation?.maxValue.message" #MaxValueMessage="ngModel"
                        name="MaxValueMessage" [disabled]="!formdata.Data?.validation?.maxValue.value" />
                </mat-form-field>
            </div>


            <div class="col-md-1"
                *ngIf="formdata.ControlType==='text' || formdata.ControlType==='number' || formdata.ControlType==='multiline' ">
                <mat-form-field>
                    <mat-label>Min Input Length</mat-label>
                    <input matInput placeholder="Min Input Length" type="number"
                        [(ngModel)]="formdata.Data?.validation?.minLength.value" #minLengthValue="ngModel"
                        name="minLengthValue" />
                </mat-form-field>
            </div>

            <div class="col-md-3"
                *ngIf="formdata.ControlType==='text' || formdata.ControlType==='number' || formdata.ControlType==='multiline' ">
                <mat-form-field>
                    <mat-label>Min Input Message</mat-label>
                    <input matInput placeholder="Min Input Message" type="text"
                        [(ngModel)]="formdata.Data?.validation?.minLength.message" #minLengthMessage="ngModel"
                        name="minLengthMessage" [disabled]="!formdata.Data?.validation?.minLength.value" />
                </mat-form-field>
            </div>


            <div class="col-md-1"
                *ngIf="formdata.ControlType==='text' || formdata.ControlType==='number' || formdata.ControlType==='multiline' ">
                <mat-form-field>
                    <mat-label>Max Input Length</mat-label>
                    <input matInput placeholder="Max Input Length" type="number"
                        [(ngModel)]="formdata.Data?.validation?.maxLength.value" #maxLengthValue="ngModel"
                        name="maxLength" />
                </mat-form-field>
            </div>

            <div class="col-md-3"
                *ngIf="formdata.ControlType==='text' || formdata.ControlType==='number' || formdata.ControlType==='multiline' ">
                <mat-form-field>
                    <mat-label>Max Input Message</mat-label>
                    <input matInput placeholder="Max Input Message" type="text"
                        [(ngModel)]="formdata.Data?.validation?.maxLength.message" #maxLengthMessage="ngModel"
                        name="maxLengthMessage" [disabled]="!formdata.Data?.validation?.maxLength.value" />
                </mat-form-field>
            </div>

            <div class="col-md-12" *ngIf="formdata.ControlType==='select' || formdata.ControlType==='radio'">
                <mat-form-field>
                    <mat-label>Option</mat-label>
                    <mat-chip-list #chipList aria-label="Option">
                        <mat-chip *ngFor="let option of formdata.Data.option" [selectable]="true" [removable]="true"
                            (removed)="removeOption(option)">
                            {{option}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New Option..." [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addOption($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <label> Control Preview</label>
            </div>
        </div>
        <div class="row"  >
            <div class="col-md-12">
                <form #previewForm="ngForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div app-msm-form-control class="{{formdata.Data.controlClass}}" [control]="formdata"
                                    [form]="previewForm">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="center">
        <button mat-dialog-close class="btn btn-sm btn-primary modalclose">Close</button>
        <button type="submit" (click)="add(form)" class="btn btn-sm btn-primary btn-cust">{{btnLabel}}</button>
    </div>

</form>