<div class="container-fluid new-design">


  <!-- Content Row -->

  <!-- <app-country-map></app-country-map> -->
  <div class="row">
    <div class="col-12">
      <app-student-application-growth></app-student-application-growth>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <app-actionable-alerts></app-actionable-alerts>
    </div>
  </div> -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-12">
      <app-program-highest-application></app-program-highest-application>
    </div>
  </div>


  <div class="row">
    <!-- <div class="col-md-6">
    <app-month-wise-applicatin-chart></app-month-wise-applicatin-chart>
  </div> -->
    <div class="col-md-12">
      <app-market-activity-chart></app-market-activity-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-status-wise-application-count-display></app-status-wise-application-count-display>
    </div>
  </div>





  <!-- Content Row -->






  <!-- Script For Tooltip -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>