<div class="main-content new-design">
    <div class="card">
        <div class="card-body">

            <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
            [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
            (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true"  (onRowClick)="add($event.data.NotificationId)" (onExporting)="activitylog()">
        
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>

            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
            </dxo-pager>
        
            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
        
            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        
            <dxo-export [enabled]="excel_permisson > 0" fileName="Notifications"></dxo-export>
        
            <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
            </dxo-column-chooser>
        
            <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" 
                [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">
            </dxi-column>
        
            <dxi-column caption="Enabled"  cellTemplate="enableCellTemplate">
        
            </dxi-column>
        
            <dxi-column caption="Action" [allowExporting]="false" [fixed]="true" fixedPosition="right" [minWidth]="75" cellTemplate="actionCellTemplate">
        
            </dxi-column>
        
            <div *dxTemplate="let d of 'enableCellTemplate'">
        
                <mat-checkbox [checked]="d.data.NotificationStatus===1" 
                                        [disabled]="true"></mat-checkbox>
            </div>
        
        
            <div *dxTemplate="let d of 'actionCellTemplate'">
        
                <button type="button" mat-icon-button class="text-danger"
                    (click)="$event.stopPropagation(); delete(d.data.NotificationId)" *ngIf="permission>2"  data-toggle="tooltip" title="Delete">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        
            <div *dxTemplate="let d of 'toolbarButton'">
                <button class="text-danger"  (click)="add()" mat-icon-button  *ngIf="permission>1" data-toggle="tooltip" title="New">
                    <mat-icon>add</mat-icon>
                </button>
        
                <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
                    <mat-icon>filter_list</mat-icon>
                </button>
        
            </div>
        
        </dx-data-grid>
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive ">
            
                            <table mat-table #table [dataSource]="dataList" class="table mat-elevation-z8">
                                <tr mat-header-row *matHeaderRowDef="columnToDisplay" class="text-primary">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns:columnToDisplay"></tr>
                                <ng-container matColumnDef="Subject">
                                    <th mat-header-cell *matHeaderCellDef>Subject </th>
                                    <td mat-cell *matCellDef="let institute">
                                       <a class="link" (click)="add(institute.NotificationId)">{{institute.SubjectLine}}</a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Sender" >
                                    <th mat-header-cell *matHeaderCellDef>Sender </th>
                                    <td mat-cell *matCellDef="let institute"> {{ institute.SenderName }} </td>
                                </ng-container>
            
                                <ng-container matColumnDef="Region" >
                                    <th mat-header-cell *matHeaderCellDef>Region </th>
                                    <td mat-cell *matCellDef="let institute"> {{ institute.Region }} </td>
                                </ng-container>

                                <ng-container matColumnDef="Institution" >
                                    <th mat-header-cell *matHeaderCellDef>Institution </th>
                                    <td mat-cell *matCellDef="let institute"> {{ institute.Institution  }} </td>
                                </ng-container>


                                <ng-container matColumnDef="Schedule" >
                                    <th mat-header-cell *matHeaderCellDef>Schedule </th>
                                    <td mat-cell *matCellDef="let institute"> 
                                        <span *ngIf="institute.SendSchedule===0">Every Month
                                        </span>

                                        <span *ngIf="institute.SendSchedule===1">Every Week
                                        </span>

                                        <span *ngIf="institute.SendSchedule===2">Every Day </span>

                                        </td>
                                </ng-container>
            
                               
            
                                <ng-container matColumnDef="Enabled" >
                                    <th mat-header-cell *matHeaderCellDef class="text-center">Enabled </th>
                                    <td mat-cell *matCellDef="let institute" class="text-center"> 
                                        <mat-checkbox [checked]="institute.NotificationStatus===1" 
                                        [disabled]="true"
                                        ></mat-checkbox>
                                    </td>
                                </ng-container>
            
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef class="td-actions text-right">
                                        <button mat-mini-fab type="button" *ngIf="permission>1" (click)="add()" class="pull-right"
                                            style="margin-right: 10px;"  >
                                            <i class="material-icons">add</i>
                                          </button> 
                                    </th>
                                    <td mat-cell *matCellDef="let institute" class="td-actions text-right"
                                        style="padding-right: 0px;">

                                        <button (click)="delete(institute.NotificationId)" mat-raised-button="" 
                                        *ngIf="permission>2"
                                            type="button" class="btn btn-danger btn-link"  >
                                            <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </button>
            
                                    </td>
                                </ng-container>
            
                            </table>
                            <mat-paginator [pageSizeOptions]="[10,25, 50, 100]" showFirstLastButtons
                            [hidden]="!dataList || dataList?.data.length<=10" 
                            ></mat-paginator>
                        </div>
                    </div>
            
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>