<div class="main-content new-design">
  <div class="card">
    <div class="card-body pt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <form #form="ngForm" class="form">
              <div class="card card-login">
                <div class="card-header card-header-danger text-center">
                  <h4 class="card-title">Change Password</h4>
                 
                </div>
                <div class="card-body ">
                 
                  <mat-form-field>
                    <mat-label>Current Password</mat-label>
                      <input matInput type="password"   placeholder="Current Password"
                      #CurrentPassword="ngModel" [(ngModel)]="formdata.CurrentPassword" name="CurrentPassword"
                      required minlength="3" maxlength="50"
                      >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>New Password</mat-label>
                      <input matInput type="password"   placeholder="New Password"
                      #NewPassword="ngModel" [(ngModel)]="formdata.NewPassword" name="NewPassword"
                      required minlength="3" maxlength="50"
                      >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                      <input matInput type="password"  placeholder="Confirm Password"
                      #ConfirmPassword="ngModel" [(ngModel)]="confirmPassword" name="ConfirmPassword"
                      required minlength="3" maxlength="50" [appConfirmPassword]="formdata.NewPassword"
                      >
                      <mat-error *ngIf="ConfirmPassword.hasError('ConfirmPassword')">confirm password not matched with new password</mat-error>
                  </mat-form-field>
                 
                  <p class="text-center text-danger" *ngIf="loginerror" >{{loginerror}}</p>
                </div>
                <div class="card-footer justify-content-center" >
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="doChangePassword(form)" [disabled]="form.invalid"  >Change</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   
</div>
