<form #form="ngForm" class="new-design">
    <div mat-dialog-title>
      Add Institute
      <button class="close text-white" type="button" aria-label="Close" (click)="cancel()"><span
          aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>
      <div class="row">
        <div class="col-md-12">             
          <mat-form-field>
            <mat-label>Institution</mat-label>
            <mat-select matInput placeholder="Institution" #InstitutionId="ngModel" [(ngModel)]="formdata.InstitutionId"
              name="InstitutionId" required
              pattern="^[1-9]\d*$">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="instFilter" [placeholderLabel]="'Search...'" 
                  [noEntriesFoundLabel]="'Not found'" name="instFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let institute of institutionList | stringFilterBy:instFilter:'InstName';  trackByProperty: 'InstitutionId' " [value]="institute.InstitutionId">
                {{institute.InstName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="InstitutionId.hasError('pattern') || InstitutionId.hasError('required')">Institution
              required</mat-error>
          </mat-form-field>
        </div>
      </div>
  
  
    </div>
    <div mat-dialog-actions align="center">
      <button type="button" (click)="cancel()" class="btn btn-sm btn-primary modalclose">cancel</button>
      <button type="button" (click)="addAssociateInstitute()" class="btn btn-sm btn-primary btn-cust"
        [disabled]="!form.valid">Add</button>
  
      <!-- <button type="button" (click)="cancel()" class="btn btn-sm btn-primary modalclose">cancel</button>
      <button type="button" (click)="upload()" class="btn  btn-sm btn-primary"
        [disabled]="(!form.valid  || !DocumentFile) || flagdisable">Add</button> -->
    </div>
  </form>