<form #form="ngForm" (submit)="onSubmit(form)" class="new-design">
    <div mat-dialog-title>
        Feedback
        <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>
        <mat-form-field>
            <textarea matInput [(ngModel)]="formdata.Message" name="Message" #Message="ngModel" placeholder="Your Feedback" rows="10"
            required [pattern]="modelPattern.alphaNumericWithSpecialCharacters"
            >

            </textarea>
            <mat-error *ngIf="Message.hasError('required')">Enter feedback</mat-error>
            <mat-error *ngIf="Message.hasError('pattern')">Enter valid feedback</mat-error>
        </mat-form-field>
       
        <mat-checkbox (change)="onScreenshotCheckChange($event.checked)" >Include screenshot</mat-checkbox>

        <img [src]="this.formdata.AttachmentPath" class="img-fluid" />
       
    </div>
    <div mat-dialog-actions align="center">
        <button type="button" class="btn btn-sm btn-primary modalclose" mat-dialog-close>Close</button>
        <button type="submit" class="btn btn-sm btn-primary btn-cust" [disabled]="form.invalid">Submit</button>
    </div>
</form>