<div class="new-design">
<div mat-dialog-title>
  Select Student
  <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div mat-dialog-content>

  <form #form="ngForm" (submit)="onsubmit()">

    <mat-form-field class="search-field">
      <mat-label>Keyword</mat-label>
      <input matInput name="keyword" [(ngModel)]="keyword" aria-label="Keyword"  required>
      <mat-error *ngIf="keyworderror">{{keyworderror}}</mat-error>
      <mat-hint>search by name or email</mat-hint>
      <button matSuffix type="submit" class="btn btn-danger btn-sm" mat-raised-button="">Search</button>
      
    </mat-form-field>

    

  </form>

  <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
    [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
    (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true"  (onRowClick)="close($event.data.StudentId)"  (onExporting)="activitylog()">

    <dxo-filter-panel [visible]="true"></dxo-filter-panel>

    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
    </dxo-pager>

    <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

    <dxo-export [enabled]="excel_permisson > 0" fileName="Eligibility Test Select Student"></dxo-export>

    <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
    </dxo-column-chooser>

    <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" [minWidth]="100"
        [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">
    </dxi-column>

    <!-- <dxi-column caption="Action" [minWidth]="50" cellTemplate="actionCellTemplate">
    </dxi-column> -->

 
 

    <!-- <div *dxTemplate="let d of 'actionCellTemplate'">
      <button class="btn btn-danger btn-link" mat-raised-button="" mat-dialog-close="{{d.data.StudentId}}"
      color="primary">
      Select
    </button>
    </div> -->

    <div *dxTemplate="let d of 'toolbarButton'">

        <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
            <mat-icon>filter_list</mat-icon>
        </button>

    </div>

</dx-data-grid> 

  <!-- <div class="table-responsive">
      <table mat-table #table [dataSource]="studentList" class="table mat-elevation-z8" *ngIf="studentList && studentList.data.length>0">
          <tr mat-header-row *matHeaderRowDef="columnToDisplay" class="text-primary">
          </tr>
          <tr mat-row *matRowDef="let row; columns:columnToDisplay"></tr>
      
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>Name </th>
            <td mat-cell *matCellDef="let institute">{{institute.FirstName}} {{institute.MiddleName}} {{institute.LastName}}
           </td>
          </ng-container>
      
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email </th>
            <td mat-cell *matCellDef="let institute">{{institute.Email}}</td>
          </ng-container>
                  
                  
          <ng-container matColumnDef="MobileNo">
                <th mat-header-cell *matHeaderCellDef>Mobile No</th>
                <td mat-cell *matCellDef="let institute">{{institute.MobileNo}}</td>
          </ng-container>
      
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>City </th>
            <td mat-cell *matCellDef="let institute">{{institute.City}}</td>
          </ng-container>
      
          <ng-container matColumnDef="Education">
            <th mat-header-cell *matHeaderCellDef>Education </th>
            <td mat-cell *matCellDef="let institute">{{institute.EduLevelName}}</td>
          </ng-container>
      
      
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
            <td mat-cell *matCellDef="let institute" class="td-actions text-right" style="padding-right: 0px;">
              <button class="btn btn-danger btn-link" mat-raised-button="" mat-dialog-close="{{institute.StudentId}}"
                color="primary">
                Select
              </button>
      
           </td>
          </ng-container>
      
        </table>
  </div> -->

 

  <!-- <div class="alert alert-danger" *ngIf="studentList && studentList.data.length===0">
    Not found
  </div> -->

</div>
<div mat-dialog-actions align="center">
  <button class="btn btn-primary btn-sm modalclose" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary btn-sm btn-cust" mat-dialog-close="0">New Student</button>
</div>
</div>

<!-- Script For Tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>