<li class="nav-item" routerLinkActive="active" *ngFor="let menu of menuItem">
    <a class="nav-link child-menu" data-toggle="collapse"   routerLink="{{menu.Url}}" 
    *ngIf="!(menu.child)">
        <span class="sidebar-normal">{{menu.Title}}</span>
    </a>

    <ng-container *ngIf="menu.child"> 
        <a class="nav-link" data-toggle="collapse" href="#show-{{menu.Title.replace(' ','-')}}" >
            <p class="mainmenu">{{menu.Title}}<b class="caret" *ngIf="menu.child.length>0" ></b></p>
        </a>
        <div class="collapse" id="show-{{menu.Title.replace(' ','-')}}" >
            <ul class="nav nav-border">
                <app-menu-item [menuItem]="menu.child"></app-menu-item>
            </ul>
        </div>
    </ng-container>

   
</li>