<form #form="ngForm" class="new-design">
    <div mat-dialog-title>
        {{label}}
        <button class="close text-white" type="button" [mat-dialog-close]="" aria-label="Close"><span
                aria-hidden="true">×</span></button>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" (click)="showAdvance=false;" [hidden]="!showAdvance" class="btn btn-sm btn-danger"
                mat-raised-button>Basic</button>
        </div>
    </div>


    <div mat-dialog-content [hidden]="showAdvance">
        <div class="container-fluid">

            <dx-data-grid [dataSource]="reportData?.data" [showBorders]="true" [allowColumnResizing]="true"
                [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage"
                [columnAutoWidth]="true" [showColumnHeaders]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
                (onExporting)="activitylog()">
                <dxo-filter-panel [visible]="true"></dxo-filter-panel>

                <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
                </dxo-pager>


                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                <dxo-export [enabled]="excel_permisson > 0" fileName="{{this.parentName}} {{label}}"></dxo-export>

                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

                <dxi-column *ngFor="let item of reportData?.columns" [dataField]="item.columnDef | sentenceCase"
                    [minWidth]="100" [caption]="item.header | sentenceCase " [dataType]="item.type"
                    [format]="item.format">

                </dxi-column>

                <dxi-column caption="Action" [allowExporting]="false" [fixed]="true" fixedPosition="right" [width]="90"
                    cellTemplate="actionCellTemplate" *ngIf="reportData?.hasAttachment">

                </dxi-column>
                <div *dxTemplate="let d of 'actionCellTemplate'">
                    <a target="_blank" mat-menu-item class=" text-info" (click)="$event.stopPropagation();"
                        href="{{filepath+d.data.DocPath}}" color="primary" data-toggle="tooltip" title="View"><span
                            class="material-icons icon-position">
                            remove_red_eye
                        </span>
                    </a>

                </div>

                <div *dxTemplate="let d of 'toolbarButton'">
                    <ng-container *ngIf="true">
                        <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button
                            data-toggle="tooltip" title="Apply Filter">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </ng-container>
                </div>

                <div *dxTemplate="let d of 'toolbarButton'">
                    <ng-container *ngIf="this.subReport ==='weekly-dashboard'?false : true">
                        <button type="button" (click)="showAdvance=true;" [hidden]="showAdvance"
                            class="btn btn-sm btn-danger">Advance</button>

                        <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button
                            data-toggle="tooltip" title="Apply Filter">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </ng-container>
                </div>


            </dx-data-grid>


        </div>
    </div>



    <div mat-dialog-content [hidden]="!showAdvance">
        <div class="container-fluid">
            <div class="col-md-12 mb-5">
                <dx-chart id="sales-chart">
                    <dxo-common-series-settings type="bar"></dxo-common-series-settings>
                    <dxo-size [height]="320"></dxo-size>
                    <dxo-adaptive-layout [width]="450"></dxo-adaptive-layout>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                </dx-chart>
            </div>

            <div class="col-md-12">
                <dx-pivot-grid id="sales" [allowSortingBySummary]="true" [allowSorting]="true" [allowFiltering]="true"
                    [showBorders]="true" [dataSource]="reportData?.data" (onExporting)="activitylog()">

                    <dxi-column *ngFor="let item of reportData?.columns" [dataField]="item.columnDef " [width]="140"
                        [caption]="item.header | sentenceCase">

                    </dxi-column>

                    <dxo-export [enabled]="excel_permisson > 0" fileName="{{this.parentName}} {{label}}"></dxo-export>

                    <dxo-field-chooser [height]="500"></dxo-field-chooser>

                    <dxo-field-panel [showDataFields]="true" [showRowFields]="true" [showColumnFields]="true"
                        [showFilterFields]="true" [allowFieldDragging]="true" [visible]="true">
                    </dxo-field-panel>
                </dx-pivot-grid>
            </div>
        </div>
    </div>


</form>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>