<div class="main-content">
    <div class="card mx-5">
      <div class="card-body " *ngIf="!result">
         <progress  ></progress>
         <p>please wait validating your request</p>
      </div>
      <div class="card-body mx-3" *ngIf="result">
          <p class="text-success" *ngIf="result==='OK'"> Your request validated successfully <br /> 
            <a routerLink="/signin">click here for login</a> </p>
            <p class="text-danger"  *ngIf="result!='OK'">
                {{result}}
            </p>
      </div>
    </div>
</div>