<div class="file-input-box">


    <label>{{label}}</label>
    <div class="d-flex flex-row justify-content-between ">
      <div *ngIf="initialFilePath" class="flex-grow-1 ">
        <a mat-icon-button target="_blank" href="{{filepath+dir+'/'+initialFilePath}}">
          <mat-icon>visibility</mat-icon>
        </a>
      </div>
      <div class="flex-grow-1" *ngIf="file">
        <span>{{file.name}}</span>
      </div>
      <div class="boder">
        <button mat-icon-button type="button" class="text-info" (click)="changeFile()">
          <mat-icon>folder</mat-icon>
        </button>
        <input id="{{controlName}}" type="file" (change)="onFileChange($event)" [name]="controlName" accept="{{fileType}}"
          style="display: none;" [required]="required && !initialFilePath" 
            ngModel
           #FileUpload1="ngModel" >
        <mat-error *ngIf="sizeerror">{{sizeerror}}</mat-error>
        <mat-error *ngIf="FileUpload1.hasError('required')">File upload required</mat-error>
      </div>
    </div>
  </div>