<div class="main-content new-design">

    <div class="container-fluid mt-4" *ngIf="formdata">
        <mat-accordion multi *ngIf="flowBar.length>0">
            <mat-expansion-panel class="mb-4">
                <mat-expansion-panel-header>
                    <div id="crumbs" class="mt-2">
                        <ul>
                            <li *ngFor="let item of shortFlowBar;let i=index">
                                <span
                                    [ngClass]="{'active': i===shortFlowBarActiveIndex,'complete':i<shortFlowBarActiveIndex}">{{item.text}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel-header>


                <div class="container-fluid pl-0 pr-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="crumbs">
                                <ul>
                                    <li *ngFor="let item of flowBar;let i=index">
                                        <span
                                            [ngClass]="{'active': i===flowBarActiveIndex,'complete':i<flowBarActiveIndex}">{{item.text}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <div class="card" *ngIf="formdata">
            <div class="card-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4" *ngIf="permission>1">
                            <mat-form-field>
                                <mat-label>Status</mat-label>
                                <mat-select matInput placeholder="Status" #StatusId="ngModel"
                                    [ngModel]="statusReplyData.StatusId" name="StatusId" [disabled]="permission<2"
                                    (selectionChange)="onStatusReply($event , item)">
                                    <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="statusFilter"
                                            [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                            name="statusFilter"></ngx-mat-select-search>
                                    </mat-option>
                                    <ng-container
                                        *ngFor="let item of applicationStatusListForDropDown | stringFilterforMultiBy:statusFilter:'text': 'child'">
                                        <mat-optgroup [label]="item.title"  >
                                            <ng-container *ngFor="let child of item.child">
                                                <mat-option [value]="child.value"
                                                    >
                                                    {{child.text}}</mat-option>
                                            </ng-container>
                                        </mat-optgroup>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Student ID</mat-label>
                                <input matInput placeholder="Student ID" #inputEnroll="ngModel"
                                    [(ngModel)]="enrollmentData.EnrollmentNo" name="EnrollmentNo" maxlength="50"
                                    [disabled]="permission<2 || currentUser.RoleId===2 || currentUser.RoleId===3 || isEdit"
                                    [pattern]="modelPattern.studentID">
                                <button mat-raised-button
                                    *ngIf="currentUser.RoleId!=2 && currentUser.RoleId!=3 && permission>1 && !isEdit"
                                    type="button" matSuffix class="btn btn-danger" style="bottom: .50em;"
                                    (click)="updateEnrollmentNo()"
                                    [disabled]="checkCondition(inputEnroll?.hasError('pattern'))">Update</button>
                                <button mat-raised-button *ngIf="isEdit" type="button" matSuffix class="btn btn-danger"
                                    style="bottom: .50em;" (click)="onEditEnrollBtnClick($event)"><i
                                        class="fa fa-edit"></i></button>
                                <button mat-raised-button *ngIf="isEdit" type="button" matSuffix
                                    class="btn btn-danger ml-1" style="bottom: .50em;" (click)="deleteEnrollmentNo()"><i
                                        class="fa fa-trash" aria-hidden="true"></i></button>
                                <mat-error *ngIf="inputEnroll?.hasError('pattern')"> Please enter valid ID</mat-error>

                            </mat-form-field>
                        </div>

                        <!-- <div class="col-md" *ngIf="currentUser.RoleType===1">
                            <mat-checkbox [(ngModel)]="formdata.programInfo.ReviewStatus" name="ReviewStatus"
                                [disabled]="permission<2" (change)="updateReviewStatus()">
                                Review Done
                            </mat-checkbox>
                        </div> -->
                        


                        <div class="col-md-2"
                            *ngIf="formdata.programInfo?.isSubmited===0 && permission>1 && currentUser.RoleType!=2">
                            <div class="d-flex justify-content-end">
                                <button mat-raised-button type="button" class="btn btn-danger" (click)="submit()">Submit
                                    Application</button>
                            </div>
                        </div>
                        <div class="col-md-2 "
                            *ngIf=" formdata.programInfo?.isSubmited===1 &&  formdata.programInfo?.isSubmitedToInstitute===0 && permission>1 && currentUser.RoleType!=2  && currentUser.RoleId!=2 && currentUser.RoleId!=3 ">
                            <div class="d-flex justify-content-end">
                                <button mat-raised-button type="button" class="btn btn-danger"
                                    (click)="submitToInstitute()">Submit To
                                    Institute</button>
                            </div>
                        </div>



                        <div class="col-md text-right" *ngIf="printavail?.PrintFormatName?.length>0" >
                            <button id="btnPrint" (click)="printApplication(id)" class="btn btn-danger">
                                <mat-icon>print</mat-icon>
                            </button>
                        </div>
                        
                    </div>
                      <div class="row" *ngIf="currentUser.RoleType===1">
                        <div class="col-md-4">
                          <mat-form-field>
                            
                                <mat-label>Review</mat-label>
                                <mat-select matInput placeholder="Review" #ReviewStId="ngModel"
                                    [(ngModel)]="formdata.programInfo.ReviewStatus" name="ReviewStId" [disabled]="permission<2"
                                    (selectionChange)="updateReviewStatus($event)"  >
                                    <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="reviewFilter"
                                            [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                            name="statusFilter"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let item of reviewList | stringFilterBy:reviewFilter:'ReviewStName';  trackByProperty: 'ReviewStId' "
                                              [value]="item.ReviewStId">
                                            {{item.ReviewStName}}</mat-option>
                            </mat-select>
                       </mat-form-field> 
                        </div>
                   
                        <form #form="ngForm" class="form_ds">
                            <div class="col-md-2" style="margin-top: 2%;" >
                                <mat-checkbox [(ngModel)]="formdata.deferredInfo.IsDeferred" #IsDeferred="ngModel" name="IsDeferred" (change)="onChange($event)" [disabled]="show_label">Deferred <span for="" style="font-family:Roboto, sans-serif" *ngIf="show_label && formdata.deferredInfo.IsDeferred">To {{formdata.deferredInfo.NewIntakeName}}</span></mat-checkbox>
                            </div>
    
                                <!-- <div class="col-md-3" *ngIf="show_label && formdata.deferredInfo.IsDeferred" style="margin-top: 2%;"> -->
                                    <!-- <span class="studentlabel">
                                       
                                    </span> -->
                                    
                                <!-- </div> -->
                        
                            <div class="col-md-3" *ngIf="formdata.deferredInfo.IsDeferred && !(show_label)">                         
                                    <mat-form-field>
                                        <mat-label>Intake</mat-label>
                                        <mat-select matInput placeholder="Intake" #NewIntekId="ngModel" [(ngModel)]="formdata.deferredInfo.NewIntekId"
                                          name="IntekId" required [pattern]="modelPattern.dropDownNumericValue"
                                          (selectionChange)="onIntakeChange(true)">
                                          <mat-option>
                                            <ngx-mat-select-search [(ngModel)]="intakeFilter" [placeholderLabel]="'Search...'"
                                              [noEntriesFoundLabel]="'Not found'" name="intakeFilter"></ngx-mat-select-search>
                                          </mat-option>
                                          <mat-option>None</mat-option>                      
                                          <mat-option
                                            *ngFor="let intek of intekList | stringFilterBy:intakeFilter:'IntakeName';  trackByProperty: 'IntekId'"
                                            [value]="intek.IntekId">
                                            {{intek.IntakeName}}</mat-option>                      
                                        </mat-select>
                                        <mat-error *ngIf="NewIntekId.hasError('required') || NewIntekId.hasError('pattern')">Select intake</mat-error>
                                      </mat-form-field>                        
                              </div>
                           
                              <div class="col-md-2" style="margin-top: 2%;">
                                <button type="button" data-toggle="tooltip" *ngIf="permission>1 && currentUser.RoleType==1" style="bottom: .50em;" title="{{ editDeffered ? 'Cancel' : 'Edit' }}"
                                (click)="$event.stopPropagation(); editDefferedDetail()"
                                class="d-sm-inline-block btn btn-sm btn-primary shadow-sm tsbtn"> <i class="fa"
                                    [class.fa-edit]="!editDeffered" [class.fa-window-close]="editDeffered"></i>
                            </button>
    
                                <button mat-raised-button 
                                type="submit" matSuffix class="btn btn-danger" style="bottom: .50em;"
                                (click)="updateDeferred(form)"
                                *ngIf="!(show_label)"
                                >Update</button>   
                              </div>
                         
                            </form>
                          <!-- <button type="button" data-toggle="tooltip"  *ngIf="showIntekDetails" title="Edit"
                          (click)="$event.stopPropagation(); editGenInfo()"
                          class="d-sm-inline-block btn btn-sm btn-primary shadow-sm edit-btn btn-cust"> <i
                              class="fa fa-edit"></i></button> -->

                   </div>


                </div>


            </div>
        </div>
    </div>




    <app-student-view-layout *ngIf="id>0 && formdata" [genInfo]="formdata?.genInfo"
        [programInfo]="formdata?.programInfo" [eduInfo]="formdata?.eduInfo" [testScore]="formdata?.testScore"
        [ccInfo]="ccInfo" [otherInfo]="otherInfo" [parentId]="id" [parentType]="7"
        [permission]="(((currentUser.RoleId===2 || currentUser.RoleId===3) && formdata?.programInfo.isSubmited===1) || currentUser.RoleType===2 ? 1 : permission )"
        [feeList]="feeList" (onUpdate)="onUpdate($event);" mode="1" (onDocumentChange)="getPendingDocumentCount()"
        (onPendingDocumentUpdate)="pendingDocumentList=$event"></app-student-view-layout>


    <div class="container-fluid mt-4" *ngIf="formdata">
        <mat-accordion multi>
            <mat-expansion-panel class="mb-4">
                <mat-expansion-panel-header>
                    <div class="d-flex w-100 justify-content-between">
                        
                        <h1 class="sbheading">Institution Documents</h1>
                        
                    </div>
                </mat-expansion-panel-header>
                <!--only MSM Team can receive and undo-->

                <app-display-documents [parentName]="parentName" title="Institution Documents" [instituteId]="formdata.programInfo.InstitutionId" [countryId]="formdata.genInfo.Citizenship" [parentId]="id" [parentType]="4" [showRemark]="false"
                    [permission]="((currentUser.RoleId===2 || currentUser.RoleId===3) ? 1 : permission )" [showReceived]=true
                    [canReceive]="permission>1 && (currentUser.RoleId===3 || currentUser.RoleType===1)" [instaDoc]="true"
                    >
                </app-display-documents>
            </mat-expansion-panel>

            <mat-expansion-panel class="mb-4">
                <mat-expansion-panel-header>
                    <div class="d-flex w-100 justify-content-between">
                        
                        <h1 class="sbheading">Fee</h1>
                        
                    </div>
                </mat-expansion-panel-header>
                <app-application-fee-show [parentName]="parentName" [ApplicationId]="id" [permisssion]="permission"
                    [currency]="formdata.programInfo.InstCurrency" [feeList]="feeList" [showCard]="false"
                    (onUpdate)="onUpdate($event);" (ccInfoUpdate)="ccInfoUpdate($event)" [ccInfo]="ccInfo">

                </app-application-fee-show>
            </mat-expansion-panel>

            <mat-expansion-panel class="mb-4">
                <mat-expansion-panel-header>
                    <div class="d-flex w-100 justify-content-between">
                        
                        <h1 class="sbheading">Status</h1>
                        
                    </div>
                </mat-expansion-panel-header>
                <app-activity [parentName]="parentName" [showStatusDropDown]="permission>1" [showAdd]="false" ActivityType="5" [ActivityId]="id"
                    btnLable="Add" showTable="true" remarkRequired="false" [activityList]="statusList"
                    [showCard]="false">
                </app-activity>
            </mat-expansion-panel>


            <mat-expansion-panel class="mb-4">
                <mat-expansion-panel-header>
                    <div class="d-flex w-100 justify-content-between">
                        
                        <h1 class="sbheading">Query</h1>
                        
                    </div>
                </mat-expansion-panel-header>

                <!-- [showStatusDropDown]="currentUser.RoleType===1" -->
                <app-activity 
                [showStatusDropDown]="false"
                    [showAdd]="permission>1" ActivityType="1" Title="Query"  [selectList]="queryStatusList" [ActivityId]="id"
                    btnLable="Add" independed="true" [showCard]="false">
                </app-activity>

            </mat-expansion-panel>

            <mat-expansion-panel class="mb-4">
                <mat-expansion-panel-header>
                    <div class="d-flex w-100 justify-content-between">
                        
                        <h1 class="sbheading">Tasks</h1>
                        
                    </div>
                </mat-expansion-panel-header>

                <app-task [parentName]="parentName" title="Tasks" parentType="7" [parentId]="id" [permission]="permission" [showCard]="false"></app-task>

            </mat-expansion-panel>

        </mat-accordion>
    </div>


</div>