<div [ngClass]="{'main-content' : currentUser.RoleType === 2}">
    <div>
        <div [ngClass]="{'card':showCard}" *ngIf="permission>0">
            <div [ngClass]="{'card-body':showCard}">
                <dx-file-manager id="fileManager" [fileSystemProvider]="fileItems" (onContextMenuItemClick)="menuAction($event)" selectionMode="single"
                                (onSelectedFileOpened)="openFile($event)" >
                    <dxo-permissions download="false"></dxo-permissions>
                    <dxo-toolbar>
                        <dxi-item name="showNavPane" visible="true"></dxi-item>
                        <dxi-item name="separator"></dxi-item>
                        <dxi-item name="refresh"></dxi-item>
                        <dxi-item name="separator" location="after"></dxi-item>
                        <dxi-item name="switchView"></dxi-item>

                        <dxi-file-selection-item name="refresh"></dxi-file-selection-item>
                    </dxo-toolbar>
                    <dxo-context-menu>
                        <dxi-item name="refresh" text="Download" icon="download"></dxi-item>
                    </dxo-context-menu>
                </dx-file-manager>
            </div>
        </div>  
    </div>  
</div>  

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>