<div class="body">
  <section class="section app-hero1 policy-hero">

    <div class="hero-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="vector-img"><img src="./assets/img/vector1.png" alt="MSM" class="img-fluid"></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="login-form">
              <img src="./assets/img/logo-login.png" alt="MSM" class="img-fluid">
              <h3>Dont have an account</h3>
              <div class="card bg-transparent  text-justify">
                <div class="card-header text-left">
                   <h4 class="card-title" >Student</h4>
                </div>
                <div class="card-body">
                  <p>
                    Are you a student looking for higher education abroad? Register today and let our team of experts guide you through your journey.
                  </p>
                </div>
                <div class="card-footer">
                  <a routerLink="/signup/student" class="btn btn-yellow"  >Signup as Student</a>
                </div>
                <div class="card-header">
                  <h4 class="card-title">Agent</h4>
               </div>
               <div class="card-body">
                <p>
                  Are you an Agent? Register today and become a partner.
                </p> 
              </div>
              <div class="card-footer text-center">
                <a routerLink="/signup/agent" class="btn btn-yellow"  >Signup as Agent</a>
              </div>
              </div> 
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
 
</div>




<!-- 
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                 <div class="row">
                   <div class="col-6 text-center ">
                      <a routerLink="/signup/student" class="btn btn-danger" >Student</a>
                   </div>

                   <div class="col-6 text-center">
                      <a routerLink="/signup/agent" class="btn btn-danger" >Agent</a>
                   </div>
                   <div class="col-12 text-center">
                      <a class="btn btn-danger" routerLink="/signin" >already have an account</a>
                   </div> 
                 </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>   -->
