<div class="container-fluid new-design">

    <mat-accordion multi>

        <mat-expansion-panel class="mb-4" *ngIf="genInfo" [expanded]="true">
            <mat-expansion-panel-header [collapsedHeight]="'108px'" [expandedHeight]="'108px'">
                <div class="d-flex w-100 justify-content-between">
                    <div class="pt-2">
                        <h1>
                            <div class="row">
                                <div class="col-md-12 studentname sbheading">
                                    {{genInfo.Salution}} {{genInfo.FirstName  | titlecase }}
                                    {{genInfo.MiddleName  | titlecase }} {{genInfo.LastName  | titlecase }}
                                </div>
                                <div class="col-md-12 studentid" *ngIf="+parentType===7">
                                    {{genInfo.ApplicationId}} <span
                                        class="studentstatus processing">{{programInfo?.ApplicationStatusName}}</span>
                                </div>
                                <div class="col-md-12 studentid" *ngIf="+parentType===6">
                                    {{genInfo.StudentId}}
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="mr-3" *ngIf="permission>1">
                        <!-- <button type="button" (click)="$event.stopPropagation(); editGenInfo()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"> <i class="fa fa-edit"></i>
                            Edit</button> -->
                        <!-- <a (click)="$event.stopPropagation(); editGenInfo()">
                                <i class="material-icons">edit</i>
                            </a> -->
                        <button type="button" data-toggle="tooltip" title="Edit"
                            (click)="$event.stopPropagation(); editGenInfo()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm edit-btn btn-cust"> <i
                                class="fa fa-edit"></i></button>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div class="row studentdetails" *ngIf="+mode===3">
                <div class="col-md-6">
                    <span class="studentlabel">
                        Lead Source
                    </span>
                    {{ getName(leadSource,genInfo.LeadSource) }}
                </div>
                <div class="col-md-6">
                    <span class="studentlabel">
                        Lead Status
                    </span>
                    {{ getName(leadStatus,genInfo.LeadStatus) }}
                </div>
            </div>

            <div class="row studentdetails mb-4">
                <div class="col-md-2">
                    <span class="studentlabel">
                        Date of Birth
                    </span>
                    {{genInfo.DateOfBirth | date:'dd MMM yyyy'}}
                </div>
               
                <div class="col-md-2">
                    <span class="studentlabel">
                        Gender
                    </span>
                    {{genInfo.Gender}}
                </div>
                <div class="col-md-2">
                    <span class="studentlabel">
                        Civil Status
                    </span>
                   {{genInfo.MaritialStatus  | titlecase }}
                </div>
                <div class="col-md-3">
                    <span class="studentlabel">
                        Passport Number
                    </span>
                    {{genInfo.PassportNo}}
                </div>
                <div class="col-md-3 text-break">
                    <span class="studentlabel">
                        Expiration Date
                    </span>
                    {{genInfo.PassportExpiryDate | date:'dd MMM yyyy'}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Contact Number
                    </span>
                    {{genInfo.MobileNo}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Contact Email
                    </span>
                    {{genInfo.Email}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Citizenship
                    </span>
                    {{genInfo.CitizenshipName}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Language
                    </span>
                    {{genInfo.Language}}
                </div>
                <div class="col-md-12 text-break">
                    <span class="studentlabel">
                        Residential Address
                    </span>
                    {{genInfo | singleComma:[ genInfo?.Addres,genInfo?.City,
                         genInfo?.Province, genInfo?.CountryName, genInfo?.Pincode ]}}

                </div>
                <div class="col-md-12 text-break">
                    <span class="studentlabel">
                        Mailing Address
                    </span>
                    {{genInfo | singleComma: [ genInfo?.MailingAddres, genInfo?.MailingCity, 
                        genInfo?.MailingProvince, genInfo?.MailingCountryName,
                        genInfo.MailingPincode ]}}
                </div>
            </div>
            <div class="row mb-4 text-break">
                <div class="col-md-12">
                    <h1 class="sbheading">Emergency Contact</h1>
                </div>
            </div>
            <div class="row studentdetails">
                <div class="col-md-6 text-break">
                    <span class="studentlabel">
                        Name
                    </span>
                    {{genInfo.EmrgencyName}}
                </div>
                <div class="col-md-6 text-break">
                    <span class="studentlabel">
                        Email ID
                    </span>
                    {{genInfo.EmergencyEmail}}
                </div>

                <div class="col-md-3 text-break">
                    <span class="studentlabel">
                        Relation
                    </span>
                    {{genInfo.EmergencyRelation}}
                </div>
                <div class="col-md-3 text-break">
                    <span class="studentlabel">
                        Home Phone
                    </span>
                    {{genInfo.EmergencyHomePhone}}
                </div>
                <div class="col-md-3 text-break">
                    <span class="studentlabel">
                        Cell Phone
                    </span>
                    {{genInfo.EmergencyCellPhone}}
                </div>
                <div class="col-md-3 text-break">
                    <span class="studentlabel">
                        Business Phone
                    </span>
                    {{genInfo.EmergencyBusinessPhone}}
                </div>

                <div class="col-md-12 text-break">
                    <span class="studentlabel">
                        Address
                    </span>
                    {{genInfo | singleComma: [genInfo.EmergencyAddress,genInfo.EmergencyCity,
                        genInfo.EmergencyProvince,genInfo.EmergencyCountryName, genInfo.EmergencyPincode ]  }}
                </div>


            </div>


        </mat-expansion-panel>

        <mat-expansion-panel class="mb-4" *ngIf="genInfo && !(currentUser.RoleId===2 && +parentType===6)"
            [expanded]="editAdmission">
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading py-2">Recruiter/Agent</h1>

                    <div class="mr-3"
                        *ngIf="((permission>1 && +parentType===7) || (permission>2 && +parentType===6)) && currentUser.RoleId!=3 && currentUser.RoleType!=2">
                        <button type="button" data-toggle="tooltip" title="{{ editAdmission ? 'Close' :'Edit' }}"
                            (click)="$event.stopPropagation(); editAdmissionDetail()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm tsbtn"> <i class="fa"
                                [class.fa-edit]="!editAdmission" [class.fa-window-close]="editAdmission"></i>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div class="row studentdetails" [hidden]="editAdmission">
                <div class="col-md" *ngIf="currentUser.RoleId!=2">
                    <span class="studentlabel text-break">
                        Assigned Agent
                    </span>
                    {{genInfo.AgentName}}
                </div>
                <div class="col-md" *ngIf="+parentType===7 && currentUser.RoleId!=3">
                    <span class="studentlabel text-break">
                        Assigned Counsellor
                    </span>
                    {{genInfo.AssignedToName}}
                </div>
                <div class="col-md" *ngIf="+parentType===7 && currentUser.RoleType===1">
                    <span class="studentlabel text-break">
                        Marketing Manager
                    </span>
                    {{genInfo.MarketingManagerName}}
                </div>

                <div class="col-md" *ngIf="+parentType===7 && currentUser.RoleType===1">
                    <span class="studentlabel text-break">
                        Admission Executive
                    </span>
                    {{genInfo.AdmissionExecutiveName}}
                </div>
            </div>

            <ng-container *ngIf="editAdmission">
                <div class="row">
                    <div class="col-md-6" *ngIf="(permission>2 && currentUser.RoleType===1)">
                        <mat-form-field>
                            <mat-label>Agent</mat-label>
                            <mat-select placeholder="Agent" [(ngModel)]="genInfo.AgentId" name="AgentId"
                                (selectionChange)="updateAgent()">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="agentFilter" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="agentFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option [value]="0"> Not Assigned</mat-option>
                                <mat-option
                                    *ngFor="let item of agentList | stringFilterBy:agentFilter:'CompanyName';  trackByProperty: 'AgentId'"
                                    [value]="item.AgentId">
                                    {{item.CompanyName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" *ngIf="+parentType===7 && !(permission<3 || currentUser.RoleId===3)">
                        <mat-form-field>
                            <mat-label>Counsellor</mat-label>
                            <mat-select placeholder="Counsellor" [(ngModel)]="genInfo.AssignedTo"
                                [disabled]="permission<3 || currentUser.RoleId===3" name="AssignedTo"
                                #AssignedTo="ngModel" (selectionChange)="updateAssignedTo()">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="counselorFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="counselorFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option [value]="0"> Not Assigned</mat-option>
                                <mat-option
                                    *ngFor="let item of counselorList | stringFilterBy:counselorFilter:'EmailId':'DisplayName';  trackByProperty: 'UserId'"
                                    [value]="item.UserId">
                                    {{item.DisplayName+'/'+item.EmailId}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container *ngIf="+parentType===7 && currentUser.RoleType===1">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Marketing Manager</mat-label>
                                <mat-select placeholder="Marketing Manager" [(ngModel)]="genInfo.MarketingManager"
                                    name="MarketingManager" #MarketingManager="ngModel"
                                    (selectionChange)="updateMarketingManager()">
                                    <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="marketmanagerFilter"
                                            [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                            name="marketmanagerFilter"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option [value]="0"> Not Assigned </mat-option>
                                    <mat-option
                                        *ngFor="let item of marketingManagerList | stringFilterBy:marketmanagerFilter:'EmailId':'DisplayName';  trackByProperty: 'UserId'"
                                        [value]="item.UserId">
                                        {{item.DisplayName+ ' / '+item.EmailId}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Admission Execcutive</mat-label>
                                <mat-select placeholder="Admission Execcutive" [(ngModel)]="genInfo.AdmissionExecutive"
                                    name="AdmissionExecutive" #AdmissionExecutive="ngModel"
                                    (selectionChange)="updateAdmissionExecutive()">
                                    <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="admissionExeFilter"
                                            [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                            name="admissionExeFilter"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option [value]="0"> Not Assigned </mat-option>
                                    <mat-option
                                        *ngFor="let item of admissionExecutiveList | stringFilterBy:admissionExeFilter:'EmailId':'DisplayName';  trackByProperty: 'UserId'"
                                        [value]="item.UserId">
                                        {{item.DisplayName+ ' / '+item.EmailId}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>

                </div>

            </ng-container>


        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="+parentType===7 && programInfo" class="mb-4">
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading py-2">Program Detail</h1>

                    <div class="mr-3" *ngIf="permission>1">
                        <button type="button" data-toggle="tooltip" title="Edit"
                            (click)="$event.stopPropagation(); editProgramInfo()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-cust"> <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div class="row studentdetails">
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Institution
                    </span>
                    {{programInfo.InstName}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Program
                    </span>
                    {{programInfo.ProgramName}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Intake
                    </span>
                    {{programInfo.IntakeName}}
                </div>
            </div>
            <div class="row studentdetails text-break">
                <div class="col-md-4">
                    <span class="studentlabel">
                        Campus
                    </span>
                    {{programInfo.CampusName}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Mode
                    </span>
                    {{programInfo.ModeName}}
                </div>
                <div class="col-md-4 text-break">
                    <span class="studentlabel">
                        Specialization
                    </span>
                    {{programInfo.SpecializationName}}
                </div>
            </div>
            <div class="row studentdetails">
                <div class="col-md-3">
                    <span class="studentlabel">
                       Shore Type
                    </span>
                <span *ngIf="programInfo.ShoreType == 0"> OffShore</span>
                <span *ngIf="programInfo.ShoreType == 1"> OnShore</span>
                </div>
                
                <div class="col-md-3">
                    <span class="studentlabel">
                        Submission Deadline
                    </span>
                    <h6 *ngIf="programInfo.ShoreType == 0">
                        {{programInfo.SubmissionDeadLine | date:'dd MMM yyyy'}}
                    </h6>
                    <h6 *ngIf="programInfo.ShoreType == 1">
                        {{programInfo.OnshoreSubmissionDeadline | date:'dd MMM yyyy'}}
                    </h6>
                </div>
                <div class="col-md-3">
                    <span class="studentlabel">
                        Duration
                    </span>
                    {{programInfo.DurationTime }}
                    {{ programInfo.DurationType==1 ? 'Years' : programInfo.DurationType==2 ? 'Months' : 'Weeks' }}
                </div>
                <div class="col-md-3">
                    <span class="studentlabel">
                        Average Processing Time
                    </span>
                    {{programInfo.AverageProcessingDay}}
                </div>
            </div>
            <div class="row studentdetails" *ngIf="feeList && feeList.length>0">
                <div class="col-md-3">
                    <span class="studentlabel">
                        Cost of living
                    </span>
                    {{ programInfo.InstCurrency }} {{programInfo.InstCostofLiving_Year}} per year
                </div>
                <div class="col-md-3" *ngFor="let feeItem of feeList">
                    <span class="studentlabel">
                        {{feeItem.FeeType}}
                    </span>
                    {{ programInfo.InstCurrency }} {{feeItem.FeeAmount}} {{feeItem.FeeBasis}}
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mb-4" *ngIf="eduInfo">
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">
                    <div class="wd-50">
                        <h1 class="sbheading py-2">Educational Background</h1>
                    </div>
                    <div class="mr-3" *ngIf="permission>1">
                        <button type="button" data-toggle="tooltip" title="Edit"
                            (click)="$event.stopPropagation(); editEducationBackground()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-cust"> <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div class="row studentdetails">
                <div class="col-md-3">
                    <span class="studentlabel">
                        Country of education
                    </span>
                    {{eduInfo.CountryOfEducationName}}
                </div>
                <div class="col-md-3">
                    <span class="studentlabel">
                        Highest level of education
                    </span>
                    {{eduInfo.HighestLevelOfEducationName}}
                </div>

                <div class="col-md-3">
                    <span class="studentlabel">
                        Grading Scheme
                    </span>
                    {{eduInfo.GradingSchemeName}}
                </div>
                <div class="col-md-3">
                    <span class="studentlabel">
                        Grade Average
                    </span>
                    {{eduInfo.GradeAverage | uppercase}}
                </div>
            </div>

            <app-display-school [parentType]="parentType" [parentId]="parentId" [permission]="permission">
            </app-display-school>

        </mat-expansion-panel>


        <mat-expansion-panel class="mb-4" *ngIf="testScore">
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading py-2">Test Scores</h1>

                    <div class="mr-3" *ngIf="permission>1">
                        <button type="button" data-toggle="tooltip" title="Edit"
                            (click)="$event.stopPropagation(); editTestScore()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-cust"> <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel-header> 


            <div class="row mb-4">
                <h1 class="mb-0 col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="sbheading">English</h1>
                        </div>
                    </div>
                </h1>
            </div>

            <div *ngIf="!testScore.EnglishExamName">
                <span> Test Score Not Available</span>
            </div>
            <ng-container *ngIf="testScore.EnglishExamName && getTime( testScore.EnglishExamDate)>today.getTime() ">
                <div class="row studentdetails mb-4">
                    <div class="col-md-4">
                        <span class="studentlabel">
                            Exam
                        </span>
                        {{testScore.EnglishExamName}}
                    </div>
                    <div class="col-md-4">
                        <span class="studentlabel">
                            Exam Date
                        </span>
                        {{testScore.EnglishExamDate | date:'dd MMM yyyy'}}
                    </div>

                    <div class="col-md-4">
                        <span class="studentlabel">
                            Test Awaited
                        </span>
                        <a target="_blank" href="{{filepath+'/student/'+testScore.EnglishExamDocPath }}"
                            *ngIf="testScore.EnglishExamDocPath">
                            confirmation document
                        </a>
                    </div>

                </div>
                <div class="row studentdetails mb-4" *ngIf="testSettings.showUsername">
                    <div class="col-md-6">
                        <span class="studentlabel">
                            Username
                        </span>
                        <span *ngIf="testScore.EnglishExamUser && testScore.EnglishExamPswd">{{testScore.EnglishExamUser}}</span>
                    </div>
                    <div class="col-md-6">
                        <span class="studentlabel">
                            Password
                        </span>
                        <span *ngIf="testScore.EnglishExamUser && testScore.EnglishExamPswd">{{testScore.EnglishExamPswd}}</span>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf=" testScore.EnglishExamName && getTime( testScore.EnglishExamDate)<=today.getTime()">
                <!-- onlyNOt applicable condition -->
                <ng-container *ngIf="testScore.EnglishExamName  === 'Not Applicable'">
                    <div class="row studentdetails">
                        <div class="col-md-4">
                            <span class="studentlabel">
                                Exam
                            </span>
                            {{testScore.EnglishExamName}}
                        </div>
                        <div class="col-md-8">
                            <span class="studentlabel">
                                Remarks
                            </span>
                            {{testScore.EnglishExamRemark }}
                        </div>

                    </div>
                </ng-container>
                <ng-container *ngIf="testScore.EnglishExamName  !== 'Not Applicable'">
                    <div class="row studentdetails">
                        <div class="col-md-4">
                            <span class="studentlabel">
                                Exam
                            </span>
                            {{testScore.EnglishExamName}}
                        </div>
                        <div class="col-md-4">
                            <span class="studentlabel">
                                Exam Date
                            </span>
                            {{testScore.EnglishExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md-4">
                            <span class="studentlabel">
                                <!-- {{ testScore.EnglishExamName=='MELAB' ? 'Final MELAB' : 'Overall' }} -->
                                {{ testSettings.ELabel }}
                            </span>
                            <span *ngIf="testScore.EnglishScoreOverall !== 0">{{testScore.EnglishScoreOverall}}</span>
                            <span *ngIf="testScore.EnglishScoreOverall === 0">
                                Test Result Awaited
                            </span>
                        </div>
                    </div>
                    <div class="row studentdetails" *ngIf="testScore.EnglishScoreOverall !== 0">
                        <div class="col-md-3" [class.hide]="!testSettings.ShowA">
                            <span class="studentlabel">
                                <!-- Listening --> {{testSettings.ALabel}}
                            </span>
                            {{testScore.EnglishScoreL}}
                        </div>
                        <div class="col-md-3" [class.hide]="!testSettings.ShowB"> 
                            <!-- *ngIf="testScore.EnglishExamName == 'Oxford Online'; else notOxfordOnline" -->
                            <span class="studentlabel">
                                <!-- English --> {{testSettings.BLabel}}
                            </span>
                            {{testScore.EnglishScoreR}}
                        </div>
                        
                        <!-- <ng-template #notOxfordOnline>
                            <div class="col-md-3">
                                <span class="studentlabel">
                                    {{ testScore.EnglishExamName=='MELAB' ? 'GCVR' : 'Reading' }}
                                </span>
                                {{testScore.EnglishScoreR}}
                            </div> -->
                            <!-- <div class="col-md-3" *ngIf="testScore.EnglishExamName  !== 'MELAB' ">
                                <span class="studentlabel">
                                    Reading
                                </span>
                                {{testScore.EnglishScoreR}}
                            </div> -->
                        <!-- </ng-template> -->

                        <div class="col-md-3" [class.hide]="!testSettings.ShowC">
                            <span class="studentlabel">
                                <!-- Writing --> {{testSettings.CLabel}}
                            </span>
                            {{testScore.EnglishScoreW}}
                        </div>
                        <div class="col-md-3" [class.hide]="!testSettings.ShowD">
                            <span class="studentlabel">
                                <!-- Speaking --> {{testSettings.DLabel}}
                            </span>
                            {{testScore.EnglishScoreS}}
                        </div>

                    </div>
                    <div class="row studentdetails mb-4" *ngIf="testSettings.showUsername">
                        <div class="col-md-6">
                            <span class="studentlabel">
                                Username
                            </span>
                            <span *ngIf="testScore.EnglishExamUser && testScore.EnglishExamPswd">{{testScore.EnglishExamUser}}</span>
                        </div>
                        <div class="col-md-6">
                            <span class="studentlabel">
                                Password
                            </span>
                            <span *ngIf="testScore.EnglishExamUser && testScore.EnglishExamPswd">{{testScore.EnglishExamPswd}}</span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>


            <!-- If Other Exam test awaited block starts  -->
            <ng-container *ngIf="testScore.GMATExamName && getTime( testScore.GMATExamDate)>today.getTime()">
                <ng-container *ngIf="testScore.GMATExam === 1">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">ACT</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md">
                            <span class="studentlabel">
                               Exam Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Test Awaited
                            </span>
                            <a target="_blank" href="{{filepath+'/student/'+testScore.OtherExamDocPath }}"
                                *ngIf="testScore.OtherExamDocPath">
                                confirmation document
                            </a>
                        </div>

                    </div>
                </ng-container>

                <ng-container *ngIf="testScore.GMATExam === 2">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">GMAT</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md">
                            <span class="studentlabel">
                               Exam Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Test Awaited
                            </span>
                            <a target="_blank" href="{{filepath+'/student/'+testScore.OtherExamDocPath }}"
                                *ngIf="testScore.OtherExamDocPath">
                                confirmation document
                            </a>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="testScore.GMATExam === 3">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">GRE</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails mb-4">
                        <div class="col-md">
                            <span class="studentlabel">
                                Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Test Awaited
                            </span>
                            <a target="_blank" href="{{filepath+'/student/'+testScore.OtherExamDocPath }}"
                                *ngIf="testScore.OtherExamDocPath">
                                confirmation document
                            </a>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="testScore.GMATExam === 4">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">SAT</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md">
                            <span class="studentlabel">
                                Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Test Awaited
                            </span>
                            <a target="_blank" href="{{filepath+'/student/'+testScore.OtherExamDocPath }}"
                                *ngIf="testScore.OtherExamDocPath">
                                confirmation document
                            </a>
                        </div>
                    </div>
                </ng-container>

            </ng-container>
            <!-- If Other Exam test awaited block starts  -->

            <!-- If Other Exam test score is available  block starts -->
            <ng-container *ngIf="testScore.GMATExamName &&  getTime( testScore.GMATExamDate)<=today.getTime()">

                <ng-container *ngIf="testScore.GMATExam === 1">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">ACT</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Exam Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                English
                            </span>
                            {{testScore.ACTScoreEnglish}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Math
                            </span>
                            {{testScore.ACTScoreMath}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Reading
                            </span>
                            {{testScore.ACTScoreReading}}
                        </div>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md-4">
                            <span class="studentlabel">
                                Science
                            </span>
                            {{testScore.ACTScoreScience}}
                        </div>
                        <div class="col-md-4">
                            <span class="studentlabel">
                                Writing
                            </span>
                            {{testScore.ACTScoreWriting}}
                        </div>
                        <div class="col-md-4">
                            <span class="studentlabel">
                                Total Score
                            </span>
                            {{testScore.ACTScoreTotal}}
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="testScore.GMATExam === 2">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">GMAT</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md-2">
                            <span class="studentlabel">
                                Exam Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md-2">
                            <span class="studentlabel">
                                Verbal
                            </span>
                            {{testScore.GMATScoreV}}
                        </div>
                        <div class="col-md-2">
                            <span class="studentlabel">
                                Quantitative
                            </span>
                            {{testScore.GMATScoreQ}}
                        </div>

                        <div class="col-md-3">
                            <span class="studentlabel">
                                Analytical
                            </span>
                            {{testScore.GMATScoreA}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Total
                            </span>
                            {{testScore.GMATScoreI}}
                        </div>

                    </div>
                </ng-container>

                <ng-container *ngIf="testScore.GMATExam === 3">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">GRE</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails mb-4">
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Verbal
                            </span>
                            {{testScore.GREScoreV}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Quantitative
                            </span>
                            {{testScore.GREScoreQ}}
                        </div>
                        <div class="col-md-3">
                            <span class="studentlabel">
                                Analytical
                            </span>
                            {{testScore.GREScoreW}}
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="testScore.GMATExam === 4">
                    <div class="row mb-4">
                        <h1 class="mb-0 col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="sbheading">SAT</h1>
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="row studentdetails">
                        <div class="col-md">
                            <span class="studentlabel">
                                Exam Date
                            </span>
                            {{testScore.GMATExamDate | date:'dd MMM yyyy'}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Math
                            </span>
                            {{testScore.SATScoreMath}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Evidence-Based Reading and Writing
                            </span>
                            {{testScore.SATScoreEBRW}}
                        </div>
                        <div class="col-md">
                            <span class="studentlabel">
                                Total Score
                            </span>
                            {{testScore.SATScoreTotal}}
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <!-- If Other Exam test score is available  block ends -->

        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="+parentType===7 && programInfo?.isCreditCardRequired" class="mb-4">
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading py-2">Credit Card Info</h1>

                    <div class="mr-3">

                        <button type="button" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-cust" (click)="$event.stopPropagation(); getCode()" *ngIf="ccInfo && currentUser.IsViewCTStatus && hideCCGetCode"
                            [disabled]="flagdisabled">Get
                            Code</button>

                        <button type="button" data-toggle="tooltip" title="Edit"
                            (click)="$event.stopPropagation(); editCreditCardInfo()"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-cust"
                            *ngIf="permission>1 && !(ccInfo && !currentUser.isViewCT)"> <i
                                class="fa fa-edit"></i></button>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <ng-container *ngIf="!(ccInfo && !currentUser.isViewCT)">

                <div class="row studentdetails">
                    <div class="col-md-3">
                        <span class="studentlabel">
                           Card Type
                        </span>
                        {{ccInfo?.CCType}}
                    </div>
                    <div class="col-md-3">
                        <span class="studentlabel">
                           Card Number
                        </span>
                        {{ccInfo?.CCNo}}
                    </div>

                    <div class="col-md-3">
                        <span class="studentlabel">
                            CVV
                        </span>
                        {{ccInfo?.CCCode}}
                    </div>
                    <div class="col-md-3">
                        <span class="studentlabel">
                            Expiry Date
                        </span>
                        {{ccInfo?.CCExpiryDate | date:'MM/yy' }}
                    </div>

                </div>
                <div class="row studentdetails">
                    <div class="col-md-6">
                        <span class="studentlabel">
                            Name of Card Holder
                        </span>
                        {{ccInfo?.CCName}}
                    </div>
                    <div class="col-md-6">
                        <span class="studentlabel">
                            Address
                        </span>
                        {{ccInfo?.CCAddress}}
                    </div>
                </div>

            </ng-container>



            <ng-container *ngIf="ccInfo && !currentUser.isViewCT">
                <div class="row studentdetails">
                    <div class="col-md-3">
                        <span class="studentlabel">
                            Card Type
                        </span>
                        *************
                    </div>
                    <div class="col-md-3">
                        <span class="studentlabel">
                            Card Number
                        </span>
                        *************
                    </div>

                    <div class="col-md-3">
                        <span class="studentlabel">
                            CVV
                        </span>
                        *************
                    </div>
                    <div class="col-md-3">
                        <span class="studentlabel">
                            Expiry Date
                        </span>
                        *************
                    </div>

                </div>
                <div class="row studentdetails">
                    <div class="col-md-6">
                        <span class="studentlabel">
                            Name of Card Holder
                        </span>
                        *************
                    </div>
                    <div class="col-md-6">
                        <span class="studentlabel">
                            Address
                        </span>
                        *************
                    </div>
                </div>
            </ng-container>
        </mat-expansion-panel>


        <mat-expansion-panel *ngIf="+parentType===7 && otherInfo?.length>0" class="mb-4">



            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading">Additional Info</h1>

                </div>
            </mat-expansion-panel-header>

            <form #otherform="ngForm" (submit)="updateOtherInfo(otherform)">
                <div class="row">
                    <div app-msm-form-control *ngFor="let item of otherInfo" [control]="item"
                        [class]="item.Data.controlClass">
                    </div>
                </div>
                <mat-action-row>
                    <button type="submit" *ngIf="permission>1"
                        class="d-sm-inline-block btn btn-sm btn-primary shadow-sm pull-right btn-cust">Update</button>
                </mat-action-row>
            </form>


        </mat-expansion-panel>

        <mat-expansion-panel  class="mb-4">
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading">Study Permit</h1>

                </div>
            </mat-expansion-panel-header>

            <app-display-documents [parentName]="parentName" title="Study Permit" [parentId]="parentId" [parentType]="15" [permission]="permission" [showRemark]="false" [addButtonRestrict]="true">
            </app-display-documents>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="d-flex w-100 justify-content-between">

                    <h1 class="sbheading">Documents</h1>

                </div>
            </mat-expansion-panel-header>
            <app-display-documents [parentName]="parentName" title="Documents" [parentId]="parentId" [parentType]="parentType" [permission]="permission"
                [requiredDocumentList]="parentType ==6 ? undefined : requiredDocumentList" (onDocumentChange)="onDocumentChange.emit($event)"
                (onPendingDocumentUpdate)="onPendingDocumentUpdate.emit($event)" [originDetails]="originDetails">
            </app-display-documents>
        </mat-expansion-panel>
    </mat-accordion>

</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>