<div class="new-design">
    <div mat-dialog-title>
            My Documents
      <button class="close text-white" type="button"   aria-label="Close"  (click)="cancel()"><span aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>
<div class="row" >
    <div class="col-md-12">
        <dx-data-grid [dataSource]="displayDocList" [showBorders]="true" [allowColumnResizing]="true"
            [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage"
            [columnAutoWidth]="true" (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true" [wordWrapEnabled]="true" (onRowClick)="rowData($event)">

            <dxo-filter-panel [visible]="true"></dxo-filter-panel>

            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
            </dxo-pager>

            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

            <!-- <dxo-export [enabled]="excel_permisson > 0" fileName="attachments"></dxo-export> -->

            <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
            </dxo-column-chooser>

            <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" [caption]="item.title | sentenceCase"
                [dataType]="item.type" [format]="item.format" [visible]="item.visible">
            </dxi-column>
            <dxi-column caption="Action" [allowExporting]="false" [fixed]="true" fixedPosition="right" [width]="70"
            cellTemplate="actionCellTemplate">
        </dxi-column>

            <div *dxTemplate="let d of 'actionCellTemplate'">
              
                  <a target="_blank" mat-menu-item class=" text-info" (click)="$event.stopPropagation();"
                      href="{{filepath+uploadDir+'/'+d.data.DocPath}}" color="primary" *ngIf="d.data.DocPath"
                      data-toggle="tooltip" title="View">
                      <span class="material-icons icon-position">
                          remove_red_eye
                      </span>View
                  </a>
            </div>

            <div *dxTemplate="let d of 'toolbarButton'">
              <button class="text-danger" (click)="updateDocument()" *ngIf="permission>1 && showAddButton"
                  mat-icon-button data-toggle="tooltip" title="New">
                  <mat-icon>add</mat-icon>
              </button>

              <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip"
                  title="Apply Filter">
                  <mat-icon>filter_list</mat-icon>
              </button>
            </div>
        </dx-data-grid>
    </div>
   </div>
</div>
   <div mat-dialog-actions align="center">
    <button type="button" (click)="cancel()" class="btn btn-sm btn-primary modalclose">Cancel</button>
  </div>

  </div>
