<div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="row no-gutters justify-content-between">
            <div class="col-md-3">
              <!-- <h4 class="card-title color-333">Application Status</h4> -->
              <div class="cardtitle py-0" style="font-weight: bold;">Student application and enrollment growth</div>
            </div>
            <div class="col-md-9 pull-right">
              <div class="row">
                <div class="col-md-4" *ngIf="!(currentUser.RoleType ==2)">
                  <mat-form-field>
                    <mat-label>Institution</mat-label>
                    <mat-select placeholder="Intake" [(ngModel)]="enrollmentGrowthFilter.InstitutionId"
                      (selectionChange)="InstitutionChange(enrollmentGrowthFilter.InstitutionId)">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="studentInstitutionFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="appFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option [value]="item.InstitutionId"
                        *ngFor="let item of instList | stringFilterBy:studentInstitutionFilter:'InstName'">
                        {{item.InstName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Intake</mat-label>
                    <mat-select placeholder="Intake" [(ngModel)]="enrollmentGrowthFilter.IntakeId"
                      (selectionChange)="studentAppEnrollementGrowth()">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="studentApplicationFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="appFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option [value]="item.IntakeGroupId"
                        *ngFor="let item of studentAppIntakList | stringFilterBy:studentApplicationFilter:'IntakeName'">
                        {{item.IntakeName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Application Type</mat-label>
                    <mat-select placeholder="Application Type" [(ngModel)]="enrollmentGrowthFilter.ApplicationType"
                      (selectionChange)="studentAppEnrollementGrowth()">
                      <mat-option [value]="0">
                        Total Application
                      </mat-option>
                      <mat-option [value]="1">
                        New Application
                      </mat-option>
                      <mat-option [value]="2">
                        Deferred Application
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
           
          </div>

          <div class="col-12">
            
            <dx-chart id="growth" [dataSource]="grossProductData" (onPointClick)="onPointClick($event)"
              >
              
              
              <dxi-series valueField="TotalApplicationsenttillnow" name="Total application sent till now"> </dxi-series>
              
              <dxi-series valueField="OfferLetterIssued" name="Offer letter issued"></dxi-series>
  
  <!--             
  
              <dxi-series valueField="IELTSCompliantGeneral" name="IELTS compliant general"></dxi-series>
              <dxi-series valueField="IELTSCompliantSDS" name="IELTS compliant SDS"></dxi-series> -->
  
              <dxi-series valueField="TuitionDepositCountGeneral" name="Tuition deposit count general" *ngIf="instCountry!=231"></dxi-series>
              <dxi-series valueField="TuitionDepositCountSDS" name="Tuition deposit count SDS" *ngIf="instCountry!=231"></dxi-series>
              <dxi-series valueField="TuitionDepositCountTotal" name="Tuition deposit count total" *ngIf="instCountry!=231"></dxi-series>
  
              <dxi-series valueField="AccommodationCountTotal" name="Enrollment and Housing/Deposit fees" *ngIf="instCountry==231"></dxi-series>
              <dxi-series valueField="I20CountTotal" name="I20" *ngIf="instCountry==231"></dxi-series>
              <dxi-series valueField="SEVISCountTotal" name="SEVIS fees" *ngIf="instCountry==231"></dxi-series>
  
              <dxi-series valueField="StudyPermitStatusApproved" name="Study permit approved"></dxi-series>
              <dxi-series valueField="StudyPermitStatusRefused" name="Study permit refused"></dxi-series>
  
              <dxi-series valueField="TransferredDropOut" name="Transferred/Dropout"></dxi-series>
  
              <dxi-series valueField="Deferredtonextintake" name="Deferred to next intake"></dxi-series>
              <dxi-series valueField="EnrolledStudents" name="Enrolled students"></dxi-series>
  
              <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" color="#d3d3d3" position-top=20px;
                [font]="{'color': 'black'}"></dxo-tooltip>

                <dxo-argument-axis>
                  <dxo-label [visible]="false"  ></dxo-label>
                </dxo-argument-axis>

                <dxo-common-series-settings argumentField="name" type="bar" [ignoreEmptyPoints]="true" [barPadding]="0.5">
                <dxi-value-axis [allowDecimals]="false" >   
                  <dxo-label [visible]="true">
                  </dxo-label>
                </dxi-value-axis>                
                <dxo-label [visible]="true">
                </dxo-label>
              </dxo-common-series-settings>
              <dxo-legend [visible]="true" verticalAlignment="top" horizontalAlignment="right"> </dxo-legend>
              <dxi-value-axis [allowDecimals]="false" > </dxi-value-axis>
              <!-- <dxo-export [enabled]="true"></dxo-export> -->
            </dx-chart>
          </div>
  
        </div>
      </div>
    </div>
  </div>
        <!-- </div>
      </div>
    </div>
  </div> -->