<div class="main-content">
<div class="card h-100">
    <div class="card-body table-responsive">

        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <!-- <mat-label>Duration</mat-label> -->
                    <mat-select matInput placeholder="Duration" #Duration="ngModel" [(ngModel)]="formdata.Duration"
                        name="filter" (selectionChange)="loadData()">

                        <mat-option>
                            <ngx-mat-select-search [(ngModel)]="durationFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="durationFilter"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of DurationList |  stringFilterBy:durationFilter:'name'"
                            [value]="item.id">
                            {{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- (selectionChange)="showReport()" -->
        <table class="table table-hover">
            <!-- <thead class="text-danger">
                <th>Report Name</th>
            </thead> -->
            <tbody>
                <!-- Agents -->
                <tr *ngIf="createdAgents || businesscertUploaded || agentLogin || applicationProcessByAgent"> <td><b> Agents</b></td> </tr>

                <tr *ngFor="let item of createdAgents" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>

                <tr *ngFor="let item of businesscertUploaded" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngFor="let item of agentLogin" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>

                </tr>
                <tr *ngFor="let item of applicationProcessByAgent" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>

                <tr *ngIf="applicationProcessByAdmissionexecutive"> <td><b> Admission Executive </b></td> </tr>
                <!-- Application -->
                <tr *ngFor="let item of applicationProcessByAdmissionexecutive" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngIf="createdApplication || approvedApplication || deferredApplication || dropoutApplication || inprocessApplication || rejectedApplication"> <td><b> Application </b></td> </tr>
                <tr *ngFor="let item of createdApplication" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngFor="let item of approvedApplication" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngFor="let item of deferredApplication" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngFor="let item of dropoutApplication" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngFor="let item of inprocessApplication" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngFor="let item of rejectedApplication" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>

                <tr *ngIf="topNationality"><td> <b> Nationality(Top 10 Nationality) </b></td></tr>
                <!-- Nationality(Top 10 Nationality) -->
                <tr *ngFor="let item of topNationality" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>

                <tr *ngIf="createdStudents"><td> <b> Students </b> </td> </tr>
                <!-- Students -->
                <tr *ngFor="let item of createdStudents" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>
                <tr *ngIf="createdInstitution"> <td> <b> Institution </b> </td></tr>

                <!-- Institution -->
                <tr *ngFor="let item of createdInstitution" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>

                <tr *ngIf="topCoursesStudentApplied"> <td>  <b> Courses: (10 courses only) </b> </td></tr>

                <!-- Courses: (10 courses only) -->
                <tr *ngFor="let item of topCoursesStudentApplied" (click)="showSubReport(item.ReportURL, item.Label)"
                [class.clickable]="item.ReportURL">
                    <td>{{item.Label}}</td>
                    <td>{{item.Data}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</div>