<form #form="ngForm" class="new-design">
  <div mat-dialog-title>
    Reference
    <button class="close text-white" type="button" mat-dialog-close aria-label="Close"><span
        aria-hidden="true">×</span></button>
  </div>
  <div mat-dialog-content>

    <div class="container-fluid">
      <span>Please submit the reference of "Educational Institution" where you have worked previously.</span>
      <div class="row">     
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" type="text" #Name="ngModel" [(ngModel)]="formdata.Name" name="Name"
              required  [pattern]="modelPattern.alphaNumericWithSpaceWithRang">
              <mat-error *ngIf="Name.hasError('required')">Name is required</mat-error>
            <!-- <mat-error *ngIf="Name.hasError('minlength')">Enter valid name</mat-error> -->
            <mat-error *ngIf="Name.hasError('pattern')">Enter valid name between 3 to 100 characters</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Position</mat-label>
            <input matInput placeholder="Position" type="text" #Designation="ngModel" [(ngModel)]="formdata.Designation"
              name="Designation" required  [pattern]="modelPattern.alphaNumericWithSpace">
              <mat-error *ngIf="Designation.hasError('required')">Position is required</mat-error>
              <mat-error *ngIf="Designation.hasError('pattern')">Enter valid position</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Institution</mat-label>
            <input matInput placeholder="Institution" type="text" #Institution="ngModel"
              [(ngModel)]="formdata.Institution" name="Institution" required  [pattern]="modelPattern.alphaNumericWithSpaceWithRang">
              <mat-error *ngIf="Institution.hasError('required')">Institution is required</mat-error>
            <mat-error *ngIf="Institution.hasError('pattern')">Enter valid institution name between 3 to 100 characters </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="Phone number" type="tel" inputmode="tel" #PhoneNo="ngModel"
              [(ngModel)]="formdata.PhoneNo" name="PhoneNo" required [pattern]="modelPattern.phoneno">
              <mat-error *ngIf="PhoneNo.hasError('required')">Phone number is required</mat-error>
            <mat-error *ngIf="PhoneNo.hasError('pattern')">Enter valid phone number</mat-error>
            <mat-hint> <span class="text-info"
                [matTooltip]="modelPattern.phoneNoHintTooltip">{{modelPattern.phoneNoHintLabel}}</span> </mat-hint>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" #Email="ngModel" [(ngModel)]="formdata.Email" name="Email"
              required [pattern]="modelPattern.email">
              <mat-error *ngIf="Email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="Email.hasError('pattern')">Enter valid email</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
              <mat-label>Response</mat-label>
              <mat-select placeholder="Response" #RefResponse="ngModel" [(ngModel)]="formdata.RefResponse"
                  name="RefResponse" required>
                  <mat-option>None</mat-option>
                  <mat-option [value]=1 style="height: 2rem;font-size: 14px;">Positive</mat-option>
                  <mat-option [value]=0 style="height: 2rem;font-size: 14px;">Negative</mat-option>
              </mat-select>
              <mat-error *ngIf="RefResponse.hasError('required')">Response is required</mat-error>
          </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Enter Address" #RefAddress="ngModel" [(ngModel)]="formdata.RefAddress" name="RefAddress"
              rows="3"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Remark</mat-label>
            <textarea matInput placeholder="Remark" #Remark="ngModel" [(ngModel)]="formdata.Remark" name="Remark"
              rows="3"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row"  *ngIf= "formdata.RefId > 0">
        <div class="col-md-12">
          <mat-label>File upload</mat-label>
          <app-display-documents  [parentId]="formdata.RefId" [parentType]="11" [permission]="permission">
          </app-display-documents>
        </div>
      </div>
    </div>

  </div>
  <div mat-dialog-actions align="center">
    <button type="button" mat-dialog-close class="btn btn-primary btn-sm modalclose">Close</button>
    <button type="submit" class="btn btn-primary btn-sm btn-cust" (click)="onSubmit(form)"
      [disabled]="flagdisabled">{{(this.refId>0 ? 'Update' : 'Add')}}</button>
  </div>
</form>