<div class="main-content new-design">

    <div class="container-fluid" *ngIf="permission>0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">


                        <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true" 
                            [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage"
                            [columnAutoWidth]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
                            [allowColumnReordering]="true" (onRowClick)="editProgram($event.data.ProgramId)" (onExporting)="activitylog()">
                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>


                            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]"
                                [showInfo]="true">
                            </dxo-pager>
                            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                            <dxo-export [enabled]="excel_permisson > 0" fileName="Programs"></dxo-export>

                            <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
                            </dxo-column-chooser>

                            <!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->

                            <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" [minWidth]="100"
                                [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">
                            </dxi-column>

                            <dxi-column caption="Action" [allowExporting]="false" [fixed]="true" fixedPosition="right" cssClass="header-center" [minWidth]="50"
                                cellTemplate="actionCellTemplate">
                            </dxi-column>


                            <div *dxTemplate="let d of 'actionCellTemplate'">
                                <mat-menu #instMenu="matMenu">
                                <button  mat-menu-item  (click)="$event.stopPropagation(); openInNewTab(d.data.ProgramId)"
                                     *ngIf="currentUser.RoleId!=2"  data-toggle="tooltip" title="View">
                                     <span class="material-icons icon-position">
                                        remove_red_eye
                                        </span>View
                                    <!-- <mat-icon>info</mat-icon> -->
                                </button>

                              
                                <a href="#/{{parentRoute}}eligibility/check/{{d.data.ProgramId}}/{{instituteId}}"
                                 mat-menu-item   class="backgroundColor"  data-toggle="tooltip" title="Check Eligibility"
                                    *ngIf="currentUser.RoleType!=2"> <span class="material-icons icon-position">
                                        check_circle_outline
                                        </span>Check eligibility </a>
                                <a href="#/member/application/apply/0/{{ currentUser.RoleId===3 ? currentUser.RefId : 0 }}/{{d.data.ProgramId}}/{{instituteId}}"
                                 mat-menu-item   class="backgroundColor"  data-toggle="tooltip" title="Apply"
                                    *ngIf="currentUser.RoleType!=2 && canApply"><span class="material-icons icon-position">
                                        assignment_turned_in
                                        </span>Apply</a>
                                <button (click)="$event.stopPropagation(); showMaterialDialog(d.data.ProgramId)"
                                      mat-menu-item class=" d-block mb-2 header-center "
                                    *ngIf="currentUser.RoleId===2"  data-toggle="tooltip" title="Marketing-Collateral">
                                    <span class="material-icons icon-position">
                                        assignment
                                        </span> Marketing-Collateral
                                </button>

                                <button (click)="$event.stopPropagation(); showContactDialog(d.data.ProgramId)"
                                   mat-menu-item  class="d-block mb-2 backgroundColor"
                                    *ngIf="currentUser.RoleId===2"  data-toggle="tooltip" title="Contacts">
                                    <span class="material-icons icon-position">
                                        assignment
                                        </span> Contacts
                                </button>
                                <button mat-menu-item  (click)="$event.stopPropagation(); clone(d.data.ProgramId)"
                                class="backgroundColor" *ngIf="(currentUser.RoleType ===2 || currentUser.RoleType ===1) && permission>2"  data-toggle="tooltip" title="Clone">
                                <span class="material-icons icon-position">
                                    content_copy
                                    </span>Clone
                            </button>

                                <button type="button" mat-menu-item   class=" backgroundColor"
                                    (click)="$event.stopPropagation(); deleteProgram(d.data.ProgramId)"
                                    *ngIf="(currentUser.RoleType ===2 || currentUser.RoleType ===1) && permission>2"  data-toggle="tooltip" title="Delete">
                                    <span class="material-icons icon-position">
                                        close
                                        </span>
                                        Delete
                                </button>
                          
                            </mat-menu>
                            <button mat-icon-button  [matMenuTriggerFor]="instMenu"
                            (click)="$event.stopPropagation()">
                                <mat-icon class="more_dropdown">keyboard_arrow_down</mat-icon>
                            </button>
                            </div>

                            <div *dxTemplate="let d of 'toolbarButton'">
                                <button class="text-danger" *ngIf="permission>1" (click)="addProgram()" mat-icon-button data-toggle="tooltip" title="New">
                                    <mat-icon>add</mat-icon>
                                </button>

                                <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
                                    <mat-icon>filter_list</mat-icon>
                                </button>
                            </div>

                        </dx-data-grid>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>