
<form #form="ngForm"  class="new-design"> 
    <div mat-dialog-title>
             Ticket 
        <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select matInput placeholder="Category" #Category="ngModel" [(ngModel)]="formdata.Category"
                            name="Category" required >
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="categoryFilter" [placeholderLabel]="'Search...'"
                                      [noEntriesFoundLabel]="'Not found'" name="categoryFilter"></ngx-mat-select-search>
                                  </mat-option>
                            <mat-option *ngFor="let item of categoryList | stringFilterBy:categoryFilter:'CategoryName';  trackByProperty: 'CategoryId'" [value]="item.CategoryId">
                                {{item.CategoryName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Status</mat-label>
                                <mat-select matInput placeholder="Status" #statusId="ngModel" [(ngModel)]="formdata.statusId"
                                    name="statusId" required >
                                        <mat-option>
                                            <ngx-mat-select-search [(ngModel)]="statusFilter" [placeholderLabel]="'Search...'"
                                              [noEntriesFoundLabel]="'Not found'" name="statusFilter"></ngx-mat-select-search>
                                          </mat-option>
                                    <mat-option *ngFor="let item of statusList | stringFilterBy:statusFilter:'DisplayName';  trackByProperty: 'statusId'" [value]="item.statusId">
                                        {{item.DisplayName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                      
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Priority</mat-label>
                                <mat-select matInput placeholder="Priority" #priority="ngModel" [(ngModel)]="formdata.priority"
                                    name="Priority" required >
                                        <mat-option>
                                            <ngx-mat-select-search [(ngModel)]="PriorityFilter" [placeholderLabel]="'Search...'"
                                              [noEntriesFoundLabel]="'Not found'" name="PriorityFilter"></ngx-mat-select-search>
                                          </mat-option>
                                    <mat-option *ngFor="let item of priorityList | stringFilterBy:PriorityFilter:'priotityIdName';  trackByProperty: 'priotityId'" [value]="item.priotityId">
                                        {{item.priotityIdName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Assigned To</mat-label>
                                <mat-select matInput placeholder="Assigned To" #assigneID="ngModel" [(ngModel)]="formdata.assigneID"
                                    name="Priority" required >
                                        <mat-option>
                                            <ngx-mat-select-search [(ngModel)]="assigneeIDFilter" [placeholderLabel]="'Search...'"
                                              [noEntriesFoundLabel]="'Not found'" name="assigneeIDFilter"></ngx-mat-select-search>
                                          </mat-option>
                                    <mat-option *ngFor="let item of assignedList | stringFilterBy:assigneeIDFilter:'CategoryName';  trackByProperty: 'assignedId'" [value]="item.assignedId">
                                        {{item.assignedName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Description" name="Description" #Description="ngModel"
                                    [(ngModel)]="formdata.Description" required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12" >
                            <app-file-upload [(file)]="file" fileType="application/pdf" label="Attachment"
                              [initialFilePath]="formdata.ticketPath" dir="Tickets">
                  
                            </app-file-upload>
                            <mat-error *ngIf="formdata.ticketNo===0 && !file && !formdata.ticketPath">Attachment Required</mat-error>
                          </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="center">
        <button type="button" mat-dialog-close class="btn btn-primary btn-sm modalclose">Close</button>
        <button type="submit" class="btn btn-primary btn-sm btn-cust" (click)="add(form)">{{btnLabel}}</button>
    </div>
 </form>