<div class="card shadow" [hidden]="!monthWiseChartData" style="min-height: 352px;">
<!-- style="height: 500px;overflow-x: scroll;" -->
   
    <div class="card-body">

      <!-- <h4 class="card-title color-333">Monthly Applications</h4> -->
      <div class="cardtitle py-0">Monthly Applications</div>
      
      <ng-container *ngIf="monthWiseChartData?.length > 0">
      <dx-chart
    id="chart" style="height: 175px"
    [dataSource]="monthWiseChartData"
    palette="Harmony Light">
    <dxo-size></dxo-size> <!-- [height]="300"
[width]="600" -->
    <dxi-series valueField="Application" name="Application"></dxi-series>
    <dxi-series valueField="Approved" name="Approved"></dxi-series>
    <dxi-series valueField="Student"  *ngIf="currentUser.RoleType !=2" name="Student"></dxi-series>
    <dxi-series valueField="Rejected" name="Rejected"></dxi-series>
    <!-- <dxo-common-series-settings
        argumentField="series"
        type="bar"
        valueField="oil">
    </dxo-common-series-settings>
    <dxo-series-template
        nameField=""
        [customizeSeries]="customizeSeries">
    </dxo-series-template> -->

<!-- <dxo-tooltip
        [enabled]="true"
        [customizeTooltip]="customizeTooltip"
    ></dxo-tooltip> -->
    
    <dxo-tooltip [enabled]="true"  color="#fff" [font]="{'color': 'black'}">
    </dxo-tooltip>
    <!-- <div *dxTemplate="let info of 'content'" >

        <span class="chart-tooltip"> {{info.point.value}}</span>

    </div> -->
    <dxo-common-series-settings
        argumentField="name"
        type="bar"
        [ignoreEmptyPoints]="true">
        <dxi-value-axis [allowDecimals]="false" > </dxi-value-axis>
    </dxo-common-series-settings>
    <dxo-legend
        verticalAlignment="center"
        horizontalAlignment="right">
    </dxo-legend>
</dx-chart>
</ng-container>

      <!-- <ngx-charts-bar-vertical-2d
      [view]="[500,350]"
      [results]="monthWiseChartData"
      gradient="true"
      xAxis="true"
      yAxis="true"
      legend="true"
      showXAxisLabel="true"
      showYAxisLabel="true"
      xAxisLabel="Month"
      yAxisLabel="Number"
      >
    </ngx-charts-bar-vertical-2d> -->

    <ng-container *ngIf="monthWiseChartData?.length <= 0">
      <div style="position: absolute;top: 58%;left: 50%;-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);"> 
      <p>No data</p>
      </div>
  </ng-container>
    </div>
     <!-- <div class="card-footer ">
      <div>&nbsp;</div>
      <div style="width: 200px;" class="pull-right" >
        <form #chartForm="ngForm"  >
          <mat-form-field >
            <mat-label>Year</mat-label>
            <mat-select placeholder="year" name="year" #year="ngModel" [(ngModel)]="chartdata.year"
            (selectionChange)="showMonthApplicationChart()"
            >
                <mat-option [value]="item" *ngFor="let item of years">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
     
    </div>   -->
  </div>
