<div class="main-content new-design">

<div class="card">
        <div class="card-header">
            Form Preview <button mat-raised-button (click)="add()" class="btn btn-sm btn-danger" ><mat-icon class="py-1">add</mat-icon>Add New Control</button>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div app-msm-form-control [control]="item" class="{{  item.Data.controlClass}}" DesignMode="true"
                        *ngFor="let item of controlList" (onDelete)="delete($event)" (onEdit)="edit($event)">
                    </div>
                </div>
            </div>
        </div>
</div>

</div>