<div class="container-fluid new-design">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3 pagetitle">
        <h4 class="mb-0 font-weight-normal color-333">Current Reports</h4>
        <!-- <a href="#">
                <i class="fa fa-cog" style="margin-right:10px;color:#959595;"></i>
            </a> -->
        <div>
            <select class="form-control new-design-formcontrol bg-white" (change)="selectedValue($event.target.value)">
                <option value="1">Weekly</option>
                <option value="2">Monthly</option>
                <option value="3">Yearly</option>
            </select>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body" style="padding: 0.9375rem 20px 0rem 20px;">
                    <div class="row no-gutters align-items-center">
                        <div class="">
                            <div class="cardtitle py-0">{{tile1?.Name}}</div>
                            <!-- <div class="mb-1 cardtitlesub">Total Student Interaction</div> -->
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="">
                            <a href="#/member/{{tile1?.link}}">
                                <div class="cardlargenumber">{{tile1?.NoOfItem}}</div>
                            </a>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <img src="./assets/img/Graph.png" style="width:100%;">
                    </div>
                    <div class="row no-gutters justify-content-end mt-stud">
                        <div *ngIf='tile1?.DifferOfItem>0'><span class="material-icons"
                                style="color: #1cf02a;">arrow_upward</span>
                        </div>
                        <div *ngIf="tile1?.DifferOfItem<0"><span class="material-icons"
                                style="color: #e92429;">arrow_downward</span></div>
                        <div><span class="material-icons rotat_down" *ngIf="tile1?.DifferOfItem==0">height</span></div>
                        <div class="green"
                            [ngStyle]="{'color': tile1?.DifferOfItem > 0 ? '#1cf02a' :(tile1?.DifferOfItem < 0 ? 'red' : 'black')}">
                            {{tile1?.DifferOfItem}}</div>
                        <div class="ml-2 mt-1 percent-font">{{ tile1?.Growth}}<span *ngIf="tile1?.Growth!=null">%</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-9 col-md-6">
            <div class="card shadow">
                <div class="card-body text-center-mob" style="padding: 0.9375rem 20px 0rem 20px;">
                    <div class="row no-gutters align-items-center">
                        <div class="">
                            <div class="cardtitle py-0">Applications</div>
                            <!-- <div class="mb-1 cardtitlesub">Total Student Interaction</div> -->
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4" *ngFor="let item of data | slice:1;let i=index;"
                            [ngClass]="{'leftborder':i>0}">
                            <div class="cardtitlesubblue">{{item.Name}}</div>
                            <a href="#/member/{{item.link}}">
                                <div class="cardlargenumber">{{item.NoOfItem}}</div>
                            </a>
                            <div class="d-flex justify-content-center-mob mt-app">
                                <div>
                                    <span class="material-icons" style="color: #1cf02a;"
                                        *ngIf='item.DifferOfItem>0'>arrow_upward</span>
                                </div>
                                <div>
                                    <span class="material-icons" style="color: #e92429;"
                                        *ngIf='item.DifferOfItem<0'>arrow_downward</span>
                                </div>
                                <div>
                                    <span class="material-icons rotat_down" *ngIf="item.DifferOfItem==0">height</span>
                                </div>
                                <span class="green"
                                    [ngStyle]="{'color': item.DifferOfItem > 0 ? '##1cf02a' : (item.DifferOfItem < 0 ? 'red' : 'black')}">
                                    {{item.DifferOfItem}}
                                </span>
                                <span class="ml-2 mt-1 percent-font">{{ item.Growth}}<span *ngIf="item.Growth!=null">%</span></span>
                            </div>
                        </div>
                        <!-- <div class="row col-md-4 no-gutters justify-content-start mt-4">

                        </div> -->
                        <!-- <div class="row col-md-4 no-gutters justify-content-start mt-4 pl-3">
                            <div *ngIf='tile3?.DifferOfItem>0'><span class="material-icons"
                                    style="color: #04cb12;">arrow_upward</span>
                            </div>
                            <div *ngIf="tile3?.DifferOfItem<0"><span class="material-icons"
                                    style="color: #e92429;">arrow_downward</span></div>
                            <div><span class="material-icons rotat_down" *ngIf="tile3?.DifferOfItem==0">height</span>
                            </div>

                            <div style="font-size: 21px;margin: -3px 0px;color: #04cb12;">{{tile3?.DifferOfItem}}</div>
                            <div class="ml-2 mt-1">{{ tile3?.Growth | percent }}</div>
                        </div>
                        <div class="row col-md-4 no-gutters justify-content-start mt-4 pl-3">
                            <div *ngIf='tile4?.DifferOfItem>0'><span class="material-icons"
                                    style="color: #04cb12;">arrow_upward</span>
                            </div>
                            <div *ngIf="tile4?.DifferOfItem<0"><span class="material-icons"
                                    style="color: #e92429;">arrow_downward</span></div>
                            <div><span class="material-icons rotat_down" *ngIf="tile4?.DifferOfItem==0">height</span>
                            </div>
                            <div style="font-size: 21px;margin: -3px 0px;color: #04cb12;">{{tile4?.DifferOfItem}}</div>
                            <div class="ml-2 mt-1">{{ tile4?.Growth | percent }}</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>