<div class="card shadow" [hidden]="!appProgChartData" style="min-height: 352px;">
    <!-- style="height: 500px;overflow-x:scroll;" -->
    <div class="card-body">
        <!-- <h4 class="card-title color-333">Intake-Applications</h4> -->
        <div class="cardtitle">Intake-Applications</div>
        <ng-container *ngIf="appProgChartData?.length > 0">
            <!-- style="width: 100%;height: 95%;" -->
            <dx-pie-chart id="pie" class="pie" #pie palette="Harmony Light" paletteExtensionMode="Alternate"
                [dataSource]="appProgChartData" resolveLabelOverlapping="hide" style="margin-top: -60px;
   margin-bottom: -50px;">
                <dxo-size>
                </dxo-size>
                <!-- [height]="570"
[width]="690" -->
                <dxo-animation easing="linear" [duration]="500" [maxPointCountSupported]="100">
                </dxo-animation>
                <dxo-legend [visible]="false"></dxo-legend>
                <dxi-series argumentField="name" valueField="value">
                    <dxo-label position="columns" [visible]="true" [customizeText]="customizeLabel">
                        <dxo-font [size]="8"></dxo-font>
                        <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
                    </dxo-label>

                    <dxo-small-values-grouping mode="smallValueThreshold" [threshold]="3"></dxo-small-values-grouping>
                </dxi-series>
                <dxo-tooltip [enabled]="true" color="#fff" [font]="{'color': 'black'}" [customizeTooltip]="customizeTooltip">
                </dxo-tooltip>
                <!-- <div *dxTemplate="let info of 'content'" class='state-tooltip'>

                    <span> {{info.point.data.name}} : {{info.point.data.value}}</span>

                </div> -->
            </dx-pie-chart>
        </ng-container>

        <ng-container *ngIf="appProgChartData?.length <= 0">
            <div style="position: absolute;top: 50%;left: 50%;-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);"> 
            <p>No data</p>
            </div>
        </ng-container>


    </div>

</div>
