<form #eventform="ngForm" class="new-design" form>
  <div mat-dialog-title>
    Event
    <button class="close text-white" type="button" mat-dialog-close aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div mat-dialog-content>
    <mat-tab-group [(selectedIndex)]="tabIndex" #matTabGroup [class.header-less-tabs]="matTabGroup._tabs.length <= 1">
      <mat-tab label="Event">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12" [hidden]="permission < 2">
              <!-- //permission *ngIf="!(formdata.EventId > 0 && formdata.EventType === 0) && permission < 2" -->
              <mat-form-field>
                <mat-label>Owner</mat-label>
                <mat-select placeholder="Owner" name="EventOwner" [(ngModel)]="formdata.EventOwner"
                  #EventOwner="ngModel" required [pattern]="modelPattern.dropDownNumericValue" [disabled]="
                    permission < 2 ||
                    currentUser.RoleId === 2 ||
                    currentUser.RoleType === 2
                  ">
                  <mat-option>
                    <ngx-mat-select-search [(ngModel)]="ownerFilter" [placeholderLabel]="'Search...'"
                      [noEntriesFoundLabel]="'Not found'" name="ownerFilter"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option [value]="0"> Select Owner </mat-option>
                  <mat-option *ngFor="
                      let item of userList
                        | stringFilterBy: ownerFilter:'DisplayName';
                      trackByProperty: 'UserId'
                    " [value]="item.UserId">
                    {{ item.DisplayName + "/" + item.EmailId }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-12" *ngIf="this.institutionId">
              <mat-form-field>
                <mat-label>Region</mat-label>
                <mat-select placeholder="Region" name="RegionId" [(ngModel)]="formdata.RegionId" #RegionId="ngModel"
                  required [pattern]="modelPattern.dropDownNumericValueWithMinusAnd0" [disabled]="disabledValue">
                  <mat-option>
                    <ngx-mat-select-search [(ngModel)]="regionFilter" [placeholderLabel]="'Search...'"
                      [noEntriesFoundLabel]="'Not found'" name="regionFilter"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option> Select Region </mat-option>
                  <mat-option [value]="0" *ngIf="regionList?.length > 0">
                    All
                  </mat-option>
                  <mat-option *ngFor="
                      let item of regionList
                        | stringFilterBy: regionFilter:'CountryName';
                      trackByProperty: 'CountryId'
                    " [value]="item.CountryId">
                    {{ item.CountryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="RegionId.hasError('required')">Region is required</mat-error>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" type="text" name="EventTitle" [(ngModel)]="formdata.EventTitle"
                  #EventTitle="ngModel" required [disabled]="disabledValue" [pattern]="modelPattern.title" />
                <mat-error *ngIf="EventTitle.hasError('required')">Title is required</mat-error>
                <mat-error *ngIf="EventTitle.hasError('pattern')">Enter valid title</mat-error>

              </mat-form-field>
            </div>

            <div class="col-md-12" *ngIf="formdata.ParentType !== 2">
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select placeholder="Type" name="EventType" [(ngModel)]="formdata.EventType" #EventType="ngModel"
                  required [pattern]="modelPattern.dropDownNumericValueWith0"
                  [disabled]="formdata.EventId > 0 || disabledValue">
                  <mat-option [value]="-1"> Select Type </mat-option>
                  <mat-option [value]="0">Event</mat-option>
                  <mat-option [value]="1">Update</mat-option>
                </mat-select>
                <mat-error>Type is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 px-0 d-md-flex">
            <div class="col-12 col-md" *ngIf="formdata.EventType === 0">
              <mat-form-field>
                  <mat-label>Category</mat-label>
                  <mat-select matInput placeholder="Category" #EventCategoryId="ngModel"
                      [(ngModel)]="formdata.EventCategoryId" name="EventCategoryId" [required]="formdata.EventType === 0">
                      <mat-option>
                          <ngx-mat-select-search [(ngModel)]="categoryFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="categoryFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                          *ngFor="let category of categoryList | stringFilterBy:categoryFilter:'EventCategoryName';  trackByProperty: 'EventCategoryId'"
                          [value]="category.EventCategoryId">{{category.EventCategoryName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="EventCategoryId.hasError('required')">Select category</mat-error>
              </mat-form-field>
          </div>
          <div class="col-12 col-md" *ngIf="formdata.EventType === 0 && formdata.ParentType === 2">
            <mat-form-field>
                <mat-label>Institutions</mat-label>
                <mat-select matInput placeholder="Institution" #InstitutionId="ngModel"
                    [(ngModel)]="formdata.InstitutionId" name="institution" [required]="formdata.EventType === 0" [pattern]="modelPattern.dropDownNumericValue">

                    <mat-option>
                        <ngx-mat-select-search [(ngModel)]="instituteFilter"
                            [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                            name="instituteFilter"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                        *ngFor="let item of institutionList |  stringFilterBy:instituteFilter:'InstName';  trackByProperty: 'InstitutionId' "
                        [value]="item.InstitutionId">
                        {{item.InstName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="InstitutionId.hasError('required') || InstitutionId.hasError('pattern')">Select institution</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-md" *ngIf="formdata.EventType === 0">
          <mat-form-field>
            <mat-label>No Of Audience</mat-label>
            <input matInput placeholder="No Of Audience" type="number" name="AudienceCount" [(ngModel)]="formdata.AudienceCount"
              #AudienceCount="ngModel" min="0" max="9999999999" oninput="validity.valid||(value='');"/>
          </mat-form-field>
        </div>
        <div class="col-12 col-md" *ngIf="formdata.EventType === 0">
          <mat-form-field>
            <mat-label>Session/Branding</mat-label>
            <mat-select placeholder="Session/Branding" name="SessionORBranding" [(ngModel)]="formdata.SessionORBranding" #SessionORBranding="ngModel"
            [required]="formdata.EventType === 0" [pattern]="modelPattern.dropDownNumericValueWith0">
              <mat-option [value]="0">Session</mat-option>
              <mat-option [value]="1">Branding</mat-option>
            </mat-select>
            <mat-error>Session/Branding is required</mat-error>
          </mat-form-field>
        </div>
      </div>
            <div class="col-md-4" *ngIf="formdata.EventType === 0">
              <app-date-picker placeholder="Start Date" [(value)]="formdata.StartDate" [disabled]="disabledValue"
                [required]="formdata.EventType === 0" [form]="form" [maxDate]="formdata.EndDate" name="StartDate">
              </app-date-picker>
            </div>
            <div class="col-md-4" *ngIf="formdata.EventType === 0">
              <app-hours [(ngModel)]="formdata.StartHours" #StartHours="ngModel" [disabled]="disabledValue"
                name="StartHours" placeholder="Start Hours" [required]="formdata.EventType === 0"></app-hours>
            </div>
            <div class="col-md-4" *ngIf="formdata.EventType === 0">
              <app-minutes [(ngModel)]="formdata.StartMinutes" #StartMinutes="ngModel" [disabled]="disabledValue"
                name="StartMinutes" placeholder="Start Minutes" [required]="formdata.EventType === 0"></app-minutes>
            </div>

            <div class="col-md-4" *ngIf="formdata.EventType === 0">
              <app-date-picker placeholder="End Date" [(value)]="formdata.EndDate" [disabled]="disabledValue"
                [minDate]="formdata.StartDate" [required]="formdata.EventType === 0" [form]="form" name="EndDate">
              </app-date-picker>
            </div>

            <div class="col-md-4" *ngIf="formdata.EventType === 0">
              <app-hours [(ngModel)]="formdata.EndHours" #EndHours="ngModel" [disabled]="disabledValue" name="EndHours"
                placeholder="End Hours" [required]="formdata.EventType === 0" [minHours]="getEndMinHours()"
                [MinValue]="getEndMinHours()"></app-hours>
            </div>
            <div class="col-md-4" *ngIf="formdata.EventType === 0">
              <app-minutes [(ngModel)]="formdata.EndMinutes" #EndMinutes="ngModel" [disabled]="disabledValue"
                name="EndMinutes" placeholder="End Minutes" [required]="formdata.EventType === 0"
                [minMinutes]="getMinEndMinute()" [MinValue]="getMinEndMinute()">
              </app-minutes>
            </div>

            <div class="col-md-12">
              <div class="form-group" [hidden]="disabledValue">
                <label>Description</label>
                <!-- <span style="color: red"> *</span> -->
                <dx-html-editor
                  tagName="textarea"
                  placeholder="Description"
                  [disabled]="disabledValue"
                  [(ngModel)]="formdata.EventDescription"
                  name="EventDescription"
                  #EventDescription="ngModel" >
                  <dxo-toolbar [items]="items"> </dxo-toolbar>
                  <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                  <!-- <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      message="Description is required"
                    ></dxi-validation-rule>
                  </dx-validator> -->
                </dx-html-editor>

                <!-- <dx-html-editor tagName="textarea" placeholder="About Institutions" rows="5" #InstAbout="ngModel"
  [(ngModel)]="formdata.InstAbout" name="InstAbout">
  <dxo-toolbar [items]="items"> </dxo-toolbar>
</dx-html-editor> -->

                <!-- <ckeditor [editor]="Editor" tagName="textarea" placeholder="Description"
                  [(ngModel)]="formdata.EventDescription" name="EventDescription" #EventDescription="ngModel"
                  style="min-height: 100px;" required></ckeditor> -->
              </div>
              <div [hidden]="!disabledValue">
                <span [innerHTML]="formdata.EventDescriptionPreview"></span>
              </div>
            </div>

          </div>
        </div>
      </mat-tab>

      <mat-tab label="Participants" *ngIf="formdata.EventId > 0 && formdata.EventType === 0">
        <app-attende [parentName]="parentName" title="Participants" parentType="2" [parentId]="formdata.EventId" attendeType="2" [permission]="
            (currentUser.RoleId === 2 || currentUser.RoleType === 2) &&
            currentUser.UserId != formdata.EventOwner
              ? 1
              : permission
          " [InstitutionId]="institutionId" [RegionId]="formdata.RegionId">
        </app-attende>
      </mat-tab>

      <mat-tab label="Attendees" *ngIf="formdata.EventId > 0 && formdata.EventType === 0">
        <app-attende [parentName]="parentName" title="Attendees" parentType="2" [parentId]="formdata.EventId" attendeType="1" [permission]="
            (currentUser.RoleId === 2 || currentUser.RoleType === 2) &&
            currentUser.UserId != formdata.EventOwner
              ? 1
              : permission
          " [InstitutionId]="institutionId" [RegionId]="formdata.RegionId">
        </app-attende>
      </mat-tab>
    </mat-tab-group>
    <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisible" [showCloseButton]="true">
      <textarea [(ngModel)]="formdata.EventDescription" name="EventDescription" style="
          height: 100% !important;
          width: 100%;
          display: block;
          border: 0px;
        "></textarea>
    </dx-popup>
  </div>
  <div mat-dialog-actions align="center">
    <button type="button" mat-dialog-close class="btn btn-sm btn-primary modalclose">
      Close
    </button>

    <button type="submit" class="btn btn-sm btn-primary cust-update-btn" (click)="save(eventform)"
      [hidden]="tabIndex > 0" *ngIf="
        permission > 1 &&
        ((currentUser.RoleId != 2 && currentUser.RoleType != 2) ||
          currentUser.UserId === formdata.EventOwner)
      " [disabled]="flagdisabled">
      {{ btnLabel }}
    </button>
  </div>
</form>