<div class="logo1" *ngIf="currentUser.RoleType===2">
    <div class="logo-img1">
        <a class="logo-mini1">
            <img src="{{filepath+'institution/'+instLogo}}" alt="logo" class="inst-logo"
                onerror="this.src='./assets/img/MyMSM_logo_1.png'" />
        </a>
    </div>
</div>

<div class="logo" *ngIf="currentUser.RoleType!=2">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/MyMSM_logo_1.png" alt="logo" />
        </div>
    </a>
    <a href="#" class="simple-text logo-normal">MSM Unify</a>
</div>

<div class="sidebar-wrapper1">
    <div class="user" style="max-height: 45px;overflow: hidden;">
        <div class="photo">
            <img src="{{currentUser.ProfileImage ? filepath+'User/'+currentUser.ProfileImage :  './assets/img/avatar.jpg' }}"
                onerror="this.src='./assets/img/avatar.jpg'">
        </div>
        <div class="user-info" routerLinkActive="active">
            <a routerLink="/member/profile" style="display: block; padding:7px;" data-toggle="tooltip"
                title="{{currentUser.DisplayName}}"><span>{{currentUser.DisplayName}}</span></a>
            <span *ngIf="currentUser.RoleId===2 && currentUser.isPrimary===1"
                style="display: block;margin-top: -10px;">#{{currentUser.RefId}}</span>
        </div>
    </div>
</div>

<div class="sidebar-wrapper" style="margin-top: 5px;">

    <ul class="nav" *ngIf="currentUser.RoleId===1" style="position: relative;">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" routerLink="/member/dashboard" (click)="updatePS()">
                <p class="mainmenu">Dashboard</p>
            </a>
        </li>

        <!-- Institution Start -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" routerLink="/member/institutions" (click)="updatePS()">
                <p class="mainmenu">Institution</p>
            </a>
        </li>

       
        <!-- Institution End -->
        <!-- Operation Start -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-operation" (click)="updatePS()">
                <p class="mainmenu">Operation<b class="caret"></b></p>
            </a>
            <div class="collapse" id="show-operation">
                <ul class="nav nav-border">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/students">
                            <span class="sidebar-normal">Students</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/eligibility">
                            <span class="sidebar-normal">Eligibility Test</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/program-search">
                            <span class="sidebar-normal">Program Search</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/application">
                            <span class="sidebar-normal">Applications</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/refund">
                            <span class="sidebar-normal">Refund</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Operation End -->

        <!-- Agent Start -->

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-agent" (click)="updatePS()">
                <p class="mainmenu">Agent<b class="caret"></b></p>
            </a>
            <div class="collapse" id="show-agent">
                <ul class="nav nav-border">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/agents">
                            <span class="sidebar-normal">Agent List</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/evaluationform">
                            <span class="sidebar-normal">Evaluation Form</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" data-toggle="collapse" routerLink="/member/commission">
                            <span class="sidebar-normal">Commission</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Agent End -->


        <!-- Invoice Start -->

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-invoice" (click)="updatePS()">
                <p class="mainmenu">Invoices<b class="caret"></b></p>
            </a>
            <div class="collapse" id="show-invoice">
                <ul class="nav nav-border">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/import-batch" [queryParams]="{batch:'commission'}">
                            <span class="sidebar-normal">Import</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/invoice/map-commission">
                            <span class="sidebar-normal">Map Commission</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="/member/invoice">
                            <span class="sidebar-normal">View</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Invoice End -->



        <!-- Report Start -->

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-reports" (click)="updatePS()">
                <p class="mainmenu">Reports<b class="caret"></b></p>
            </a>
            <div class="collapse" id="show-reports">
                <ul class="nav nav-border">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/useractivity">
                            <span class="sidebar-normal">User Activity</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/daily-sales">
                            <span class="sidebar-normal">Daily Sales</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/programwise">
                            <span class="sidebar-normal">Program Wise</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/aef-data">
                            <span class="sidebar-normal">AEF Data</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/new-application">
                            <span class="sidebar-normal">New Applications</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/deferred-application">
                            <span class="sidebar-normal">Deferred Applications</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/arrival-application">
                            <span class="sidebar-normal">Arrival Applications</span>
                        </a>
                    </li>


                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/refundtracker">
                            <span class="sidebar-normal">Refund Tracker</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/agentinvoicetracker">
                            <span class="sidebar-normal">Agent Invoice Tracker</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/passport-expiry">
                            <span class="sidebar-normal">Passport Expiry</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/mobility">
                            <span class="sidebar-normal">Mobility</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/feedback">
                            <span class="sidebar-normal">Feedbacks</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/agentintakewisesummary">
                            <span class="sidebar-normal">Agent Intakewise Summary</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/institutecountrywisesummary">
                            <span class="sidebar-normal">Institution Countrywise Summary</span>
                        </a>
                    </li>


                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/instituteintakewisesummary">
                            <span class="sidebar-normal">Institution Intakewise Summary</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/agentinstitutionintakewisesummary">
                            <span class="sidebar-normal">Agent Institution Intakewise Summary</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/agentinstituteintakewiseperformance">
                            <span class="sidebar-normal">Agent Intakewise Performance</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/instituteagentgrowth">
                            <span class="sidebar-normal">Institution Agent Growth</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/institutetoptenprogram">
                            <span class="sidebar-normal">Institution Top Program</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/pendingofferlettercanada">
                            <span class="sidebar-normal">Pending Offer Letter Canada</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">

                        <a class="nav-link" routerLink="/member/reports/pendingofferletteruk">
                            <span class="sidebar-normal">Pending Offer Letter UK</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/summaryofrefund">
                            <span class="sidebar-normal">Summary Of Refund</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/salesreportcanada">
                            <span class="sidebar-normal">Sales Report Canada</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/salesreportusa">
                            <span class="sidebar-normal">Sales Report USA</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">

                        <a class="nav-link" routerLink="/member/reports/salesreportuk">
                            <span class="sidebar-normal">Sales Report UK</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">

                        <a class="nav-link" routerLink="/member/reports/salesreporthungary">
                            <span class="sidebar-normal">Sales Report Hungary</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/aefmissingdata">
                            <span class="sidebar-normal">AEF Missing</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/agent-activity">
                            <span class="sidebar-normal">Agent Activity</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/kpi/dashboard">
                            <span class="sidebar-normal">KPI Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/kpi/comparison-dashboard">
                            <span class="sidebar-normal">KPI Comparison Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/marketing-report/master">
                            <span class="sidebar-normal">Marketing Master</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/marketing-report/calling">
                            <span class="sidebar-normal">Agent Calling</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/marketing-report/studentsfollowup">
                            <span class="sidebar-normal">Student Followup</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/reports/commission-report">
                            <span class="sidebar-normal">Commission</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Report End -->


        <!-- Marketing Start -->

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-marketing" (click)="updatePS()">
                <p class="mainmenu">Marketing<b class="caret"></b></p>
            </a>
            <div class="collapse" id="show-marketing">
                <ul class="nav nav-border">
                    
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/campaigns">
                            <span class="sidebar-normal">Campaigns</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/leads">
                            <span class="sidebar-normal">Leads</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="/member/opportunities">
                            <span class="sidebar-normal">Opportunities</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/events">
                            <span class="sidebar-normal">Events</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/activity">
                            <span class="sidebar-normal">Activity</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Marketing End -->


        <!-- Settings Start -->

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-settings" (click)="updatePS()">
                <p class="mainmenu">Settings<b class="caret"></b></p>
            </a>
            <div class="collapse" id="show-settings">
                <ul class="nav nav-border">

                    <!-- Assigned Agent Start -->

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/assigned-agent">
                            <span class="sidebar-normal">Assign Agent</span>
                        </a>
                    </li>

                    <!-- Assigned User End -->
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/fee-waiver">
                            <span class="sidebar-normal">Fee Waivers</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/knowledge-centre">
                            <span class="sidebar-normal">Knowledge Base</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/news">
                            <span class="sidebar-normal">News & Updates</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/notification">
                            <span class="sidebar-normal">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/retrieve/application">
                            <span class="sidebar-normal">Retrieve Application</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/role/show">
                            <span class="sidebar-normal">Roles</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/partner-type">
                            <span class="sidebar-normal">Partner Type</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/agent-document">
                            <span class="sidebar-normal">Agent Document</span>
                        </a>
                    </li>


                </ul>
            </div>
        </li>
        <!-- Settings End -->
    </ul>

    <ul class="nav" *ngIf="currentUser.RoleId===2 && currentUser.isPrimary===1" style="position: relative;">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" routerLink="/member/dashboard">
                <p class="mainmenu">Dashboard</p>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" routerLink="/member/institutions">
                <p class="mainmenu">Institutions</p>
            </a>
        </li>
        <!-- *ngIf="currentUser.InstitutionCount > 0 || currentUser.BusinessCertFound>0" -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" routerLink="/member/commission">
                <p class="mainmenu">Commission</p>
            </a>
        </li>

        <!-- Operation Start -->
        <!-- (currentUser.InstitutionCount > 0 && currentUser.AccountVerificationStatus===1) || (currentUser.InstitutionCount > 0 || currentUser.BusinessCertFound>0)" -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" href="#show-operation">
                <p class="mainmenu">Operation<b class="caret"></b></p>
            </a>
            <!-- *ngIf="currentUser.InstitutionCount > 0 && currentUser.AccountVerificationStatus===1" -->
            <div class="collapse" id="show-operation">
                <ul class="nav nav-border">
                    <ng-container>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/students">
                                <span class="sidebar-normal">Students</span>
                            </a>
                        </li>
                    </ng-container>
                    <!-- // *ngIf="currentUser.InstitutionCount > 0 || currentUser.BusinessCertFound>0" -->
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/eligibility">
                            <span class="sidebar-normal">Eligibility Test</span>
                        </a>
                    </li>
                    <!-- *ngIf="currentUser.InstitutionCount > 0 || currentUser.BusinessCertFound>0" -->
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/member/program-search">
                            <span class="sidebar-normal">Program Search</span>
                        </a>
                    </li>
                    <!-- *ngIf="currentUser.InstitutionCount > 0 && currentUser.AccountVerificationStatus===1" -->
                    <ng-container>

                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/application">
                                <span class="sidebar-normal">Applications</span>
                            </a>
                        </li>

                    </ng-container>

                </ul>
            </div>
        </li>

        <!-- Operation End -->
        <!-- *ngIf="currentUser.InstitutionCount > 0 && currentUser.AccountVerificationStatus===1" -->
        <ng-container>
            <!-- Invoice Start -->
            <!-- *ngIf="currentUser.InstitutionCount > 0 && currentUser.AccountVerificationStatus===1" -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" href="#show-invoice">
                    <p class="mainmenu">Invoices<b class="caret"></b></p>
                </a>
                <div class="collapse" id="show-invoice">
                    <ul class="nav nav-border">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/invoice/generate-invoice">
                                <span class="sidebar-normal">Generate</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" routerLink="/member/invoice">
                                <span class="sidebar-normal">View</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Invoice End -->

            <!-- Reports Start -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" href="#show-reports">
                    <p class="mainmenu">Reports<b class="caret"></b></p>
                </a>
                <div class="collapse" id="show-reports">
                    <ul class="nav nav-border">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/reports/growth-analysis">
                                <span class="sidebar-normal">Growth Analysis</span>
                            </a>
                        </li>

                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/reports/student-analysis">
                                <span class="sidebar-normal">Student Analysis</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/reports/daily-sales-with-revenue">
                                <span class="sidebar-normal">Daily Sales With Revenue</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/reports/conversion-ratio">
                                <span class="sidebar-normal">Conversion Ratio</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/member/reports/commission-report">
                                <span class="sidebar-normal">Commission</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Reports End -->

            <!-- Settings Start -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" href="#show-settings">
                    <p class="mainmenu">Settings<b class="caret"></b></p>

                </a>

                <div class="collapse" id="show-settings">
                    <ul class="nav nav-border">
                        <!-- *ngIf="currentUser.InstitutionCount > 0 && currentUser.AccountVerificationStatus===1" -->
                        <ng-container>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/member/retrieve/application">
                                    <span class="sidebar-normal">Retrieve Applications</span>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </li>

        </ng-container>
        <!-- Settings End -->
    </ul>

    <ul class="nav" *ngIf="currentUser.RoleId===3" style="position: relative;">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" data-toggle="collapse" routerLink="/member/dashboard">
                <p class="mainmenu">Dashboard</p>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/eligibility">
                <p class="mainmenu">Eligibility Test</p>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/program-search">
                <p class="mainmenu">Program Search</p>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/application">
                <p class="mainmenu">Applications</p>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/mydocument">
                <p class="mainmenu"> My Documents</p>
            </a>
        </li>
    </ul>

    <ul class="nav" style="position: relative;"
        *ngIf="(currentUser.RoleId>99 ) || (currentUser.RoleId===2 && currentUser.isPrimary===0)">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/member/dashboard">
                <p class="mainmenu">Dashboard</p>
            </a>
        </li>
        <app-menu-item [menuItem]="menu"></app-menu-item>
    </ul>

    <!-- <div class="col-12" style="border: 1px solid red;position: fixed;bottom: 0;max-width: 260px;">
        <div class="wrap">
            <button type="button" [matTooltip]="" class="btn btn-sm" style="width: 100%;    color: #fff;
    background-color: #E92429;border-color: #E92429;">Knowledge Center</button>
            <button type="button" [matTooltip]="" class="btn btn-sm" style="width: 100%;    color: #fff;
    background-color: #E92429;border-color: #E92429;">Feed Back</button>
        </div>
    </div> -->

</div>


<div class="btndiv">

    <!-- <div class="col-12 px-1" style="height: 30px;"
        *ngIf="(currentUser.RoleId === 2 && currentUser.PartnerTypeId == 2 && currentUser.BusinessCertFound == 0) || showBecomePartnerBtn ">
        <a (click)="becomePartner()">
            <button type="button" data-toggle="tooltip" title="Click to Become GMO Partner"
                class="btn btn-sm custbutton" *ngIf="showBecomePartnerBtn"><span class="material-icons"> corporate_fare
                </span>&nbsp;
                Click to Become GMO Partner</button>
        </a>
    </div> -->

    <div class="col-12 px-1" style="height: 60px;position: absolute;bottom: 0;"
        [style.bottom.px]="currentUser.RoleType===2 ? 30 : 0">
        <a routerLink="/member/knowledgecentre">
            <button type="button" data-toggle="tooltip" title="Knowledge Center" class="btn btn-sm custbutton tim-note"><span class="material-icons"> corporate_fare </span>&nbsp;
                Knowledge Center</button>
        </a>

        <a (click)="openFeedback()">
            <button type="button" data-toggle="tooltip" title="Feed Back" class="btn btn-sm custbutton tim-note"><i class="material-icons">feedback</i> &nbsp;Feed Back</button>
        </a>
    </div>

</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>