

        <div class="card shadow" style="height:90%; min-height: 345px;">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="py-0">
                <div class="cardtitle py-0">Programs with highest applications</div>
              </div>
            </div>
            <dx-chart id="chart" style="margin-top: 10px; margin-bottom: 10px; height: 250px;" [dataSource]="programWiseApplicationCount" palette="Harmony Light" [rotated]="true">
              <dxo-size></dxo-size>         
              <dxi-series  argumentField="ProgramName" valueField="ApplicationCount" type="bar" name="Application"></dxi-series>
              <!-- <dxi-series    [name]="item.ProgramName" 
              *ngFor="let item of programWiseApplicationCount"
              ></dxi-series> -->
              <!-- <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip> -->
              <dxo-tooltip [enabled]="true" color="#fff" [font]="{'color': 'black'}" ></dxo-tooltip>
              <!-- <div *dxTemplate="let info of 'content'" >
  
                  <span class="chart-tooltip"> {{info.point.value}}</span>
          
              </div> -->
              <!-- <dxo-common-series-settings argumentField="ProgramName" valueField="ApplicationCount" type="bar" [ignoreEmptyPoints]="false">
              </dxo-common-series-settings> -->
              <!-- <dxo-legend verticalAlignment="center" horizontalAlignment="right">
              </dxo-legend> -->
          </dx-chart>
            <!-- <div class="row no-gutters align-items-center">
              <div class="py-0">
                 <h4 class="card-title color-333">Programs with highest applications</h4> 
                <div class="cardtitle py-0">Programs with highest applications</div>
              </div>
            </div> -->
  
            <!-- <hr> -->
  <!-- 
            <div class="row no-gutters align-items-center my-3"
              *ngFor="let item of programWiseApplicationCount  | paginate: {id: 'programs', itemsPerPage: 7, currentPage: programPageIndex }">
  
              <div class="col-10">{{item.ProgramName}}</div>
              <div class="col-2 text-center"><span class="red-text font-weight-bold"> {{ item.ApplicationCount}}</span>
              </div>
           
            </div> -->
          </div>
          <!-- <pagination-controls id="programs" autoHide="true" responsive="true" (pageChange)="programPageIndex = $event"
            class="text-center">
          </pagination-controls> -->
        </div>