<div class="main-content new-design">

  <div class="container-fluid mb-3">
    <div class="row pagetitle mb-4">
      <h1 class="mb-0 col-md-9">
        <div class="row">
          <div class="col-md-12">
            Eligibility Test
          </div>
        </div>
      </h1>
      <div class="mb-0 col-md-3" style="text-align:right;"
        *ngIf="currentUser.RoleId != 3 && currentUser.UserId > 0">
        <button type="button" (click)="showStudentSelect()" href="#"
          class="d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-cust">{{eligiblityData.Name ? eligiblityData.Name  : 'Select Student'}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" *ngIf="programId>0 && stepindex<0 &&  !programList">

        <div class="card">
          <div class="card-body">
            <form #form1="ngForm" class="mb-0">

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Nationality</mat-label>
                    <mat-select matInput placeholder="Nationality" #Nationality="ngModel"
                      [(ngModel)]="eligiblityData.Nationality" name="Nationality" required
                      [pattern]="modelPattern.dropDownNumericValue">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="nationFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="nationFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let country of countryList  | stringFilterBy:nationFilter:'CountryName';  trackByProperty: 'CountryId'"
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Country of Education</mat-label>
                    <mat-select matInput placeholder="Country of Education" #CountryOfEducation="ngModel"
                      [(ngModel)]="eligiblityData.CountryOfEducation" name="CountryOfEducation"
                      (selectionChange)="onHighestEducationCountryChange(true)" required
                      [pattern]="modelPattern.dropDownNumericValue">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="eduFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="eduFilter"></ngx-mat-select-search>
                      </mat-option>

                      <mat-option
                        *ngFor="let country of countryList | stringFilterBy:eduFilter:'CountryName';  trackByProperty: 'CountryId' "
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="CountryOfEducation.hasError('required')">Country of education is required</mat-error>
                    
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Highest Education</mat-label>
                    <mat-select matInput placeholder="Highest Education" #EduLevel="ngModel"
                      [(ngModel)]="eligiblityData.EduLevel" name="EduLevel" required
                      [pattern]="modelPattern.dropDownNumericValue">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="heduFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="heduFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let eduLevel of eduLevelList | stringFilterBy:heduFilter:'EduLevelName';  trackByProperty: 'EduLevelId'"
                        [value]="eduLevel.EduLevelId">
                        {{eduLevel.EduLevelName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>



                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Grading Scheme</mat-label>
                    <mat-select matInput placeholder="Grading Scheme" #GradeScheme="ngModel"
                      [(ngModel)]="eligiblityData.GradeScheme" name="GradeScheme" required
                      [pattern]="modelPattern.dropDownNumericValue"
                      (selectionChange)="onHighestGradeSchemeChange(true)">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="gradFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="gradFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let gradeScheme of gradeSchemeList | stringFilterBy:gradFilter:'GrdSchemeName';  trackByProperty: 'GrdSchemeId' "
                        [value]="gradeScheme.GrdSchemeId">
                        {{gradeScheme.GrdSchemeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Grade Average</mat-label>
                    <input matInput placeholder="Grade Average" #GradeAverage="ngModel"
                      [(ngModel)]="eligiblityData.GradeAverage" name="GradeAverage" required
                      [pattern]="highestGradeSchemeData ? highestGradeSchemeData.InputPattern : null" toUppercase>
                      <mat-error *ngIf="GradeAverage.hasError('pattern')">
                      Enter valid score {{highestGradeSchemeData?.InputHint}}
                    </mat-error>
                    <mat-hint>{{highestGradeSchemeData?.InputHint}}</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <h4>English Test</h4>
                </div>
                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-label>English Exam Type</mat-label>
                        <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                          [(ngModel)]="eligiblityData.EnglishExamType" name="EnglishExamType"
                          (selectionChange)="onEnglishExamChange(true)">
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="engFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="engFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option [value]="0">NA</mat-option>
                          <mat-option
                            *ngFor="let req of reqList | stringFilterBy:engFilter:'ReqName';  trackByProperty: 'ReqId' "
                            [value]="req.ReqId">{{req.ReqName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="englishExamTypeR && englishExamTypeR.ShowA">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.ALabel}}</mat-label>
                        <input matInput type="number" #EnglishExamL="ngModel" [(ngModel)]="eligiblityData.EnglishExamL"
                          name="EnglishExamL" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.AMin"
                          [max]="englishExamTypeR.AMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.AMin" [MaxValue]="englishExamTypeR.AMax">
                        <mat-error *ngIf="EnglishExamL.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="englishExamTypeR && englishExamTypeR.ShowB">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.BLabel}}</mat-label>
                        <input matInput type="number" #EnglishExamR="ngModel" [(ngModel)]="eligiblityData.EnglishExamR"
                          name="EnglishExamR" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.BMin"
                          [max]="englishExamTypeR.BMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.BMin" [MaxValue]="englishExamTypeR.BMax">
                        <mat-error *ngIf="EnglishExamR.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="englishExamTypeR && englishExamTypeR.ShowC">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.CLabel}}</mat-label>
                        <input matInput type="number" #EnglishExamW="ngModel" [(ngModel)]="eligiblityData.EnglishExamW"
                          name="EnglishExamW" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.CMin"
                          [max]="englishExamTypeR.CMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.CMin" [MaxValue]="englishExamTypeR.CMax">
                        <mat-error *ngIf="EnglishExamW.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="englishExamTypeR && englishExamTypeR.ShowD">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.DLabel}}</mat-label>
                        <input matInput type="number" #EnglishExamS="ngModel" [(ngModel)]="eligiblityData.EnglishExamS"
                          name="EnglishExamS" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.DMin"
                          [max]="englishExamTypeR.DMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.DMin" [MaxValue]="englishExamTypeR.DMax">
                        <mat-error *ngIf="EnglishExamS.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="englishExamTypeR && englishExamTypeR.ShowE">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.ELabel}} </mat-label>
                        <input matInput type="number" #EnglishExamOverall="ngModel"
                          [(ngModel)]="eligiblityData.EnglishExamOverall" name="EnglishExamOverall"
                          [required]="eligiblityData.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                          [min]="englishExamTypeR.EMin" [max]="englishExamTypeR.EMax"
                          [step]="englishExamTypeR.Increment" [MinValue]="englishExamTypeR.EMin"
                          [MaxValue]="englishExamTypeR.EMax">
                        <mat-error *ngIf="EnglishExamOverall.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                  </div>

                </div>


                <div class="col-md-12">
                  <h4>Academic</h4>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Country of Education</mat-label>
                    <mat-select matInput placeholder="Country of Education" #AcadmicCountry="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicCountry" name="AcadmicCountry"
                      (selectionChange)="onAcadmicCountryChange(true)">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="ceduFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="ceduFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let country of countryList | stringFilterBy:ceduFilter:'CountryName';  trackByProperty: 'CountryId' "
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Grade</mat-label>
                    <mat-select matInput placeholder="Grade" #AcadmicGrade="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicGrade" name="AcadmicGrade">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="GradeFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="GradeFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let eduLevel of eduLevelList  | stringFilterBy:GradeFilter:'EduLevelName';  trackByProperty: 'EduLevelId' "
                        [value]="eduLevel.EduLevelId">
                        {{eduLevel.EduLevelName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Subject</mat-label>
                    <mat-select matInput placeholder="Subject" #AcadmicSubject="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicSubject" name="AcadmicSubject"
                      [required]="eligiblityData.AcadmicGrade>0">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="subjFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="subjFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let eduLevel of subjectList  | stringFilterBy:subjFilter:'SbjName';  trackByProperty: 'SbjId' "
                        [value]="eduLevel.SbjId">
                        {{eduLevel.SbjName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>



                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Grading Scheme</mat-label>
                    <mat-select matInput placeholder="Grading Scheme" #AcadmicGradeScheme="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicGradeScheme" name="AcadmicGradeScheme"
                      (selectionChange)="onAcademicGradeSchemeChange(true)" [required]="eligiblityData.AcadmicGrade>0">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="grabingFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="grabingFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let gradeScheme of acadmicGradeSchemeList  | stringFilterBy:grabingFilter:'GrdSchemeName';  trackByProperty: 'GrdSchemeId'"
                        [value]="gradeScheme.GrdSchemeId">
                        {{gradeScheme.GrdSchemeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput placeholder="Score" #AcadmicScore="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicScore" name="AcadmicScore"
                      [required]="eligiblityData.AcadmicGrade>0"
                      [pattern]="academicGradeSchemeData ? academicGradeSchemeData.InputPattern : null">
                    <mat-error *ngIf="AcadmicScore.hasError('pattern')">
                      Enter valid score {{academicGradeSchemeData?.InputHint}}
                    </mat-error>
                    <mat-hint>{{academicGradeSchemeData?.InputHint}}</mat-hint>
                  </mat-form-field>
                </div>


              </div>

              <div class="row">
                <div class="col-md-12 text-center" style="margin-top:20px;">
                  <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary btn-cust"
                    (click)="testEligibility(form1)">Test</button>
                </div>
              </div>


            </form>
          </div>
        </div>


      </div>
      <div class="col-md-12" *ngIf="!(programId>0 && stepindex<0)">

        <mat-horizontal-stepper [tabindex]="stepindex" labelPosition="bottom" #stepper [linear]="true" #stepper>


          <mat-step [stepControl]="form1" [completed]="form1.valid">
            <ng-template matStepLabel>Educational Info</ng-template>
            <form #form1="ngForm" class="mb-0">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Nationality</mat-label>
                    <mat-select matInput placeholder="Nationality" #Nationality="ngModel"
                      [(ngModel)]="eligiblityData.Nationality" name="Nationality" required
                      [pattern]="modelPattern.dropDownNumericValue">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="nationalityFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="nationalityFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let country of countryList | stringFilterBy:nationalityFilter:'CountryName';  trackByProperty: 'CountryId'"
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Country of Education</mat-label>
                    <mat-select matInput placeholder="Country of Education" #CountryOfEducation="ngModel"
                      [(ngModel)]="eligiblityData.CountryOfEducation" name="CountryOfEducation"
                      (selectionChange)="onHighestEducationCountryChange(true)" required
                      [pattern]="modelPattern.dropDownNumericValue">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="countryEduFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="countryEduFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let country of countryList | stringFilterBy:countryEduFilter:'CountryName';  trackByProperty: 'CountryId'"
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>

                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Highest Education</mat-label>
                    <mat-select matInput placeholder="Highest Education" #EduLevel="ngModel"
                      [(ngModel)]="eligiblityData.EduLevel" name="EduLevel" required
                      [pattern]="modelPattern.dropDownNumericValue">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="highestEduFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="highestEduFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let eduLevel of eduLevelList | stringFilterBy:highestEduFilter:'EduLevelName';  trackByProperty: 'EduLevelId' "
                        [value]="eduLevel.EduLevelId">
                        {{eduLevel.EduLevelName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>



                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Grading Scheme</mat-label>
                    <mat-select matInput placeholder="Grading Scheme" #GradeScheme="ngModel"
                      [(ngModel)]="eligiblityData.GradeScheme" name="GradeScheme" required
                      [pattern]="modelPattern.dropDownNumericValue"
                      (selectionChange)="onHighestGradeSchemeChange(true)">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="GradingFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="GradingFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let gradeScheme of gradeSchemeList | stringFilterBy:GradingFilter:'GrdSchemeName';  trackByProperty: 'GrdSchemeId' "
                        [value]="gradeScheme.GrdSchemeId">
                        {{gradeScheme.GrdSchemeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Grade Average</mat-label>
                    <input matInput placeholder="Grade Average" #GradeAverage="ngModel"
                      [(ngModel)]="eligiblityData.GradeAverage" name="GradeAverage" required
                      [pattern]="highestGradeSchemeData ? highestGradeSchemeData.InputPattern : null" toUppercase>
                    <mat-error *ngIf="GradeAverage.hasError('pattern')">
                      Enter valid score {{highestGradeSchemeData?.InputHint}}
                    </mat-error>
                    <mat-hint>{{highestGradeSchemeData?.InputHint}}</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <h4>English Test</h4>
                </div>
                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>English Exam Type</mat-label>
                        <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                          [(ngModel)]="eligiblityData.EnglishExamType" name="EnglishExamType"
                          (selectionChange)="onEnglishExamChange(true)">
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="englishEFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="englishEFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option [value]="0">NA</mat-option>
                          <mat-option
                            *ngFor="let req of reqList | stringFilterBy:englishEFilter:'ReqName';  trackByProperty: 'ReqId'"
                            [value]="req.ReqId">{{req.ReqName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="englishExamTypeR && englishExamTypeR.ShowA">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.ALabel}}</mat-label>
                        <input matInput type="number" #EnglishExamL="ngModel" [(ngModel)]="eligiblityData.EnglishExamL"
                          name="EnglishExamL" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.AMin"
                          [max]="englishExamTypeR.AMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.AMin" [MaxValue]="englishExamTypeR.AMax">
                        <mat-error *ngIf="EnglishExamL.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="englishExamTypeR && englishExamTypeR.ShowB">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.BLabel}}</mat-label>
                        <input matInput type="number" #EnglishExamR="ngModel" [(ngModel)]="eligiblityData.EnglishExamR"
                          name="EnglishExamR" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.BMin"
                          [max]="englishExamTypeR.BMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.BMin" [MaxValue]="englishExamTypeR.BMax">
                        <mat-error *ngIf="EnglishExamR.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="englishExamTypeR && englishExamTypeR.ShowC">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.CLabel}}</mat-label>
                        <input matInput type="number" #EnglishExamW="ngModel" [(ngModel)]="eligiblityData.EnglishExamW"
                          name="EnglishExamW" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.CMin"
                          [max]="englishExamTypeR.CMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.CMin" [MaxValue]="englishExamTypeR.CMax">
                        <mat-error *ngIf="EnglishExamW.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="englishExamTypeR && englishExamTypeR.ShowD">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.DLabel}}</mat-label>
                        <input matInput type="number" #EnglishExamS="ngModel" [(ngModel)]="eligiblityData.EnglishExamS"
                          name="EnglishExamS" [required]="eligiblityData.EnglishExamType>0"
                          [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.DMin"
                          [max]="englishExamTypeR.DMax" [step]="englishExamTypeR.Increment"
                          [MinValue]="englishExamTypeR.DMin" [MaxValue]="englishExamTypeR.DMax">
                        <mat-error *ngIf="EnglishExamS.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="englishExamTypeR && englishExamTypeR.ShowE">
                      <mat-form-field>
                        <mat-label>{{englishExamTypeR.ELabel}}</mat-label>
                        <input matInput type="number" #EnglishExamOverall="ngModel"
                          [(ngModel)]="eligiblityData.EnglishExamOverall" name="EnglishExamOverall"
                          [required]="eligiblityData.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                          [min]="englishExamTypeR.EMin" [max]="englishExamTypeR.EMax"
                          [step]="englishExamTypeR.Increment" [MinValue]="englishExamTypeR.EMin"
                          [MaxValue]="englishExamTypeR.EMax">
                        <mat-error *ngIf="EnglishExamOverall.hasError('pattern')">Enter valid score</mat-error>
                      </mat-form-field>
                    </div>

                  </div>

                </div>


                <div class="col-md-12">
                  <h4>Academic</h4>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Country of Education</mat-label>
                    <mat-select matInput placeholder="Country of Education" #AcadmicCountry="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicCountry" name="AcadmicCountry"
                      (selectionChange)="onAcadmicCountryChange(true)">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="countryEdFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="countryEdFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let country of countryList | stringFilterBy:countryEdFilter:'CountryName';  trackByProperty: 'CountryId' "
                        [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Grade</mat-label>
                    <mat-select matInput placeholder="Grade" #AcadmicGrade="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicGrade" name="AcadmicGrade">
                      <mat-option>None</mat-option>
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="gradeFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="gradeFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option
                        *ngFor="let eduLevel of eduLevelList | stringFilterBy:gradeFilter:'EduLevelName';  trackByProperty: 'EduLevelId' "
                        [value]="eduLevel.EduLevelId">
                        {{eduLevel.EduLevelName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Subject</mat-label>
                    <mat-select matInput placeholder="Subject" #AcadmicSubject="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicSubject" name="AcadmicSubject"
                      [required]="eligiblityData.AcadmicGrade>0">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="subjectFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="subjectFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let eduLevel of subjectList | stringFilterBy:subjectFilter:'SbjName';  trackByProperty: 'SbjId'"
                        [value]="eduLevel.SbjId">
                        {{eduLevel.SbjName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>



                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Grading Scheme</mat-label>
                    <mat-select matInput placeholder="Grading Scheme" #AcadmicGradeScheme="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicGradeScheme" name="AcadmicGradeScheme"
                      (selectionChange)="onAcademicGradeSchemeChange(true)" [required]="eligiblityData.AcadmicGrade>0">
                      <mat-option>
                        <ngx-mat-select-search [(ngModel)]="grabingsFilter" [placeholderLabel]="'Search...'"
                          [noEntriesFoundLabel]="'Not found'" name="grabingsFilter"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let gradeScheme of acadmicGradeSchemeList  | stringFilterBy:grabingsFilter:'GrdSchemeName';  trackByProperty: 'GrdSchemeId'"
                        [value]="gradeScheme.GrdSchemeId">
                        {{gradeScheme.GrdSchemeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Score</mat-label>
                    <input matInput placeholder="Score" #AcadmicScore="ngModel"
                      [(ngModel)]="eligiblityData.AcadmicScore" name="AcadmicScore"
                      [required]="eligiblityData.AcadmicGrade>0"
                      [pattern]="academicGradeSchemeData ? academicGradeSchemeData.InputPattern : null" toUppercase>
                    <mat-error *ngIf="AcadmicScore.hasError('pattern')">
                      Enter valid score {{academicGradeSchemeData?.InputHint}}
                    </mat-error>
                    <mat-hint>{{academicGradeSchemeData?.InputHint}}</mat-hint>
                  </mat-form-field>
                </div>


              </div>

              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="d-sm-inline-block btn btn-sm btn-primary btn-cust"
                    matStepperNext>Continue</button>
                </div>
              </div>


            </form>
          </mat-step>


          <mat-step [stepControl]="form2" [completed]="form2.valid">
            <ng-template matStepLabel>Area of Study</ng-template>
            <form #form2="ngForm" class="mb-0">

              <div class="row" *ngIf="desciplineList">
                <div class="col-md-12">
                  <h5 class="modaltitle">Area of Study</h5>
                  <div class="checkboxcont">

                    <mat-selection-list #Descipline="ngModel" [(ngModel)]="eligiblityData.Descipline" name="Descipline"
                      class="row">
                      <mat-list-option *ngFor="let item of desciplineList" [value]="item" checkboxPosition="before"
                        style="height: auto; " class="d-sm-block d-md-inline-block w-sm-100 w-md-25">
                        {{item}}
                      </mat-list-option>
                    </mat-selection-list>


                  </div>


                </div>


              </div>

              <div class="row">
                <div class="col-md-12" style="margin-top:20px;">
                  <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary btn-cust"
                    matStepperPrevious>Back</button>
                  <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary btn-cust pull-right" (click)="showEligibleProgram(stepper)">
                    See Elegible Programs
                  </button>
                </div>
              </div>


            </form>

          </mat-step>

          <mat-step [hidden]="!programList">
            <ng-template matStepLabel>Final</ng-template>
            <app-program-filter-display pageTitle="" [filterData]="filterData" (programList)="programList=$event"
              [programIds]="programIds" [nationality]="eligiblityData.Nationality"></app-program-filter-display>
            <app-program-search-display [programList]="programList" showApply="true" [assignedInst]="assignedInstList"
              (onApply)="applyProgram($event)">
            </app-program-search-display>
          </mat-step>

        </mat-horizontal-stepper>

      </div>
    </div>
  </div>

</div>