<div class="main-content new-design">
  <div class="card">
    <div class="card-body">


      <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true" [showColumnLines]="true"
        [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
        (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true" 
        (onRowClick)="edit($event.data.CommissionId)" class="agent-partner" (onExporting)="activitylog()">
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
        </dxo-pager>

        <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

        <dxo-export [enabled]="excel_permisson > 0" fileName="Commission"></dxo-export>

        <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
        </dxo-column-chooser>

        <!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->

        <dxi-column *ngFor="let item of columns" [dataField]="item.dataField"  [caption]="item.title | sentenceCase"
          [dataType]="item.type" [format]="item.format">
        </dxi-column>
        <div *ngIf="agentId === 0">
          <dxi-column caption="Action" [allowExporting]="false" [fixed]="true" fixedPosition="right" [minWidth]="50" cellTemplate="actionCellTemplate" *ngIf="permission>2">
          </dxi-column>
        </div>
        <div *dxTemplate="let d of 'actionCellTemplate'">

          <!-- <button type="button" mat-raised-button class="btn btn-link just-icon btn-just-icon btn-info"
            (click)="edit(d.data.CommissionId)" data-toggle="tooltip" title="Edit">
            <mat-icon>edit</mat-icon>
          </button> -->

          <button type="button" mat-icon-button class="text-danger"
            (click)="$event.stopPropagation(); delete(d.data.CommissionId)" *ngIf="permission>2" data-toggle="tooltip" title="Delete">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div *dxTemplate="let data of 'advanceButtonTemp'">
          <button mat-icon-button class="text-danger" (click)="edit(0)" *ngIf="permission>1 && agentId === 0" data-toggle="tooltip"
            title="New">
            <mat-icon>add</mat-icon>
          </button>
          <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip"
          title="Apply Filter">
          <mat-icon>filter_list</mat-icon>
        </button>
        </div>
        <dxo-grouping expandMode="rowClick"></dxo-grouping>
      </dx-data-grid>

    </div>
  </div>
</div>

<!-- Script For Tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>