
        <div    [ngClass]="{'card':showCard}">
          <div   [ngClass]="{'card-body':showCard}" *ngIf="showAdd" >
            
              <app-update-activity (onSubmit)="onSubmit()" 
              [btnLable]="btnLable" 
              [showStatusDropDown]="showStatusDropDown"
              [selectList]="selectList"
              [(formdata)]="formdata"
              [showPrioirtyDropDown]="showPrioirtyDropDown"
              [remarkRequired]="remarkRequired"
              [remarkLabel]="remarkLabel"
              [titleForLabel]="titleForLabel"
              >
      
              </app-update-activity>
          </div>
          <div  [ngClass]="{'card-body':showCard}">
              <app-show-activity *ngIf="!showTable" [activityList]="activityList"></app-show-activity>
              <app-show-table-activity [parentName]="parentName" *ngIf="showTable" [showPriority]="showPrioirtyDropDown" [activityId]="ActivityId" [activityList]="activityList" [showCard]="showCard"></app-show-table-activity>
          </div>
        </div>
     