<form #form="ngForm" class="new-design">
    <div mat-dialog-title>
    Partner Type
    <button class="close text-white" type="button" [mat-dialog-close]  aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>
  <div mat-dialog-content>
  
      <mat-form-field>
        <mat-label>Partner Type</mat-label>
        <input matInput placeholder="Partner Type" type="text" #PartnerTypeName="ngModel" [(ngModel)]="formdata.PartnerTypeName"
          name="PartnerTypeName" required [pattern]="modelPattern.alphaNumericWithSpace">
      
        <mat-error *ngIf="PartnerTypeName.hasError('pattern')">Enter valid partner type</mat-error>
      </mat-form-field>
     
  </div>
  
  <div mat-dialog-actions align="center">
    <button [mat-dialog-close] type="button" class="btn btn-primary btn-sm modalclose">Close</button>
  
    <button type="submit" [disabled]="!form.valid || flagdisable" class="btn btn-primary btn-sm btn-cust"
      (click)="onSubmit()">{{btnLable}}</button>
  
  </div>
  </form>
  