<form #form="ngForm" (submit)="onSubmit(form)" class="new-design">
  <div mat-dialog-title>
    Fee
    <button class="close text-white" type="button" [mat-dialog-close]="isAdd"  aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Intake</mat-label>
          <mat-select matInput placeholder="Intake" #FeeType="ngModel" [(ngModel)]="formdata.IntakeId" name="IntakeId">
           
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="IntakeFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="IntakeFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0" *ngIf="intakeList?.length>0">All</mat-option>
            <mat-option [value]="item.IntekId" *ngFor="let item of intakeList |  stringFilterBy:IntakeFilter:'IntakeName';  trackByProperty: 'IntekId'"> {{item.IntakeName}}</mat-option>
          </mat-select>
          <mat-error>Intake is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select matInput placeholder="Type" #FeeType="ngModel" [(ngModel)]="formdata.FeeType" name="FeeType"
            required (selectionChange)="onFeeTypeChange()">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="feeFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="feeFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="item" *ngFor="let item of feeTypeList | stringFilterBy:feeFilter:'item';"> {{item}}</mat-option>
          </mat-select>
          <mat-error>Type is required</mat-error>
        </mat-form-field>
      </div>  
      <div class="col-12" [hidden]="formdata?.IntakeId>0 || formdata?.FeeType!='Application Fee'">
        <mat-form-field>
          <mat-label>Region</mat-label>
          <mat-select matInput placeholder="Region" #RegionId="ngModel" [(ngModel)]="formdata.RegionId" name="RegionId"
            [pattern]="formdata?.FeeType!='Application Fee' ? '' : modelPattern.dropDownNumericValueWithMinusAnd0" [required]="formdata?.IntakeId==0 && formdata?.FeeType=='Application Fee'">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="regionFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="regionFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0" *ngIf="regionList?.length>0">All</mat-option>
            <mat-option *ngFor="let item of regionList | stringFilterBy:regionFilter:'CountryName';  trackByProperty: 'CountryId'" [value]="item.CountryId">{{item.CountryName}}</mat-option>
          </mat-select>
          <mat-error>Region is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">

        <mat-form-field>
          <mat-label>Basis</mat-label>
          <mat-select matInput placeholder="Basis" #FeeBasis="ngModel" [(ngModel)]="formdata.FeeBasis" name="FeeBasis"
            required [disabled]="formdata.FeeType==='Application Fee' || formdata.FeeType==='Registration Fee' ">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="basicFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="basicFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="item" *ngFor="let item of feeBasisList | stringFilterBy:basicFilter:'item';"> {{item}}</mat-option>
          </mat-select>
          <mat-error>Basis is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount" type="text" #FeeAmount="ngModel" [(ngModel)]="formdata.FeeAmount"  
            name="FeeAmount" required  [pattern]="modelPattern.numberwithDecimals" [MinValue]="1">
            <mat-error *ngIf="FeeAmount.hasError('required')">Amount is required</mat-error>
            <mat-error *ngIf="FeeAmount.hasError('MinValue')">Enter valid amount</mat-error>
            <mat-error *ngIf="FeeAmount.hasError('pattern')">Maximum limit is 10 digits with two decimals.(e.g: 123456789.12)</mat-error>
        </mat-form-field>
      </div>
     <div class="col-12"> <span>Please provide any of one Deadline Date or TAT (days)</span></div>
      <div class="col-12">
        <app-date-picker [(value)]="formdata.Deadline" placeholder="Deadline Date" name="Deadline"
        [required]="!(formdata.TAT || formdata.TAT>0)"  [form]="form">
        </app-date-picker>
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>TAT (Days)</mat-label>
          <input matInput placeholder="TAT (Days)" type="text" #TAT="ngModel" [(ngModel)]="formdata.TAT" name="TAT"
            [required]="!(formdata.Deadline || formdata.Deadline?.length>0)" dynamicNumberValidation numbertyp='numberiwithOutDecimals'  zeroAllowed="true"  mindecimals='1' maxdecimals='3'>
            <mat-error *ngIf="TAT.hasError( 'required')">TAT (days) is required</mat-error>
            <mat-error *ngIf="TAT.hasError( 'invalid') && !TAT.hasError( 'required')">Enter valid TAT days (0-999)</mat-error>
        </mat-form-field>
    
      </div>
    </div>




  </div>

  <div mat-dialog-actions align="center">
    <button  type="button" [mat-dialog-close]="isAdd" class="btn  btn-sm  btn-primary modalclose">Close</button>

    <button type="submit" class="btn  btn-sm btn-primary btn-cust" [disabled]="flagdisabled">{{btnLable}}</button>

  </div>
</form>