<div class="main-content new-design">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <mat-tab-group tabindex="0" #matTabGroup [class.header-less-tabs]="matTabGroup._tabs.length <= 1" (selectedTabChange)="onTabPanelClick($event, $event.tab)">
          <mat-tab label="Institution Details">

            <div class="card">

              <div class="card-body">
                <form #form="ngForm" (submit)="onSubmit(form)">

                  <div class="container-fluid">
                    <div class="row mb-3" *ngIf="currentUser.RoleType === 2" >
                        <div class="col-md-6">
                          <mat-label class="institution-link" >{{formdata.InstName}} Link</mat-label>
                          <span class="material-icons institution-icon"  (click)="openInNewTab()" data-toggle="tooltip" title="Institution Link">
                            remove_red_eye
                            </span>
                        </div>
                     
                    </div>
                  
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Name</mat-label>
                          <input matInput placeholder="Name" #InstName="ngModel"
                            [(ngModel)]="formdata.InstName" name="InstName" required  [pattern]="modelPattern.alphaNumericWithSpace">
                            <mat-error>Name is required</mat-error>
                            <mat-error *ngIf="InstName.hasError('pattern')">Enter valid name</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Alias</mat-label>
                          <input matInput placeholder="Alias" #InstAlias="ngModel"
                            [(ngModel)]="formdata.InstAlias" name="InstAlias">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>DLI No.</mat-label>
                          <input matInput placeholder="DLI No." #DLINo="ngModel" [(ngModel)]="formdata.DLINo"
                            name="DLINo">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                   
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Partner Type</mat-label>
                          <mat-select matInput placeholder="Partner"  [(ngModel)]="formdata.PartnerTypeId" name="PartnerTypeId" required [pattern]="modelPattern.dropDownNumericValue" [disabled]="permission<3 || currentUser.RoleType !== 1">
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="partnerFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"  name="partnerFilter" ></ngx-mat-select-search>
                            </mat-option>
                            <!-- <mat-option [value]="0">Partner Type</mat-option> -->
                            <mat-option  *ngFor="let item of partnerList | stringFilterBy:partnerFilter:'PartnerTypeName';  trackByProperty: 'PartnerTypeId'"
                              [value]="item.PartnerTypeId">
                              {{item.PartnerTypeName}}</mat-option>
                          </mat-select>
                          <!-- <mat-error *ngIf="PartnerTypeId.hasError('required')">Partner Type is</mat-error> -->
                        </mat-form-field>
                      
                      </div>
                      <div class="col-md-3">
                        <app-file-upload [(file)]="logoFile" label="Logo" controlName="Logo"
                          [initialFilePath]="formdata.InstLogoPath" dir="Institution"></app-file-upload>
                      </div>
                      <div class="col-md-3">
                        <app-file-upload [(file)]="imageFile" label="Institutions Image" controlName="Image"
                          [initialFilePath]="formdata.InstImagePath" dir="Institution"></app-file-upload>
                      </div>
                      <div class="col-md-3">
                        <app-file-upload [(file)]="letterheadFile" label="Letterhead" controlName="letterhead"
                          [initialFilePath]="formdata.LetterHeadPath" dir="Institution"></app-file-upload>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Address 1</mat-label>
                          <input matInput placeholder="Address 1" type="text" #InstAddress1="ngModel"
                            [(ngModel)]="formdata.InstAddress1" name="InstAddress1">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Address 2</mat-label>
                          <input matInput placeholder="Address 2" type="text" #InstAddress2="ngModel"
                            [(ngModel)]="formdata.InstAddress2" name="InstAddress2">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Country</mat-label>
                          <mat-select matInput placeholder="Country" #InstCountry="ngModel"
                            (selectionChange)="fillProvince(true)" [(ngModel)]="formdata.InstCountry" name="InstCountry">
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="cntyFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="cntyFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>None</mat-option>
                            <mat-option
                              *ngFor="let item of countryList | stringFilterBy:cntyFilter:'CountryName';  trackByProperty: 'CountryId'"
                              [value]="item.CountryId">{{item.CountryName}}
                            </mat-option>
                            <!-- <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                              {{country.CountryName}}</mat-option> -->
                          </mat-select>
                        </mat-form-field>
                      </div>


                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Province</mat-label>
                          <mat-select matInput placeholder="Province" (selectionChange)="fillCity(true)"
                            #InstProvince="ngModel" [(ngModel)]="formdata.InstProvince" name="InstProvince">
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="provinceFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="provinceFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>None</mat-option>
                            <mat-option
                              *ngFor="let province of provinceList | stringFilterBy:provinceFilter:'ProvinceName';  trackByProperty: 'ProvinceId'"
                              [value]="province.ProvinceId">
                              {{province.ProvinceName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>City</mat-label>
                          <mat-select matInput placeholder="City" #InstCity="ngModel" [(ngModel)]="formdata.InstCity"
                            name="InstCity">
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="cityFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="cityFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>None</mat-option>
                            <mat-option
                              *ngFor="let city of cityList | stringFilterBy:cityFilter:'CityName'; trackByProperty: 'CityId'"
                              [value]="city.CityId">{{city.CityName}}
                            </mat-option>
                            <!-- <mat-option *ngFor="let city of cityList " [value]="city.CityId">{{city.CityName}}
                            </mat-option> -->
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Zip Code</mat-label>
                          <input matInput placeholder="Zip Code" type="text" #InstZipCode="ngModel"
                            [(ngModel)]="formdata.InstZipCode" name="InstZipCode" [pattern]="modelPattern.pincode"
                            [maxlength]="modelPattern.pincodeMaxLength">
                        </mat-form-field>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Location GEO code</mat-label>
                          <input matInput placeholder="Location GEO code" type="text"
                            #InstLocationGEOcode="ngModel" [(ngModel)]="formdata.InstLocationGEOcode"
                            name="InstLocationGEOcode">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Type</mat-label>
                          <mat-select matInput placeholder="Type" #InstType="ngModel"
                            [(ngModel)]="formdata.InstType" name="InstType">
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="instFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="instFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let inst_type of instType | stringFilterBy:instFilter:'InstTypeName'"
                              [value]="inst_type.InstTypeId">
                              {{inst_type.InstTypeName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Founded (year)</mat-label>
                          <input matInput placeholder="Founded (year)" type="number" maxlength="4" minlength="4"
                            #InstFounded="ngModel" [(ngModel)]="formdata.InstFounded" name="InstFounded"  [MaxValue]="currentyear"  min="0000" oninput="validity.valid||(value='');">
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Total Students</mat-label>
                          <input matInput placeholder="Total Students" type="number" #InstTotalStudents="ngModel"
                            [(ngModel)]="formdata.InstTotalStudents" name="InstTotalStudents" min="0" oninput="validity.valid||(value='');">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">


                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Currency</mat-label>
                          <mat-select matInput placeholder="Currency" #InstCurrency="ngModel"
                            [(ngModel)]="formdata.InstCurrency" name="InstCurrency">
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="cnyFilter" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="cnyFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let currency of currencyList | stringFilterBy:cnyFilter:'currency';"
                              [value]="currency">{{currency}}
                            </mat-option>
                            <!-- <mat-option *ngFor="let currency of currencyList " [value]="currency">{{currency}}
                            </mat-option> -->
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Avg. Tuition Cost</mat-label>
                          <input matInput   placeholder="Avg. Tuition Cost" type="number" #InstAvgCostTuition_Year="ngModel"
                            [(ngModel)]="formdata.InstAvgCostTuition_Year" name="InstAvgCostTuition_Year"   min="0" oninput="validity.valid||(value='');" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>  
                          <mat-label>Cost of Living</mat-label>
                          <input matInput placeholder="Cost of Living" type="number" #InstCostofLiving_Year="ngModel"
                            [(ngModel)]="formdata.InstCostofLiving_Year" name="InstCostofLiving_Year" min="0" oninput="validity.valid||(value='');">
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Application Fee</mat-label>
                          <input matInput placeholder="Application Fee" type="number" #InstApplicationFee="ngModel"
                            [(ngModel)]="formdata.InstApplicationFee" name="InstApplicationFee" min="0" oninput="validity.valid||(value='');">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Payment Link</mat-label>
                          <input matInput placeholder="Payment Link" type="text" #PaymentLink="ngModel"
                            [(ngModel)]="formdata.PaymentLink" name="PaymentLink"
                            pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
                          <mat-error *ngIf="PaymentLink.hasError('pattern')">Enter Valid url</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Website</mat-label>
                          <input matInput placeholder="Website" type="text" #Website="ngModel"
                            [(ngModel)]="formdata.Website" name="Website"
                            pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
                          <mat-error *ngIf="Website.hasError('pattern')">Enter valid url</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">

                        <mat-form-field>
                          <mat-label>Video Link</mat-label>
                          <input matInput placeholder="Video Link" type="text" #InstVideo="ngModel"
                            [(ngModel)]="formdata.InstVideo" name="InstVideo"
                            pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
                          <mat-error *ngIf="InstVideo.hasError('pattern')">Enter valid url</mat-error>
                        </mat-form-field>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">

                        <mat-form-field>
                          <mat-label>How To Reach</mat-label>
                          <textarea matInput placeholder="How To Reach" #HowToReach="ngModel"
                            [(ngModel)]="formdata.HowToReach" name="HowToReach"></textarea>
                          <mat-error *ngIf="HowToReach.hasError('pattern')">Enter valid url</mat-error>
                        </mat-form-field>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">

                        <div class="form-group">
                          <label>About Institutions</label>
                          <dx-html-editor tagName="textarea" placeholder="About Institutions" rows="5"
                          #InstAbout="ngModel" [(ngModel)]="formdata.InstAbout" name="InstAbout" >
                            <dxo-toolbar [items]="items"> </dxo-toolbar>
                        </dx-html-editor>
                          <!-- <ckeditor [editor]="Editor" tagName="textarea" placeholder="About Institutions" rows="5"
                            #InstAbout="ngModel" [(ngModel)]="formdata.InstAbout" name="InstAbout"></ckeditor> -->
                        </div>


                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">

                        <div class="form-group">
                          <label>Features</label>
                          <dx-html-editor tagName="textarea" tagName="textarea" placeholder="Features"
                          [(ngModel)]="formdata.InstFeatures" name="InstFeatures" #InstFeatures="ngModel" id="feature" >
                            <dxo-toolbar [items]="featureItems"> </dxo-toolbar>
                        </dx-html-editor>
                          <!-- <ckeditor [editor]="Editor" tagName="textarea" placeholder="Features"
                            [(ngModel)]="formdata.InstFeatures" name="InstFeatures" #InstFeatures="ngModel"></ckeditor> -->
                        </div>


                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 checkbox-radios p-4">
                        <mat-checkbox labelPosition="before" [checked]="formdata.isCreditCardRequired"
                          [(ngModel)]="formdata.isCreditCardRequired" name="isCreditCardRequired">Credit Card
                        </mat-checkbox>

                      </div>
                 
                      <div class="col-md">
                        <mat-form-field>
                          <mat-label>Invoice Format</mat-label>
                          <mat-select matInput placeholder="InvoiceFormat" #InvoiceFormat="ngModel" [(ngModel)]="formdata.InvoiceFormat"
                            name="InvoiceFormat">
                            <mat-option>
                            <ngx-mat-select-search [(ngModel)]="invoiceFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="invoiceFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>None</mat-option>
                            <mat-option
                              *ngFor="let item of formatList | stringFilterBy:invoiceFilter:'FormatName';  trackByProperty: 'FormatId'"
                              [value]="item.FormatId">{{item.FormatName}}
                            </mat-option>
                            <!-- <mat-option *ngFor="let format of formatList " [value]="format.FormatId">
                              {{format.FormatName}}</mat-option> -->
                          </mat-select>
                        </mat-form-field>
                      </div>


                      <div class="col-md">
                        <mat-form-field>
                          <mat-label>Local Rank</mat-label>
                          <input matInput placeholder="Local Rank" type="number" #LocalRank="ngModel"
                            [(ngModel)]="formdata.LocalRank" name="LocalRank" 
                            pattern="^[1-9]{1}[0-9]{0,4}$" min="0" appAcceptOnlyNumber >
                          <mat-error *ngIf="LocalRank.hasError('pattern')">Enter valid rank greater than 0 and upto 5
                            digits</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md">
                        <mat-form-field>
                          <mat-label>Global Rank</mat-label>
                          <input matInput placeholder="Global Rank" type="number" #GlobalRank="ngModel"
                            [(ngModel)]="formdata.GlobalRank" name="GlobalRank"  appAcceptOnlyNumber
                            pattern="^[1-9]{1}[0-9]{0,4}$" min="0">
                          <mat-error *ngIf="GlobalRank.hasError('pattern')">Enter valid rank greater than 0 and upto 5
                            digits</mat-error>
                        </mat-form-field>
                      </div>


                    </div>
                       
                    <div class="row">
                      <div class="col-12 d-flex justify-content-center">
                        <button routerLink="/member/institutions" type="button"
                        class="btn btn-primary btn-close-color" [hidden]="currentUser.RoleType === 2">Cancel</button>                        
                        <button type="submit" class="btn btn-danger btn-cust" *ngIf="permission>1"
                          [disabled]="flagdisabled">{{btnLabel}}</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisibleInstAbout" [showCloseButton]="true">
              <textarea   [(ngModel)]="formdata.InstAbout" name="viewItem" style="height:100% !important; width: 100%; display: block; border:0px;"  ></textarea>
          </dx-popup>
          <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisibleInstFeature" [showCloseButton]="true">
            <textarea   [(ngModel)]="formdata.InstFeatures" name="viewItem" style="height:100% !important; width: 100%; display: block; border:0px;"  ></textarea>
        </dx-popup>
          </mat-tab>

          <mat-tab label="Campus" *ngIf="id>0 && (currentUser.RoleType != 2)">
            <app-campus [parentName]="parentName" institutionId="{{id}}" [permission]="permission"></app-campus>
          </mat-tab>

          <mat-tab label="Region of Marketing" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-country [parentName]="parentName" institutionId="{{id}}" [permission]="permission"></app-country>
          </mat-tab>
          <mat-tab label="Disciplines" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-show-desciplines [parentName]="parentName" institutionId="{{id}}" [permission]="permission"></app-show-desciplines>
          </mat-tab>

          <mat-tab label="Intake" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-institution-intake [parentName]="parentName" [instituteIntakeInfo]="instituteIntakeInfo" [InstitutionId]="id"></app-institution-intake>
          </mat-tab>

          <mat-tab label="Marketing-Collateral" *ngIf="id>0  && (currentUser.RoleType != 2) ">
            <app-institution-material-show [parentName]="parentName" institutionId="{{id}}" *ngIf="permission>1  && currentUser.RoleType ==1"> </app-institution-material-show>
            <app-institution-material-show-files [parentName]="parentName" institutionId="{{id}}" *ngIf="currentUser.RoleType != 1 || permission <= 1"></app-institution-material-show-files>

          </mat-tab>
          <mat-tab label="Document" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-institution-document [parentName]="parentName" [InstitutionId]="id"></app-institution-document>
          </mat-tab>

          <mat-tab label="Event/Updates" *ngIf="id>0 && (currentUser.RoleType != 2)">
            <app-event-show [parentName]="parentName" title="Event/Updates" [institutionId]="id" parentId="{{id}}" parentType="4" [permission]="permission">

            </app-event-show>
          </mat-tab>
          <mat-tab label="Application Flow" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-application-flow [InstitutionId]="id" [permission]="permission">

            </app-application-flow>
          </mat-tab>
          <!-- <mat-tab label="Agreement"  *ngIf="id>0 && (agreementPermission>0 || currentUser.RoleType===2)">
            <app-agreement [parentType]="1" [parentId]="id" [permission]="agreementPermission" ></app-agreement>
          </mat-tab> -->

          <mat-tab label="Application Additional Field" *ngIf="id>0 && permission>1 && currentUser.RoleType===1">
            <app-application-form-additional-field [InstitutionId]="id">

            </app-application-form-additional-field>
          </mat-tab>

          <mat-tab label="Team" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-institution-team [parentName]="parentName" [InstitutionId]="id"></app-institution-team>
          </mat-tab>

          <mat-tab label="Agent" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-institution-agents [parentName]="parentName" [instituteAgentInfo]="instituteAgentInfo" [InstitutionId]="id"></app-institution-agents>
          </mat-tab>

          <mat-tab label="Group Visibility" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-group-visibility [parentName]="parentName" [InstitutionId]="id"></app-group-visibility>
          </mat-tab>
          <mat-tab label="Users" *ngIf="id>0  && (currentUser.RoleType != 2)">
            <app-shared-user [parentName]="parentName" [instituteUserInfo]="instituteUserInfo" [role]="100" [Id]="id"></app-shared-user>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>

</div>
