<div class="main-content new-design">
    <div class="container-fluid" *ngIf="permission>0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">

                        <div class="col-12 col-sm-12 col-md-8 d-sm-flex searchdiv px-0" style="z-index: 1;">
                            <div class="col-12 col-sm-6 col-md-5">
                                <mat-form-field class="selectopt" id="selectopt1">
                                    <!-- <mat-label>Select an option</mat-label> -->
                                    <mat-select matInput placeholder="Marketing Manager"
                                        (selectionChange)="changeOption($event.value)" [(ngModel)]="UserId"
                                        name="UserId" [required]="true" aria-required="true">

                                        <!-- <mat-select placeholder="Select User" [(ngModel)]="UserId"
                                        (selectionChange)="changeOption($event.value)" required> -->
                                        <mat-option>
                                            <ngx-mat-select-search [(ngModel)]="userFilter"
                                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                                name="userFilter">
                                            </ngx-mat-select-search>
                                        </mat-option>

                                        <!-- <mat-option disabled> Select Type </mat-option> -->
                                        <mat-option
                                            *ngFor="let user of userList  | stringFilterBy:userFilter:'DisplayName';  trackByProperty: 'UserId'"
                                            [value]="
                                            user.UserId" style="height: 2rem;font-size: 14px;">
                                            {{user.DisplayName}}</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>

                        <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
                            [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
                            [noDataText]="gridMessage" [columnAutoWidth]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
                            [allowColumnReordering]="true" (onRowClick)="edit($event.data.AgentId)" id="agent-partner"
                            class="agent-partner" (onExporting)="activitylog()">
                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]"
                                [showInfo]="true">
                            </dxo-pager>
                            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                            <dxo-export [enabled]="excel_permisson > 0" fileName="Assign Agent"></dxo-export>

                            <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
                            </dxo-column-chooser>

                            <!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->

                            <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" [minWidth]="100"
                                [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format"
                                [groupIndex]="item.groupIndex">
                            </dxi-column>

                            <dxi-column caption="Action" [allowExporting]="false" [minWidth]="50" [fixed]="true"
                                fixedPosition="right" cellTemplate="actionCellTemplate">
                            </dxi-column>

                            <!-- <div *dxTemplate="let d of 'actionCellTemplate'">

                                <mat-menu #instMenu="matMenu">


                                    <button mat-menu-item *ngIf="can_delete" (click)="delete(d.data.AgentId)">
                                        <span class="material-icons icon-position">
                                            close
                                        </span>Delete
                                    </button>

                                </mat-menu>

                                <mat-menu #subMenu="matMenu">
                                    <button mat-menu-item (click)="statusUpdate(d.data.AgentId,0)"
                                        *ngIf="d.data.AgentStatus!=0">
                                        <span class="material-icons icon-position">
                                            highlight_off
                                        </span> Reject


                                    </button>


                                    <button mat-menu-item (click)="statusUpdate(d.data.AgentId,3)"
                                        *ngIf="d.data.AgentStatus!=3">
                                        <span class="material-icons icon-position">
                                            indeterminate_check_box
                                        </span>Blacklist
                                    </button>




                                    <button mat-menu-item (click)="statusUpdate(d.data.AgentId,1)"
                                        *ngIf="d.data.AgentStatus!=1">
                                        <span class="material-icons icon-position">
                                            check_circle_outline
                                        </span>Approve
                                    </button>


                                </mat-menu>



                                <button mat-icon-button [matMenuTriggerFor]="instMenu"
                                    (click)="$event.stopPropagation()">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div> -->


                            <div *dxTemplate="let d of 'actionCellTemplate'">
                                <button mat-icon-button class="text-danger"
                                    (click)="$event.stopPropagation(); onDelete(d.data)">
                                    <mat-icon data-toggle="tooltip" title="Delete" *ngIf="permission>2">close
                                    </mat-icon>
                                </button>
                            </div>


                            <div *dxTemplate="let data of 'advanceButtonTemp'">
                                <button mat-icon-button class="text-danger" (click)="add()" data-toggle="tooltip"
                                    title="New" *ngIf="permission>1" [disabled]="select_user">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button
                                    data-toggle="tooltip" title="Apply Filter">
                                    <mat-icon>filter_list</mat-icon>
                                </button>

                            </div>
                            <dxo-grouping expandMode="rowClick"></dxo-grouping>
                        </dx-data-grid>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>