<form #form="ngForm" (submit)="onSubmit(form)" class="new-design" >
  <div mat-dialog-title>
    Academic Requirement
    <button class="close text-white" type="button" (click)="close()"  aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>
  <div mat-dialog-content>

    <input type="hidden" #ProgramId="ngModel" [(ngModel)]="formdata.ProgramId" name="ProgramId" />
    <input type="hidden" #ReqTypeId="ngModel" [(ngModel)]="formdata.ReqTypeId" name="ReqTypeId" />

    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Region</mat-label>
          <mat-select matInput placeholder="Region" #RegionId="ngModel" [(ngModel)]="formdata.RegionId" name="RegionId"
            [pattern]="modelPattern.dropDownNumericValueWithMinusAnd0" required>
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="regionFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="regionFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0" *ngIf="regionList?.length>0">All</mat-option>
            <mat-option *ngFor="let req of regionList | stringFilterBy:regionFilter:'CountryName';  trackByProperty: 'CountryId'" [value]="req.CountryId">{{req.CountryName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="RegionId.hasError('required')">Region is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Academics</mat-label>
          <mat-select matInput placeholder="Academics" #ReqId="ngModel" [(ngModel)]="formdata.ReqId" name="ReqId"
            [pattern]="modelPattern.dropDownNumericValue" required>
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="academicFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="academicFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let req of reqList | stringFilterBy:academicFilter:'ReqName';  trackByProperty: 'ReqId'" [value]="req.ReqId">{{req.ReqName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="ReqId.hasError('required')">Academics is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Grading Scheme</mat-label>
          <mat-select matInput placeholder="Grading Scheme" #GradeScheme="ngModel" [(ngModel)]="formdata.GradeScheme"
            name="GradeScheme" (selectionChange)="onGradeSchemeChange()" required>
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="gradingFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="gradingFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let gradeScheme of gradeSchemeList | stringFilterBy:gradingFilter:'GrdSchemeName';  trackByProperty: 'GrdSchemeId'" [value]="gradeScheme.GrdSchemeId">
              {{gradeScheme.GrdSchemeName}}</mat-option>
          </mat-select>
          <mat-error>Grading scheme is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Score</mat-label>
          <input matInput placeholder="Score" type="text" #Score="ngModel" [(ngModel)]="formdata.Score" name="Score"
            required [pattern]="gradeSchemeData ? gradeSchemeData.InputPattern : null" toUppercase>
            <mat-error>Score is required</mat-error>
          <mat-error *ngIf="Score.hasError('pattern')">
            Enter valid score {{gradeSchemeData?.InputHint}}
          </mat-error>
          <mat-hint>{{gradeSchemeData?.InputHint}}</mat-hint>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div mat-dialog-actions align="center">
    <button type="button" (click)="close()" class="btn btn-primary btn-sm modalclose">Close</button>

    <button type="submit" class="btn btn-primary btn-sm btn-cust" [disabled]="!form.valid || flagdisabled">Add</button>

  </div>
</form>