<div class="container-fluid" *ngIf="permission>0">
  <div class="row">
    
            <div class="col-md-4">
              <app-show-requirement programId="{{programId}}" reqTypeId="1" [permission]="permission" institutionId="institutionId" >

              </app-show-requirement>
            </div>
            <div class="col-md-4">
              <app-show-requirement programId="{{programId}}" reqTypeId="2" [permission]="permission" institutionId="institutionId">

              </app-show-requirement>
            </div>
            <div class="col-md-4">
              <app-show-requirement programId="{{programId}}" reqTypeId="3" [permission]="permission" institutionId="institutionId">

              </app-show-requirement>
            </div>
       
  </div>
</div>