<div class="row studentdetails sbcardtitle newdesign">
    <div class="col-md-12 noborder">
        <div class="row noborder">
            <div class="col-md-4 noborder" *ngFor="let school of schoolList;">
                <span class="button-bar d-flex justify-content-end" *ngIf="permission>1" style="margin-top: 10px;">
                    <button type="button" class="btn btn-sm btn-link text-primary" (click)="add(school.SchoolId)" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-link text-danger" (click)="delete(school.SchoolId)" data-toggle="tooltip" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
                <div class="sbcardinner" >
                    <h6>
                        {{school.NameOfInstitution}}
                    </h6>
                    <span class="schoolyear">
                        {{school.AttendendFrom | date:'yyyy'}} -  {{school.AttendendTo | date:'yyyy'}}
                    </span>
                    <span class="details">
                        Level: {{school.LevelOfEducationName}}
                    </span>
                    <span class="details">
                        Language of instruction: {{school.Language}}
                    </span>
                    <span class="details">
                        Board of Education: {{school.Addres}}
                    </span>
                    <span class="details">
                        Stream: {{school.StreamName }}
                    </span>
                    <div class="row noborder" style="margin:0px;">
                        <div class="col-md-8 subjectclass" >
                            MAJOR SUBJECT
                        </div>
                        <div class="col-md-4 subjectclass" >
                            SCORE
                        </div>
                        <ng-container *ngFor="let item of school.Marks">
                            <div class="col-8 subjecttitle" >
                                {{item.SubjectName}}
                            </div>
                            <div class="col-4 subjectscore" >
                                
                                <!-- <span *ngIf="item.MinMarks"> {{item.MinMarks}} / {{item.MaxMarks}}</span> 
                                {{item.GradeName}} -->
                                {{item.ObtainMarks}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-md-4 noborder">
                <div class="sbcardinner">
                    <button type="button" *ngIf="permission>1" class="btn btn-sm btn-primary btn-cust" (click)="add()">
                        <i class="fa fa-plus"></i> Add new
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Script For Tooltip -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>