<div [ngClass]="{'card':showCard}">
  <!-- <div class="card-header card-header-danger">
    <div class="row">
      <div class="col-md-12">
        <h6 class="card-title ">Visa</h6>
      </div>
    </div>

  </div> -->
  <div [ngClass]="{'card-body':showCard}">

    <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true"
    [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
    (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true"  (onRowClick)="edit($event.data.StudentVisaId)" (onExporting)="activitylog()">

    <dxo-filter-panel [visible]="true"></dxo-filter-panel>

    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
    </dxo-pager>

    <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

    <dxo-export [enabled]="excel_permisson > 0" fileName="{{this.parentName}} Visa"></dxo-export>

    <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
    </dxo-column-chooser>

    <dxi-column *ngFor="let item of columns" [dataField]="item.dataField" 
        [caption]="item.title | sentenceCase" [dataType]="item.type" [format]="item.format">
    </dxi-column>

    <dxi-column caption="Action" [allowExporting]="false" [minWidth]="50" [fixed]="true" fixedPosition="right" cellTemplate="actionCellTemplate">

    </dxi-column>


    <div *dxTemplate="let d of 'actionCellTemplate'">

        <button type="button" mat-icon-button class="text-danger" data-toggle="tooltip" title="Delete"
            (click)="$event.stopPropagation(); delete(d.data.StudentVisaId)" *ngIf="permission>2">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div *dxTemplate="let d of 'toolbarButton'">
        <button class="text-danger"  (click)="add()" *ngIf="permission>1" mat-icon-button data-toggle="tooltip" title="New">
            <mat-icon>add</mat-icon>
        </button>

        <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
            <mat-icon>filter_list</mat-icon>
        </button>

    </div>

</dx-data-grid>

  </div>
</div>

<!-- Script For Tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>