<form #form="ngForm" (submit)="onSubmit(form)" class="new-design" >
    <div mat-dialog-title>
        General Filter
        <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
    
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="modaltitle">Education</h5>
                            <div class="modalfield">
                                <mat-form-field>
                                    <mat-label>Highest Education</mat-label>
                                    <mat-select matInput placeholder="Highest Education" #EduLevel="ngModel"
                                        [(ngModel)]="formdata.EduLevel" name="EduLevel">
                                        <mat-option>
                                            <ngx-mat-select-search [(ngModel)]="eduFilter" [placeholderLabel]="'Search...'"
                                              [noEntriesFoundLabel]="'Not found'" name="eduFilter"></ngx-mat-select-search>
                                          </mat-option>
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let eduLevel of eduLevelList | stringFilterBy:eduFilter:'EduLevelName';  trackByProperty: 'EduLevelId' " [value]="eduLevel.EduLevelId">
                                            {{eduLevel.EduLevelName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="modaltitle">English Test Score</h5>
                            <div class="modalfield">
                                <mat-form-field>
                                    <mat-label>English Exam Type</mat-label>
                                    <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                                      [(ngModel)]="formdata.EnglishExamType" name="EnglishExamType"
                                      (selectionChange)="onEnglishExamChange(true)">
                                      <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="engFilter" [placeholderLabel]="'Search...'"
                                          [noEntriesFoundLabel]="'Not found'" name="engFilter"></ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option>None</mat-option>
                                      <mat-option *ngFor="let req of reqList  | stringFilterBy:engFilter:'ReqName';  trackByProperty: 'ReqId'" [value]="req.ReqId">{{req.ReqName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="modalfield">
                                <mat-form-field>
                                    <mat-label>Overall</mat-label>
                                    <input matInput type="number" placeholder="Overall" #EnglishExamOverall="ngModel"
                                      [(ngModel)]="formdata.EnglishExamOverall" name="EnglishExamOverall"
                                      [required]="formdata.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                                      [min]="englishExamTypeR.EMin" [max]="englishExamTypeR.EMax" [step]="englishExamTypeR.Increment"
                                      [MinValue]="englishExamTypeR.EMin" [MaxValue]="englishExamTypeR.EMax">
                                    <mat-error *ngIf="EnglishExamOverall.hasError('pattern')">Enter Valid Score</mat-error>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="modaltitle">School Filters</h5>
                            <div class="modalfield">
                                <mat-form-field>
                                    <mat-label>School Type</mat-label>
                                    <mat-select matInput multiple placeholder="School Type" #InstitutionType="ngModel"
                                      [(ngModel)]="formdata.InstitutionType" name="InstitutionType"
                                      (selectionChange)="fillInstitutionList()">
                                      <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="schoolFilter" [placeholderLabel]="'Search...'"
                                          [noEntriesFoundLabel]="'Not found'" name="schoolFilter"></ngx-mat-select-search>
                                      </mat-option>
                    
                                      <mat-option disabled>Select..</mat-option>
                                      <mat-option *ngFor="let inst_type of instTypeList | stringFilterBy:schoolFilter:'InstTypeName';  trackByProperty: 'InstTypeId' " [value]="inst_type.InstTypeId">
                                        {{inst_type.InstTypeName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="modalfield">
                                <mat-form-field>
                                    <mat-label>Countries</mat-label>
                                    <mat-select matInput multiple placeholder="Countries" #InstitutionCountries="ngModel"
                                      [(ngModel)]="formdata.InstitutionCountries" name="InstitutionCountries"
                                      (selectionChange)="fillProvince()">
                                      <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="contryFilter" [placeholderLabel]="'Search...'"
                                          [noEntriesFoundLabel]="'Not found'" name="contryFilter"></ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option disabled>None</mat-option>
                                      <mat-option *ngFor="let country of countryList | stringFilterBy:contryFilter:'CountryName';  trackByProperty: 'CountryId' " [value]="country.CountryId">
                                        {{country.CountryName}}</mat-option>
                                    </mat-select>
                  
                                  </mat-form-field>
                            </div>
                            <div class="modalfield">
                                <mat-form-field>
    
                                    <mat-label>Province</mat-label>
                  
                                    <mat-select matInput multiple placeholder="Province" #InstitutionProvinces="ngModel"
                                      [(ngModel)]="formdata.InstitutionProvinces" name="InstitutionProvinces"
                                      (selectionChange)="fillInstitutionList()">
                                      <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="provinceFilter" [placeholderLabel]="'Search...'"
                                          [noEntriesFoundLabel]="'Not found'" name="provinceFilter"></ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option disabled>Select...</mat-option>
                                      <mat-option *ngFor="let province of provinceList  | stringFilterBy:provinceFilter:'ProvinceName';  trackByProperty: 'ProvinceId'" [value]="province.ProvinceId">
                                        {{province.ProvinceName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="modalfield">
                                <mat-form-field>
    
                                    <mat-label>School</mat-label>
                  
                                    <mat-select multiple matInput placeholder="School" #Institutions="ngModel"
                                      [(ngModel)]="formdata.Institutions" name="Institutions">
                                      <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="schFilter" [placeholderLabel]="'Search...'"
                                          [noEntriesFoundLabel]="'Not found'" name="schFilter"></ngx-mat-select-search>
                                      </mat-option>
                                      <mat-option disabled>Select...</mat-option>
                                      <mat-option *ngFor="let institute of institutionList | stringFilterBy:schFilter:'InstName';  trackByProperty: 'InstitutionId' " [value]="institute.InstitutionId">
                                       {{institute.InstName}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="modaltitle">Program Filters</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="modalfield">
                                        <mat-form-field>
                                            <mat-label>Program Level</mat-label>
                                            <mat-select matInput placeholder="Program Level" #ProgramLevel="ngModel"
                                              [(ngModel)]="formdata.ProgramLevel" name="ProgramLevel">
                                              <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="prgFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="prgFilter"></ngx-mat-select-search>
                                              </mat-option>
                                              <mat-option>None</mat-option>

                                              <mat-option *ngFor="let eduLevel of eduLevelList | stringFilterBy:prgFilter:'EduLevelName';  trackByProperty: 'EduLevelId'" [value]="eduLevel.EduLevelId">
                                                {{eduLevel.EduLevelName}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="modalfield">
                                        <mat-form-field>
    
                                            <mat-label>Available Intake</mat-label>
                          
                                            <mat-select matInput multiple placeholder="Available Intake" #Inteks="ngModel"
                                              [(ngModel)]="formdata.Inteks" name="Inteks">
                                              <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="avilInFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="avilInFilter"></ngx-mat-select-search>
                                              </mat-option>
                                              <mat-option disabled>None</mat-option>
                                              <mat-option *ngFor="let intek of intekList | stringFilterBy:avilInFilter:'IntekDate';  trackByProperty: 'IntekDate'" [value]="intek.IntekDate">
                                                {{intek.IntekDate}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="modalfield">
                                        <mat-form-field>
                                            <mat-label>Mode</mat-label>
                                            <mat-select matInput multiple placeholder="Mode" #ProgramModes="ngModel"
                                              [(ngModel)]="formdata.ProgramModes" name="ProgramModes">
                                              <mat-option>
                                                <ngx-mat-select-search [(ngModel)]="modeFilter" [placeholderLabel]="'Search...'"
                                                  [noEntriesFoundLabel]="'Not found'" name="modeFilter"></ngx-mat-select-search>
                                              </mat-option>
                                              <mat-option *ngFor="let item of programModeList | stringFilterBy:modeFilter:'text';  trackByProperty: 'value' " [value]="item.value">
                                                {{item.text}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="modaltitle">Area of Study</h5>
                            <div class="checkboxcont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-selection-list #Descipline="ngModel" [(ngModel)]="formdata.Descipline" name="Descipline" *ngIf="desciplineList && desciplineList.length>0">
                                          <mat-list-option *ngFor="let item of desciplineList" [value]="item"  checkboxPosition="before"
                                            style="height: auto;" class="d-sm-block d-md-inline-block w-sm-100 w-md-50 pt-1 pb-1">
                                            {{item}}
                                          </mat-list-option>
                                        </mat-selection-list>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="modaltitle">Accomodation</h5>
                            <div class="checkboxcont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.onCampus" name="onCampus">On-Campus</mat-checkbox>
                                        </div>
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.offCampus" name="offCampus">Off-Campus</mat-checkbox>
                                        </div>
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.homeStay" name="homeStay">Home-Stay</mat-checkbox>
                                        </div>
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.privateAccomodation" name="private">Private</mat-checkbox>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h5 class="modaltitle">Work Permit</h5>
                            <div class="checkboxcont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.postGraduateWithWork" name="postGraduateWithWork">Post Graduate Work Permit
                                            </mat-checkbox>
                                        </div>
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.programWithCoOpOption" name="programWithCoOpOption">Program with Co-Op Option</mat-checkbox>
                                        </div>
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.workWhileStudy" name="workWhileStudy">Work while Study</mat-checkbox>
                                        </div>
                                        <div class="form-check">
                                            <mat-checkbox [(ngModel)]="formdata.conditionalOfferLetter" name="conditionalOfferLetter">Conditional Offer Letter
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 ">
                                    
                                <div class="dx-field custom-height-slider d-block">
                                    <div class="dx-field-label w-100">Tuition Fee</div>
                                    <div class="dx-field-value w-100">
                                        <dx-range-slider [min]="0" [max]="200000" [(start)]="formdata.MinTutionFee" [(end)]="formdata.MaxTutionFee" [tooltip]="tooltip"></dx-range-slider>
                                    </div>
                                </div>
    
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="center">
        <button mat-dialog-close class="btn btn-sm btn-primary modalclose">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary btn-cust">Apply Filter</button>
    </div>
</form>