<div class="main-content new-design">


  <div class="card">
    <div class="card-body">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md" *ngIf="currentUser.RoleId!=2">

            <mat-form-field>
              <mat-label>Agent</mat-label>
              <mat-select matInput placeholder="Agent" #AgentId="ngModel" [(ngModel)]="formdata.AgentId" name="AgentId"
                (selectionChange)="list()">
                <mat-option>
                  <ngx-mat-select-search [(ngModel)]="agentFilter" [placeholderLabel]="'Search...'"
                    [noEntriesFoundLabel]="'Not found'" name="agentFilter"></ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="0" *ngIf="agentList?.length>0">All</mat-option>
                <mat-option *ngFor="let item of agentList  | stringFilterBy:agentFilter:'CompanyName';  trackByProperty: 'AgentId' " [value]="item.AgentId">{{item.CompanyName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md" *ngIf="currentUser.RoleType!=2">
            <mat-form-field>
              <mat-label>Institution</mat-label>
              <mat-select matInput placeholder="Institution" #InstitutionId="ngModel"
                [(ngModel)]="formdata.InstitutionId" name="InstitutionId" (selectionChange)="list()">
                <mat-option>
                  <ngx-mat-select-search [(ngModel)]="instituteFilter" [placeholderLabel]="'Search...'"
                    [noEntriesFoundLabel]="'Not found'" name="instituteFilter"></ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="0" *ngIf="institutionList?.length>0">All</mat-option>
                <mat-option *ngFor="let item of institutionList | stringFilterBy:instituteFilter:'InstName';  trackByProperty: 'InstitutionId' " [value]="item.InstitutionId">{{item.InstName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>


      <dx-data-grid [dataSource]="dataList" [showBorders]="true" [allowColumnResizing]="true" [showColumnLines]="true"
        [showRowLines]="true" [rowAlternationEnabled]="true" [noDataText]="gridMessage" [columnAutoWidth]="true"
        (onToolbarPreparing)="onToolbarPreparing($event)" [allowColumnReordering]="true"
        (onCellPrepared)="onCellPrepared($event)" (onRowClick)="openInvoice($event.data.InvoiceId)" (onExporting)="activitylog()">

        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 25,50,100]" [showInfo]="true">
        </dxo-pager>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

        <dxo-export [enabled]="excel_permisson > 0" fileName="Invoices"></dxo-export>

        <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true">
        </dxo-column-chooser>

        <dxi-column *ngFor="let item of columns" [dataField]="item.dataField"  [caption]="item.title | sentenceCase"
          [dataType]="item.type" [format]="item.format">
        </dxi-column>

        <dxi-column caption="Action" [allowExporting]="false" [fixed]="true" fixedPosition="right" [width]="70" cellTemplate="actionCellTemplate">

        </dxi-column>
        <dxo-summary>
          <dxi-total-item column="InvoiceAmount" summaryType="sum" valueFormat="#.##">
          </dxi-total-item>
          <dxi-total-item column="PaidAmount" summaryType="sum" valueFormat="#.##">
          </dxi-total-item>
          <dxi-total-item column="DueAmount" summaryType="sum" valueFormat="#.##">
          </dxi-total-item>
        </dxo-summary>

        <div *dxTemplate="let d of 'actionCellTemplate'">
          <mat-menu #invoiceMenu="matMenu">
            <span class="menuempty">
                <span class="ref"></span>
            </span>
          <button type="button" mat-menu-item 
            (click)="$event.stopPropagation(); updateStatus(1,d.data.InvoiceId)"
            *ngIf="permission>1 && currentUser.RoleId===2 && d.data.InvoiceStatus===0"> <span class="material-icons icon-position">
              check_circle_outline
              </span>Submit</button>

          <button type="button" mat-menu-item 
            (click)="$event.stopPropagation(); updateStatus(3,d.data.InvoiceId)"
            *ngIf="permission>1 && currentUser.RoleType===1 && d.data.InvoiceStatus!=3 && d.data.InvoiceStatus>0 && d.data.InvoiceStatus<4 "> <span class="material-icons icon-position">
              check_circle_outline
              </span>Submit
            To
            Institution</button>

          <button type="button" mat-menu-item 
            (click)="$event.stopPropagation(); updateStatus(2,d.data.InvoiceId,true)"
            *ngIf="permission>1 && currentUser.RoleType===1  && d.data.InvoiceStatus!=2 && d.data.InvoiceStatus>0 && d.data.InvoiceStatus<4"><span class="material-icons icon-position">
              cancel
              </span>Reject</button>


          <button type="button" mat-menu-item 
            (click)="$event.stopPropagation(); updateStatus(5,d.data.InvoiceId)"
            *ngIf="permission>1 && currentUser.RoleType===2 && d.data.InvoiceStatus!=5 && d.data.InvoiceStatus>2 && d.data.InvoiceStatus<6">  <span class="material-icons  icon-position">
              check_circle
              </span>Approve</button>

          <button type="button" mat-menu-item 
            (click)="$event.stopPropagation(); updateStatus(4,d.data.InvoiceId,true)"
            *ngIf="permission>1 && currentUser.RoleType===2 && d.data.InvoiceStatus!=4 && d.data.PaidAmount===0 && d.data.InvoiceStatus>2 && d.data.InvoiceStatus<6">  
               <span class="material-icons icon-position">
              cancel
              </span>Reject</button>

          <button type="button" mat-menu-item  class="backgroundColor" (click)="$event.stopPropagation(); printInvoice(d.data.InvoiceId)">
            <span class="material-icons icon-position">
              print
              </span> Print
            </button>
          <button type="button" mat-menu-item 
            (click)="$event.stopPropagation();  paymentInvoice(d.data)" *ngIf="permission>1 && d.data.InvoiceStatus===5">
            <span class="material-icons icon-position">
              payments
              </span> Payment
          </button>

          <button type="button"  mat-menu-item 
            (click)="$event.stopPropagation();  delete(d.data.InvoiceId)"
            *ngIf="permission>2  && (  (currentUser.RoleId===2 && (d.data.InvoiceStatus===0 || d.data.InvoiceStatus===2 || d.data.InvoiceStatus===4)) || ( currentUser.RoleType===1 && d.data.InvoiceStatus>0 && d.data.InvoiceStatus<3 ))">
              <span class="material-icons icon-position">
                close
                </span> Delete
          </button>
        </mat-menu>
        <button  mat-icon-button   [matMenuTriggerFor]="invoiceMenu"
        (click)="$event.stopPropagation()">
            <mat-icon class="more_dropdown">keyboard_arrow_down</mat-icon>
        </button>
        </div>

        <div *dxTemplate="let d of 'toolbarButton'">
          <!-- <button class="text-danger"  (click)="add()" mat-icon-button
    *ngIf="permission>1" >
        <mat-icon>add</mat-icon>
    </button> -->

          <button class="text-danger" (click)="showFilterRow=!showFilterRow" mat-icon-button data-toggle="tooltip" title="Apply Filter">
            <mat-icon>filter_list</mat-icon>
          </button>

        </div>

      </dx-data-grid>
 
    </div>
  </div>


</div>

<!-- Script For Tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>