.dx-select-box div.dx-placeholder {  
    top: -10px;  
    bottom: 0px;  
    left: 0px;  
    opacity: 1;  
    display: block !important;  
    font-size: 0.7em;  
    transition: 0.3s ease all;  
  }  
   .dx-select-box  .dx-select-box-input{  
      padding: 7px 9px 0px !important;  
  }  
   .dx-select-box-empty  .dx-select-box-input{  
      padding: 7px 9px 8px !important;  
  }  
   .dx-select-box-empty div.dx-placeholder {  
      position: absolute;  
      top: 0px;  
      left: 0px;  
      max-width: 100%;  
      width: auto;  
      height: 100%;  
      text-align: left;  
      cursor: text;  
      pointer-events: none;  
      font-size: 1em;  
  }  