<form #form="ngForm" (submit)="onSubmit(form)"  class="new-design">


  <div class="row">
    <div class="col-md-6">
      <h4 mat-dialog-title>Eligibility</h4>
    </div>
    <div class="col-md-6">
      <h4 mat-dialog-title>Filters</h4>
    </div>
  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="col-md-6">
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              General Information
            </mat-expansion-panel-header>
            <div class="row">
              <!-- <div class="col-md-12">
                  <mat-form-field >
                    <mat-label>Nationality</mat-label>
                    <mat-select matInput placeholder="Nationality"
                    #Nationality="ngModel" [(ngModel)]="formdata.Nationality"
                    name="Nationality"
                    >
                      <mat-option  >None</mat-option>
                      <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                        {{country.CountryName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              <!-- <div class="col-md-12">
              <mat-form-field >
                <mat-label>Country of Education</mat-label>
                <mat-select matInput placeholder="Country of Education"
                #CountryOfEducation="ngModel" [(ngModel)]="formdata.CountryOfEducation"
                name="CountryOfEducation"
                >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                    {{country.CountryName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Highest Education</mat-label>
                  <mat-select matInput placeholder="Highest Education" #EduLevel="ngModel"
                    [(ngModel)]="formdata.EduLevel" name="EduLevel">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let eduLevel of eduLevelList " [value]="eduLevel.EduLevelId">
                      {{eduLevel.EduLevelName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- <div class="col-md-12">
              <mat-form-field >
                <mat-label>Grading Scheme</mat-label>
                <mat-select matInput placeholder="Grading Scheme"
                #GradeScheme="ngModel" [(ngModel)]="formdata.GradeScheme"
                name="GradeScheme"
                >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let gradeScheme of gradeSchemeList " [value]="gradeScheme.GrdSchemeId">
                      {{gradeScheme.GrdSchemeName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

              <!-- <div class="col-md-12">
              <mat-form-field >
                <mat-label>Grade Average</mat-label>
                  <input matInput placeholder="Grade Average"
                  #GradeAverage="ngModel" [(ngModel)]="formdata.GradeAverage"
                  name="GradeAverage"
                  >
              </mat-form-field>
            </div> -->
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              English Test Scores
            </mat-expansion-panel-header>
            <div class="row">
              <!-- <div class="col-md-12">
              <br>
              <mat-slide-toggle labelPosition="before"
              #OnlyDirectAddmission="ngModel" [(ngModel)]="formdata.OnlyDirectAddmission"
                          name="OnlyDirectAddmission"
              >Only Show Direct Admission</mat-slide-toggle>
              <br>
              <br>
            </div> -->
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>English Exam Type</mat-label>
                  <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                    [(ngModel)]="formdata.EnglishExamType" name="EnglishExamType"
                    (selectionChange)="onEnglishExamChange(true)">
                    <mat-option>
                      <ngx-mat-select-search [(ngModel)]="englistFilter" [placeholderLabel]="'Search...'"
                        [noEntriesFoundLabel]="'Not found'" name="englistFilter"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let req of reqList | stringFilterBy:englistFilter:'ReqName';  trackByProperty: 'ReqId'" [value]="req.ReqId">{{req.ReqName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>L</mat-label>

                  <input matInput type="number" #EnglishExamL="ngModel" [(ngModel)]="formdata.EnglishExamL"
                    name="EnglishExamL" [required]="formdata.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                    [min]="englishExamTypeR.AMin" [max]="englishExamTypeR.AMax" [step]="englishExamTypeR.Increment"
                    [MinValue]="englishExamTypeR.AMin" [MaxValue]="englishExamTypeR.AMax">
                  <mat-error *ngIf="EnglishExamL.hasError('pattern')">Enter Valid Score</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>R</mat-label>
                  <input matInput type="number" #EnglishExamR="ngModel" [(ngModel)]="formdata.EnglishExamR"
                    name="EnglishExamR" [required]="formdata.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                    [min]="englishExamTypeR.BMin" [max]="englishExamTypeR.BMax" [step]="englishExamTypeR.Increment"
                    [MinValue]="englishExamTypeR.BMin" [MaxValue]="englishExamTypeR.BMax">
                  <mat-error *ngIf="EnglishExamR.hasError('pattern')">Enter Valid Score</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>W</mat-label>
                  <input matInput type="number" #EnglishExamW="ngModel" [(ngModel)]="formdata.EnglishExamW"
                    name="EnglishExamW" [required]="formdata.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                    [min]="englishExamTypeR.CMin" [max]="englishExamTypeR.CMax" [step]="englishExamTypeR.Increment"
                    [MinValue]="englishExamTypeR.CMin" [MaxValue]="englishExamTypeR.CMax">
                  <mat-error *ngIf="EnglishExamW.hasError('pattern')">Enter Valid Score</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>S</mat-label>
                  <input matInput type="number" #EnglishExamS="ngModel" [(ngModel)]="formdata.EnglishExamS"
                    name="EnglishExamS" [required]="formdata.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                    [min]="englishExamTypeR.DMin" [max]="englishExamTypeR.DMax" [step]="englishExamTypeR.Increment"
                    [MinValue]="englishExamTypeR.DMin" [MaxValue]="englishExamTypeR.DMax">
                  <mat-error *ngIf="EnglishExamS.hasError('pattern')">Enter Valid Score</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Overall</mat-label>
                  <input matInput type="number" placeholder="Overall" #EnglishExamOverall="ngModel"
                    [(ngModel)]="formdata.EnglishExamOverall" name="EnglishExamOverall"
                    [required]="formdata.EnglishExamType>0" [pattern]="englishExamTypeR.pattern"
                    [min]="englishExamTypeR.EMin" [max]="englishExamTypeR.EMax" [step]="englishExamTypeR.Increment"
                    [MinValue]="englishExamTypeR.EMin" [MaxValue]="englishExamTypeR.EMax">
                  <mat-error *ngIf="EnglishExamOverall.hasError('pattern')">Enter Valid Score</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
      <div class="col-md-6">
        <mat-accordion>

          <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            View Options
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field >
                <mat-label>Sort By</mat-label>
                <mat-select matInput placeholder="Sort By"
                #SortBy="ngModel" [(ngModel)]="formdata.SortBy"
                name="SortBy"
                >
                <mat-option value="SchoolRank desc">School Rank Highest First</mat-option>
                <mat-option value="Commission desc" *ngIf="currentUser.RoleId===2" [hidden]="!formdata.ShowCommission" >Commission Highest First</mat-option>
                <mat-option value="Commission" *ngIf="currentUser.RoleId===2" [hidden]="!formdata.ShowCommission">Commission Lowest First</mat-option>
                <mat-option value="TuitionFee">Tuition - Lowest First</mat-option>
                <mat-option value="TuitionFee desc">Tuition - Highest First</mat-option>
                <mat-option value="ApplicationFee desc">Application Fee - Highest First</mat-option>
                <mat-option value="ApplicationFee">Application Fee - Lowest First</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <br>
              <mat-slide-toggle labelPosition="before"
              #ShowCommission="ngModel" [(ngModel)]="formdata.ShowCommission"
              name="ShowCommission"
              >Show Commissions</mat-slide-toggle>
              <br>
              <br>
            </div>
          </div>
        </mat-expansion-panel> -->

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              School Filters
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>School Type</mat-label>
                  <mat-select matInput multiple placeholder="School Type" #InstitutionType="ngModel"
                    [(ngModel)]="formdata.InstitutionType" name="InstitutionType"
                    (selectionChange)="fillInstitutionList()">
                    <mat-option disabled>Select..</mat-option>
                    <mat-option *ngFor="let inst_type of instTypeList " [value]="inst_type.InstTypeId">
                      {{inst_type.InstTypeName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Countries</mat-label>
                  <mat-select matInput multiple placeholder="Countries" #InstitutionCountries="ngModel"
                    [(ngModel)]="formdata.InstitutionCountries" name="InstitutionCountries"
                    (selectionChange)="fillProvince(true)">
                    <mat-option disabled>None</mat-option>
                    <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                      {{country.CountryName}}</mat-option>
                  </mat-select>

                </mat-form-field>


              </div>
              <div class="col-md-12">
                <mat-form-field>

                  <mat-label>Province</mat-label>

                  <mat-select matInput multiple placeholder="Province" #InstitutionProvinces="ngModel"
                    [(ngModel)]="formdata.InstitutionProvinces" name="InstitutionProvinces"
                    (selectionChange)="fillInstitutionList()">
                    <mat-option disabled>Select...</mat-option>
                    <mat-option *ngFor="let province of provinceList " [value]="province.ProvinceId">
                      {{province.ProvinceName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <mat-form-field>

                  <mat-label>School</mat-label>

                  <mat-select multiple matInput placeholder="School" #Institutions="ngModel"
                    [(ngModel)]="formdata.Institutions" name="Institutions">
                    <mat-option disabled>Select...</mat-option>
                    <mat-option *ngFor="let institute of institutionList " [value]="institute.InstitutionId">
                      {{institute.InstName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Program Filters
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Program Level</mat-label>
                  <mat-select matInput placeholder="Program Level" #ProgramLevel="ngModel"
                    [(ngModel)]="formdata.ProgramLevel" name="ProgramLevel">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let eduLevel of eduLevelList " [value]="eduLevel.EduLevelId">
                      {{eduLevel.EduLevelName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <mat-form-field>

                  <mat-label>Available Intake</mat-label>

                  <mat-select matInput multiple placeholder="Available Intake" #Inteks="ngModel"
                    [(ngModel)]="formdata.Inteks" name="Inteks">
                    <mat-option disabled>None</mat-option>
                    <mat-option *ngFor="let intek of intekList " [value]="intek.IntekDate">
                      {{intek.IntekDate | date:'MMM yyyy'}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Mode</mat-label>
                  <mat-select matInput multiple placeholder="Mode" #ProgramModes="ngModel"
                    [(ngModel)]="formdata.ProgramModes" name="ProgramModes">
                    <mat-option *ngFor="let item of programModeList " [value]="item.value">
                      {{item.text}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <label>Discipline <span>Your desired area of study</span></label>
              </div>

              <div class="col-md-12">
                <mat-selection-list #Descipline="ngModel" [(ngModel)]="formdata.Descipline" name="Descipline">
                  <mat-list-option *ngFor="let item of desciplineList" [value]="item" checkboxPosition="before"
                    style="height: auto;" class="pt-1 pb-1">
                    {{item}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
              <!-- <div class="col-md-12">
              <mat-form-field >
                <mat-label>Sub Categories</mat-label>
                <mat-select matInput multiple placeholder="Sub Categories"
                #SubDesciplines="ngModel" [(ngModel)]="formdata.SubDesciplines"
                name="SubDesciplines"
                >
                  <mat-option disabled>None</mat-option>
                  <mat-option *ngFor="let subDescipline of subDesciplineList " [value]="subDescipline.SubDescId">
                      {{subDescipline.SubDescName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

              <!-- <div class="col-md-12">
              <mat-form-field >
                <mat-label>Keyword</mat-label>
                <input matInput placeholder="Keyword"
                #Keyword="ngModel" [(ngModel)]="formdata.Keyword"
                name="Keyword"
                >
              </mat-form-field>
            </div> -->
              <div class="col-md-12 ">
                <label>Tuition Fee</label>
                <div class="range">
                  <ng5-slider [(value)]="formdata.MinTutionFee" [(highValue)]="formdata.MaxTutionFee" [options]="{
                    floor: 0,
                    ceil: 200000,
                    hideLimitLabels: true,
                    hidePointerLabels: false
                  }"></ng5-slider>
                </div>

              </div>

              <!-- <div class="col-md-12">
              <label>Application Fee</label>

              <div class="range">
                  <ng5-slider
                  [(value)]="formdata.MinApplicationFee"
                  [(highValue)]="formdata.MaxApplicationFee"
                  [options]="{
                    floor: 0,
                    ceil: 100000,
                    hideLimitLabels: true,
                    hidePointerLabels: false
                  }"
                 
                ></ng5-slider>
              </div>
            </div> -->


              <div class="col-12">
                <label>
                  Types of Accommodation
                </label>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.onCampus">On-Campus</mat-checkbox>
                </div>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.offCampus">Off-Campus</mat-checkbox>
                </div>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.homeStay">Home-Stay</mat-checkbox>
                </div>
              </div>

              <div class="col-12">
                <label>
                  Other Features
                </label>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.postGraduateWithWork">Post Graduate Work Permit
                  </mat-checkbox>
                </div>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.programWithCoOpOption">Program with Co-Op Option</mat-checkbox>
                </div>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.conditionalOfferLetter">Conditional Offer Letter</mat-checkbox>
                </div>
                <div class="col-12">
                  <mat-checkbox [value]="formdata.workWhileStudy">Work while Study</mat-checkbox>
                </div>
              </div>
              <div class="col-12">
                <mat-checkbox [(ngModel)]="formdata.conditionalOfferLetter">Conditional Offer Letter
                </mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-dialog-close class="btn  btn-sm btn-primary modalclose">Cancel</button>
    <button type="submit" class="btn btn-primary btn-sm btn-cust">Search</button>
  </mat-dialog-actions>

</form>