<span *ngIf="DesignMode" class="custom-form-control-toolbar">
  <button mat-icon-button (click)="edit(control)" class="text-primary"><mat-icon>edit</mat-icon></button>
  <button  mat-icon-button (click)="delete(control.ControlId)" class="text-danger"><mat-icon>delete</mat-icon></button>
  <label class="label text-info">C_{{control.RowNumber}}_{{control.ColumnNumber}}</label>
</span>
<ng-container [ngSwitch]="control.ControlType">

  <ng-container *ngSwitchCase="'section'">

    <div [innerHtml]="control.ControlLabel">
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'file'">
    <div class="d-flex">
      <!-- <div [innerHTML]="control.ControlLabel" class="flex-fill"></div> -->

      <!-- <div class="flex-fill">
        <a href="{{filePath+'/'+control.FormValue}}" target="_blank" *ngIf="control.FormValue.length>0">
          <mat-icon>visibility</mat-icon>
        </a>
      </div> -->
      <div class="flex-fill">
        <app-file-upload [file]="uploadFile" (fileChange)="onFileChange($event)"
        [label]="control.ControlLabel"
        controlName="content_{{control.FormKey}}" 
        [initialFilePath]="control.FormValue"
        [dir]="uploadDir" 
        >
        </app-file-upload>

        <!-- <button mat-button *ngIf="control.FormValue.length>0" type="button">
          <mat-icon class="text-danger">close</mat-icon>
        </button> -->

        <input type="hidden" [(ngModel)]="control.FormValue" />
      </div>
    </div>


  </ng-container>

  <ng-container *ngSwitchCase="'radio'">

    <div [innerHTML]="control.ControlLabel"></div>
    <mat-radio-group [(ngModel)]="control.FormValue" name="content_{{control.FormKey}}" #ControlField="ngModel"
      [appRegisterFormControlModel]="form" [registerModel]="ControlField"
      [required]="control.Data.validation.required.value">
      <mat-radio-button *ngFor="let optionItem of control.Data.option" [value]="optionItem">{{optionItem}}
      </mat-radio-button>

      <mat-error *ngIf="control.Data.validation.required.message.length>0 && ControlField.hasError('required')">
        {{control.Data.validation.required.message}}
      </mat-error>

    </mat-radio-group>

  </ng-container>

  <ng-container *ngSwitchCase="'date'">

    <app-date-picker [(value)]="control.FormValue" [placeholder]="control.ControlLabel"
      name="content_{{control.FormKey}}" [form]="form" [required]="control.Data.validation.required.value"
      [hint]="control.Data?.hint">
    </app-date-picker>

  </ng-container>

  <ng-container *ngSwitchCase="'text'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" #ControlField="ngModel" [appRegisterFormControlModel]="form"
        [registerModel]="ControlField" [required]="control.Data.validation.required.value"
        [pattern]="control.Data?.validation.pattern.value.length>0 ? control.Data.validation.pattern.value : null " 
        [minlength]="control.Data.validation.minLength.value.length>0 ? control.Data.validation.minLength.value : null "
        [maxlength]="control.Data?.validation.maxLength.value.length>0 ? control.Data.validation.maxLength.value : null ">

      <span matPrefix *ngIf="control.Data?.prefixLabel">{{control.Data?.prefixLabel}}</span>

      <span matSuffix *ngIf="control.Data?.suffixLabel">{{control.Data?.suffixLabel}}</span>

      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>

      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data.validation.required.message  }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>

    

      <mat-error *ngIf="ControlField.hasError('minlength')">
         {{ control.Data?.validation?.minLength?.message ? control.Data?.validation?.minLength?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('maxlength')">
          {{ control.Data?.validation?.maxLength?.message ? control.Data?.validation?.maxLength?.message :'' }}
      </mat-error>
     
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'email'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" [required]="control.Data.validation.required.value" [pattern]="modelPattern.email"
        #ControlField="ngModel" [appRegisterFormControlModel]="form" [registerModel]="ControlField"
        [pattern]="control.Data?.validation?.pattern?.value?.length>0 ? control.Data?.validation?.pattern?.value : null " >
      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>
      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>
      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>
 

    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'number'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" [required]="control.Data.validation.required.value"
        #ControlField="ngModel" [appRegisterFormControlModel]="form" [registerModel]="ControlField"
        [pattern]="control.Data?.validation?.pattern?.value?.length>0 ? control.Data?.validation?.pattern?.value : null " 
        [MinValue]="control.Data?.validation?.minValue?.value?.length>0 ? control.Data?.validation?.minValue?.value : null "
        [MaxValue]="control.Data?.validation?.maxValue?.value?.length>0 ? control.Data?.validation?.maxValue?.value : null " 
        [minlength]="control.Data?.validation?.minLength?.value?.length>0 ? control.Data?.validation?.minLength?.value : null "
        [maxlength]="control.Data?.validation?.maxLength?.value?.length>0 ? control.Data?.validation?.maxLength?.value : null " >
      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>

     
      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('MinValue')">
         {{ control.Data?.validation?.minValue?.message ? control.Data?.validation?.minValue?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('MaxValue')">
        {{ control.Data?.validation?.maxValue?.message ? control.Data?.validation?.maxValue?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('minlength')">
         {{ control.Data?.validation?.minLength?.message ? control.Data?.validation?.minLength?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('maxlength')">
          {{ control.Data?.validation?.maxLength?.message ? control.Data?.validation?.maxLength?.message :'' }}
      </mat-error>

     

    </mat-form-field>
  </ng-container>
  
  <ng-container *ngSwitchCase="'Phone Number'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" [required]="control.Data.validation.required.value" [pattern]="modelPattern.phoneno"
        #ControlField="ngModel" [appRegisterFormControlModel]="form" [registerModel]="ControlField"
        [pattern]="control.Data?.validation?.pattern?.value?.length>0 ? control.Data?.validation?.pattern?.value : null " >
      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>
      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>
      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>
 

    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'Mobile Number'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" [required]="control.Data.validation.required.value" [pattern]="modelPattern.mobileno"
        #ControlField="ngModel" [appRegisterFormControlModel]="form" [registerModel]="ControlField"
        [pattern]="control.Data?.validation?.pattern?.value?.length>0 ? control.Data?.validation?.pattern?.value : null " >
      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>
      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>
      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>
 

    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'Name'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" [required]="control.Data.validation.required.value" [pattern]="modelPattern.alphaNumericWithSpace"
        #ControlField="ngModel" [appRegisterFormControlModel]="form" [registerModel]="ControlField"
        [pattern]="control.Data?.validation?.pattern?.value?.length>0 ? control.Data?.validation?.pattern?.value : null " >
      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>
      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>
      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>
 

    </mat-form-field>
  </ng-container>
  
  <ng-container *ngSwitchCase="'Pincode'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <input matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" [required]="control.Data.validation.required.value" [pattern]="modelPattern.pincode"
        #ControlField="ngModel" [appRegisterFormControlModel]="form" [registerModel]="ControlField"
        [pattern]="control.Data?.validation?.pattern?.value?.length>0 ? control.Data?.validation?.pattern?.value : null " >
      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>
      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>
      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>
 

    </mat-form-field>
  </ng-container>




  <ng-container *ngSwitchCase="'multiline'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <textarea matInput [type]="control.ControlType" name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue"
        [placeholder]="control.ControlLabel" #ControlField="ngModel" [appRegisterFormControlModel]="form"
        [registerModel]="ControlField" 
        [required]="control.Data.validation.required.value"
        [pattern]="control.Data.validation.pattern.value.length>0 ? control.Data.validation.pattern.value : null " 
        [minlength]="control.Data.validation.minLength.value.length>0 ? control.Data.validation.minLength.value : null "
        [maxlength]="control.Data.validation.maxLength.value.length>0 ? control.Data.validation.maxLength.value : null "
        
        ></textarea>

      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>


      <mat-error *ngIf="ControlField.hasError('required')">
        {{ control.Data?.validation?.required?.message ? control.Data?.validation?.required?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('pattern')">
         {{ control.Data?.validation?.pattern?.message ? control.Data?.validation?.pattern?.message :'' }}
      </mat-error>


      <mat-error *ngIf="ControlField.hasError('minlength')">
         {{ control.Data?.validation?.minLength?.message ? control.Data?.validation?.minLength?.message :'' }}
      </mat-error>

      <mat-error *ngIf="ControlField.hasError('maxlength')">
          {{ control.Data?.validation?.maxLength?.message ? control.Data?.validation?.maxLength?.message :'' }}
      </mat-error>

    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'checkbox'">
    <mat-checkbox name="content_{{control.FormKey}}" [(ngModel)]="control.FormValue">{{control.ControlLabel}}
    </mat-checkbox>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <mat-form-field [floatLabel]="parentControl && parentControl.ControlType==='listrow' ? 'never' :'auto' ">
      <mat-label>{{control.ControlLabel}}</mat-label>
      <mat-select [placeholder]="control.ControlLabel" [(ngModel)]="control.FormValue"
        name="content_{{control.FormKey}}" [required]="control.Data.validation.required.value" #ControlField="ngModel"
        [appRegisterFormControlModel]="form" [registerModel]="ControlField">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let optionItem of control.Data.option " [value]="optionItem">
          {{optionItem}}</mat-option>


      </mat-select>

      <mat-hint *ngIf="control.Data?.hint">
        {{control.Data.hint}}
      </mat-hint>

      <mat-error *ngIf="control.Data.validation.required.message.length>0 && ControlField.hasError('required')">
        {{control.Data.validation.required.message}}
      </mat-error>


    </mat-form-field>
  </ng-container>

  <div *ngSwitchDefault>Undefined Control</div>

</ng-container>