<div class="main-content new-design">
    <div class="card">
        <div class="card-body">
            <form #form="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2 d-flex">
                            <input type="file"  style="display: block; max-width: 200px;" #myfileInput placeholder="Select Document" (change)="fileChange($event)"
                                ngModel name="DocumentFile" required accept=".xlsx,.csv">
                            <mat-error style="padding-left: 10px;padding-top: 5px;" *ngIf="invalidFileExtension">Upload .xlsx or .csv file only</mat-error>
                        </div>
                            <div>
                                <a style="margin-top: 2px;" href="{{filepath}}samplefiles/enrollment_import.xlsx" target="_blank" value="Sample download">Sample download</a>
                            </div>
                    </div>
                    <div class="col-md-6" *ngIf="sheetNames && sheetNames.length>0">
                        <mat-form-field>
                            <mat-label>Sheet</mat-label>
                            <mat-select matInput placeholder="Select Sheet" #SheetName="ngModel"
                                [(ngModel)]="currentSheet" name="SheetName"
                                (selectionChange)="onSheetChange($event)" required>
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="sheetFilter" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="sheetFilter"></ngx-mat-select-search>
                                </mat-option>
                                <!-- <mat-option *ngIf="currentSheet == null" value="null">Select sheet</mat-option> -->
                                <mat-option *ngFor="let item of sheetNames | stringFilterBy:sheetFilter;"
                                    [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="SheetName.hasError('required')">Select sheet
                            </mat-error>
                        </mat-form-field>

                        <mat-error style="margin-top: -16px;" *ngIf="sizeerror">{{sizeerror}}</mat-error> 
                    </div>
                </div>
                <div class="row" [hidden]="!loadingFile">
                    <div class="col-md-12 text-center">
                        <mat-spinner class="ml-auto mr-auto" color="primary" mode="indeterminate" >
                        </mat-spinner>
                    </div>
                </div>
                <div class="row" *ngIf="columnsListOption && columnsListOption.length>0">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Institution</mat-label>
                            <mat-select matInput placeholder="Institution" #InstitutionId="ngModel"
                                [(ngModel)]="formdata.InstitutionId" name="InstitutionId"
                                (selectionChange)="columnChange($event , fields)" required>
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="instFilter" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="instFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select institution</mat-option>
                                <mat-option *ngFor="let item of instList | stringFilterBy:instFilter:'InstName';"
                                    [value]="item.InstitutionId">{{item.InstName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="InstitutionId.hasError('required')">Select valid Institution Name
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">&nbsp;</div>

                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Student ID</mat-label>
                            <mat-select matInput placeholder="Student ID" #StudentId="ngModel"
                                [(ngModel)]="formdata.StudentId" name="StudentId"
                                (selectionChange)="columnChange($event , fields)" required>
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="studentIdFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="studentIdFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption| stringFilterBy:studentIdFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="StudentId.hasError('required')">Select valid Student ID
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <mat-select matInput placeholder="First Name" #FirstName="ngModel"
                                [(ngModel)]="formdata.FirstName" name="FirstName"
                                (selectionChange)="columnChange($event , fields)" required>
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="firstNameFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="firstNameFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption | stringFilterBy:firstNameFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="FirstName.hasError('required')">Select valid First Name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Middle Name</mat-label>
                            <mat-select matInput placeholder="Middle Name" #MiddleName="ngModel"
                                [(ngModel)]="formdata.MiddleName" name="MiddleName"
                                (selectionChange)="columnChange($event , fields)">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="middleNameFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="middleNameFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption | stringFilterBy:middleNameFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="MiddleName.hasError('required')">Select valid Middle Name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <mat-select matInput placeholder="Last Name" #LastName="ngModel"
                                [(ngModel)]="formdata.LastName" name="LastName"
                                (selectionChange)="columnChange($event)">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="lastNameFilter" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="lastNameFilter">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption | stringFilterBy:lastNameFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="LastName.hasError('required')">Select valid Last Name
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Program</mat-label>
                            <mat-select matInput placeholder="Program" #Program="ngModel" [(ngModel)]="formdata.Program"
                                name="Program" (selectionChange)="columnChange($event , columnsListOption)" required>
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="programFilter" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="programFilter">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption  | stringFilterBy:programFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="Program.hasError('required')">Select valid Program Name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Intake</mat-label>
                            <mat-select matInput placeholder="Intake" #Intake="ngModel" [(ngModel)]="formdata.Intake"
                                name="Intake" (selectionChange)="columnChange($event , fields)">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="intakeFilter" [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="intakeFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption  | stringFilterBy:intakeFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="Intake.hasError('required')">Select Intake Name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Agent Name</mat-label>
                            <mat-select matInput placeholder="Agent Name" #AgentName="ngModel"
                                [(ngModel)]="formdata.AgentName" name="AgentName"
                                (selectionChange)="columnChange($event , fields)">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="agentNameFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="agentNameFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption | stringFilterBy:agentNameFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="AgentName.hasError('required')">Select Agent Name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Fee Amount</mat-label>
                            <mat-select matInput placeholder="Fee Amount" #FeeAmount="ngModel"
                                [(ngModel)]="formdata.FeeAmount" name="FeeAmount"
                                (selectionChange)="columnChange($event , fields)">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="feeAmountFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="feeAmountFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option *ngFor="let item of columnsListOption  | stringFilterBy:feeAmountFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="FeeAmount.hasError('required')">Select Fee Amount
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Commission Amount</mat-label>
                            <mat-select matInput #CommissionAmount="ngModel" [(ngModel)]="formdata.CommissionAmount"
                                name="CommissionAmount" (selectionChange)="columnChange($event , fields)">
                                <mat-option>
                                    <ngx-mat-select-search [(ngModel)]="commissionAmountFilter"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="commissionAmountFilter"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option>select item</mat-option>
                                <mat-option
                                    *ngFor="let item of columnsListOption| stringFilterBy:commissionAmountFilter;"
                                    [value]="item">{{item}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="CommissionAmount.hasError('required')">Select Commission Amount
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" (click)="redirect()" class="btn btn-sm btn-primary modalclose">Back</button>
                        <button type="submit" (click)="save(form)"
                            *ngIf="columnsListOption && columnsListOption.length>0" class="btn btn-sm btn-danger"
                            [disabled]="flagDisabled">save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>