<div class="card shadow">
    <div class="card-body">
      <div class="row no-gutters justify-content-between">
        <div class="col-md-3">
          <!-- <h4 class="card-title color-333">Application Status</h4> -->
          <div class="cardtitle py-0">Application Status</div>
        </div>
        <div class="col-md-3 pull-right">
          <mat-form-field>
            <mat-label>Intake</mat-label>
            <mat-select placeholder="Intake" [(ngModel)]="applicationStatusIntakeItem"
              (selectionChange)="applicationStatusForIntake(applicationStatusIntakeItem)">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="applicationStatusItem" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="appFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="item.IntakeGroupId"
                *ngFor="let item of inTakeList | stringFilterBy:applicationStatusItem:'IntakeName'">
                {{item.IntakeName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="row no-gutters justify-content-between mb-3">
        <div class="col-md-12" *ngIf="!applicationStatusLength">
          <div class="text-center"> <b>No data for chart </b></div>
        </div>
        <!-- <ng-template [ngIf]="!applicationStatusWiseApplicationCount.length"><div>Content to render when condition is
          true.</div></ng-template> -->
        <div class="col-md-12" *ngIf="applicationStatusLength > 0">
          <!-- <dx-pie-chart id="pie" [dataSource]="applicationStatusWiseApplicationCount"
            (onPointClick)="pointClickHandler($event)" (onLegendClick)="legendClickHandler($event)">
            <dxi-series argumentField="EventTitle" valueField="ApplicationCount">
              <dxo-label [visible]="true">
                <dxo-connector [visible]="true"></dxo-connector>
              </dxo-label>
            </dxi-series>
              <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="millions">
            </dxo-tooltip>  
              <dxo-size [width]="900"></dxo-size> 
            <dxo-export [enabled]="true" horizontalAlignment="right"></dxo-export>
            <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
          </dx-pie-chart> -->

          <dx-chart id="pie" [dataSource]="applicationStatusWiseApplicationCount"
            (onPointClick)="pointClickHandler($event)" (onLegendClick)="legendClickHandler($event)"
            style="height: 200px"  [rotated]="true"
            >
            <dxi-series  type="bar" argumentField="EventTitle" valueField="ApplicationCount"  name="Application">
              <!-- <dxo-label [visible]="true">
                <dxo-connector [visible]="true"></dxo-connector>
              </dxo-label> -->
            </dxi-series>
            <!-- <dxo-export [enabled]="true" horizontalAlignment="right"></dxo-export> -->
            <dxo-legend   visible="false"></dxo-legend>
            <dxo-argument-axis [tickInterval]="1">
              <dxo-label>
                  <dxo-format type="number"></dxo-format>
              </dxo-label>
          </dxo-argument-axis>
          <dxi-value-axis [allowDecimals]="false" > </dxi-value-axis>
          <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
          </dx-chart>
        </div>
      </div>
    </div>
  </div>