<!-- <h4 mat-dialog-title>Upload Document</h4> -->
  <form #form="ngForm"  class="new-design">
<div mat-dialog-title>
  Upload Document
  <button class="close text-white" type="button"   aria-label="Close"  (click)="cancel()"><span aria-hidden="true">×</span></button>
</div>
<div mat-dialog-content>
   <div class="row">
      <div class="col-12">
          <mat-form-field >
            <mat-label>Document</mat-label>
              <input matInput placeholder="Document" #DocumentName="ngModel"
                [(ngModel)]="formdata.DocumentName" name="DocumentName" required  (blur)="checkFileName($event)">

              <mat-error *ngIf="DocumentName.hasError( 'required')">Enter document name</mat-error>
            </mat-form-field>
            <span style="color: red; font-size: small; "*ngIf="duplicateName && !DocumentName.hasError( 'required')">Duplicate Document Name</span>
       </div>

     <div class="col-12">
       <div class="mb-2" >
          <input type="file"  placeholder="Select Document" 
          (change)="fileChange($event)"
          ngModel
          name="DocumentFile" required accept=".jpg,.png,.pdf" >
          <mat-error *ngIf="sizeerror">{{sizeerror}}</mat-error>
          <br/>
       </div>
     </div>
    
    
     <div class="col-12" *ngIf="progress>0">
       <br/>
       {{progress}}
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
     </div>
   </div>
 

</div>
<div mat-dialog-actions align="center">
  <button type="button"  (click)="cancel()" class="btn btn-sm btn-primary modalclose" >cancel</button>
  <button type="button"  (click)="upload()" class="btn btn-sm btn-primary btn-cust" [disabled]="(!form.valid  || !DocumentFile) || flagdisable || duplicateName" >Upload</button>
</div>
</form>
