<form #form="ngForm" form class="new-design">
    <div mat-dialog-title>
        Knowledge Article
        <button class="close text-white" type="button" mat-dialog-close aria-label="Close"><span
                aria-hidden="true">×</span></button>
    </div>

    <div mat-dialog-content>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select matInput placeholder="Category" #CategoryID="ngModel"
                            [(ngModel)]="formdata.CategoryID" name="CategoryID" required>
                            <mat-option>
                                <ngx-mat-select-search [(ngModel)]="categoryFilter" [placeholderLabel]="'Search...'"
                                    [noEntriesFoundLabel]="'Not found'" name="categoryFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option
                                *ngFor="let category of categoryList | stringFilterBy:categoryFilter:'CategoryName';  trackByProperty: 'CategoryId'"
                                [value]="category.CategoryId">{{category.CategoryName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="CategoryID.hasError('required')">Select category</mat-error>
                    </mat-form-field>
                    <a [routerLink]="" class="float-right" [ngStyle]="{'font-size': '10px', 'position': 'relative', 'bottom': '9px'}" (click)="showcategory()">Manage Category</a>
                </div>
            </div>


            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <mat-label>For</mat-label>
                        <mat-select [(ngModel)]="formdata.DisplayTo" placeholder="For" #DisplayTo="ngModel"
                            name="DisplayTo">
                            <mat-option *ngFor="let option of displaytoList" [value]="option.value">
                                {{option.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" name="DocumentTitle" #DocumentTitle="ngModel"
                            [(ngModel)]="formdata.DocumentTitle" required
                            [pattern]="modelPattern.alphaNumericWithSpace" />
                        <mat-error *ngIf="DocumentTitle.hasError('required')|| DocumentTitle.hasError('pattern')">Enter
                            valid title </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <section>
                        <mat-checkbox name="Document Status" [(ngModel)]="formdata.DocumentStatus"
                            class="example-margin">Enable</mat-checkbox>
                    </section>
                </div>
            </div>

            <div class="form-group">
                <label>Description</label><span style="color: red;"> *</span>
                <dx-html-editor tagName="textarea" placeholder="Description" rows="5" #DocumentDescription="ngModel"
                    [(ngModel)]="formdata.DocumentDescription" name="DocumentDescription" required>
                    <dxo-toolbar [items]="items"> </dxo-toolbar>
                    <dx-validator>
                        <dxi-validation-rule type='required' message='Description is required'>
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-html-editor>

            </div>

            <div class="col-12" *ngIf="formdata.KnowledgeCID === 0">

                <app-display-files-local [uploadDir]="uploadDir" [parentId]="formdata.KnowledgeCID" [parentType]="13"
                    [permission]="permission" (onArrayUpdate)="getArray($event)">
                </app-display-files-local>
            </div>

            <div class="col-12" *ngIf="formdata.KnowledgeCID > 0">

                <app-display-files parentName="Knowledge Base"  title="Knowledge Article" [uploadDir]="uploadDir" [showRemark]="false" [parentId]="formdata.KnowledgeCID"
                    [parentType]="13" [permission]="permission">
                </app-display-files>
            </div>


        </div>
    </div>
    <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisible" [showCloseButton]="true">
        <textarea   [(ngModel)]="formdata.DocumentDescription" name="viewItem" style="height:100% !important; width: 100%; display: block; border:0px;"  ></textarea>
    </dx-popup>

    <div mat-dialog-actions align="center">
        <button type="button" mat-dialog-close class="btn btn-primary btn-sm modalclose">Close</button>

        <button type="submit" class="btn btn-primary btn-sm btn-cust" (click)="add(form)" *ngIf="permission>1"
            [disabled]="flagdisabled">{{btnLabel}}</button>

    </div>
</form>