<form #ccForm="ngForm" form (ngSubmit)="onCCInfoUpdate(ccForm)" class="new-design">

    <div mat-dialog-title>
       CC Info
        <button class="close text-white" type="button" mat-dialog-close aria-label="Close"><span
                aria-hidden="true">×</span></button>
    </div>
    
    <div mat-dialog-content>
        <div class="container-fluid pl-0 pr-0" *ngIf="ccInfoData">

            <div class="row">

                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Card Type</mat-label>

                        <mat-select matInput placeholder="Card Type" #CCType="ngModel" [(ngModel)]="ccInfoData.CCType"
                            name="CCType" required>
                            <mat-option>None</mat-option>
                            <mat-option value="Visa">VISA</mat-option>
                            <mat-option value="Master">MASTER</mat-option>
                            <mat-option value="American Express">American Express</mat-option>
                        </mat-select>

                        <!-- <mat-error> Card type is required</mat-error> -->

                        <mat-error *ngIf="CCType.hasError('required')">Card type is required</mat-error>

                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Card Number</mat-label>
                        <input  type="text" matInput   placeholder="Card Number" name="CCNo" #CCNo="ngModel"
                            [(ngModel)]="ccInfoData.CCNo"   pattern="^[0-9]{12,19}$" onkeyup="if(this.value<0){this.value= this.value * -1}"  required/>

                         <mat-error *ngIf="CCNo.hasError('pattern')">Card number should be between 12 to 19 digits</mat-error>   
                         <mat-error *ngIf="CCNo.hasError('required')">Card number is required</mat-error>   
                    </mat-form-field>
                </div>


                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>Name Of Card Holder</mat-label>
                        <input matInput placeholder="Name Of Card Holder" name="CCName" #CCName="ngModel" [pattern]="modelPattern.alphaNumericWithSpace"
                            [(ngModel)]="ccInfoData.CCName" (ngModelChange)="ccInfoData.CCName = $event.toUpperCase()" required />

                        <mat-error *ngIf="CCName.hasError('required')">Name of card holder is required</mat-error>   
                        <mat-error *ngIf="CCName.hasError('pattern')"> Name Of Card Holder is not valid</mat-error>

                        </mat-form-field>
                      
                        <!-- <mat-error *ngIf="CCName.invalid && !CCName.hasError('required')">Name Of Card Holder is required</mat-error> -->
                </div>

                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>CVV</mat-label>
                        <input   type="text" matInput placeholder="CVV" name="CCCode" #CCCode="ngModel"
                            [(ngModel)]="ccInfoData.CCCode"  pattern="^[0-9]{3,4}$" onkeyup="if(this.value<0){this.value= this.value * -1}"  required />   
                            <mat-error *ngIf="CCCode.hasError('pattern')">CVV should have 3 or 4 digits</mat-error>  
                            <mat-error *ngIf="CCCode.hasError('required')">CVV is required</mat-error>  
                    </mat-form-field>
                </div>

                <div class="col-md-6"> 
                      <app-month-year-picker-new [(value)]="ccInfoData.CCExpiryDate" placeholder="Expiry Date" name="CCExpiryDate"
                        [form]="ccForm" [minDate]="minDate"  required >
                    </app-month-year-picker-new> 
                    <!-- <mat-error *ngIf="CCExpiryDate">Expiry Date is required</mat-error>                    -->
                    <!-- <app-month-year-picker (valueChange)="ccInfoData.CCExpiryDate = $event" [minDate]="minDate" placeholder="Expiry Date" name="CCExpiryDate"
                    required >
                </app-month-year-picker> -->
                    <!-- <app-date-picker [(value)]="ccInfoData.CCExpiryDate" placeholder="Expiry Date" name="CCExpiryDate"
                        [form]="ccForm" [minDate]="minDate"  required >
                    </app-date-picker> -->
                </div>

                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>Address (card issued on)</mat-label>
                        <input matInput placeholder="Address" name="CCAddress" #CCAddress="ngModel"
                            [(ngModel)]="ccInfoData.CCAddress" [pattern]="modelPattern.alphaNumericWithSpecialCharacters" />                   
                            <mat-error *ngIf="CCAddress.hasError('pattern')">Address is not valid</mat-error> 
                    </mat-form-field>
                </div>

            </div>

        </div>

    </div>
    <div mat-dialog-actions align="center">
        <button mat-dialog-close class="btn btn-sm btn-primary modalclose">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary btn-cust">Update</button>
    </div>

</form>