<form #testform="ngForm" form (submit)="onTestScoreFormSubmit(testform)" class="new-design">

    <div mat-dialog-title>
        Test Score
        <button class="close text-white" type="button" mat-dialog-close aria-label="Close"><span
                aria-hidden="true">×</span></button>
    </div>
    <div mat-dialog-content>
        <div class="container-fluid pl-0 pr-0" *ngIf="testScoreData">
            <h4 class="m-b-3"> English Exam </h4>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>English Exam Type</mat-label>
                        <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                            [(ngModel)]="testScoreData.EnglishExamType" name="EnglishExamType"
                            (selectionChange)="onExamTypeChange(true)" required>
                            <mat-option>
                                <ngx-mat-select-search [(ngModel)]="engFilter" [placeholderLabel]="'Search...'"
                                    [noEntriesFoundLabel]="'Not found'" name="engFilter"></ngx-mat-select-search>
                            </mat-option>
                            <!-- removed from mandatory as per feedback -->
                            <mat-option>None</mat-option>
                            <!-- <mat-option [value]="-1">Not Applicable</mat-option> -->
                            <mat-option
                                *ngFor="let req of reqList | stringFilterBy:engFilter:'ReqName';  trackByProperty: 'ReqId' "
                                [value]="req.ReqId">{{req.ReqName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="EnglishExamType.hasError('required') || EnglishExamType.hasError('pattern')">
                            Exam type is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-3" *ngIf="testScoreData.EnglishExamType === -1">                
                    <mat-form-field>
                    <mat-label> Remark </mat-label>
                    <input matInput type="text" #EnglishExamRemark="ngModel"
                    [(ngModel)]="testScoreData.EnglishExamRemark" name="EnglishExamRemark"
                    maxlength="50" [required]= "testScoreData.EnglishExamType === -1" [pattern]="modelPattern.alphaNumericWithSpecialCharacters">

                    <mat-error
                    *ngIf="EnglishExamRemark.hasError('required')">
                    Remark is required</mat-error>
                    <mat-error *ngIf="EnglishExamRemark.hasError('pattern')">
                    Remark is not valid</mat-error>

                    </mat-form-field>
                  </div>
                <div class="col-md-2" *ngIf="testScoreData.EnglishExamType>0">
                    <app-date-picker [(value)]="testScoreData.EnglishExamDate" placeholder="Exam Date" (valueChange)="dateChangedEnglishExam()"
                        name="EnglishExamDate" [required]="testScoreData.EnglishExamType !=null" [form]="testform">
                    </app-date-picker>
                </div>

                <div class="col-md-2"
                    *ngIf="testScoreData.EnglishExamType>0 && getTime( testScoreData.EnglishExamDate)>today.getTime() ">
                    <span class="text-info">Test Awaited</span>
                </div>
<!-- //                        [required]="testScoreData.EnglishExamType!=null && getTime( testScoreData.EnglishExamDate)>today.getTime()" -->
                <div class="col-md-4"
                    *ngIf="testScoreData.EnglishExamType>0 && getTime( testScoreData.EnglishExamDate)>today.getTime()">
                    <app-file-uploader [(file)]="docFile" [initialFilePath]="testScoreData.EnglishExamDocPath"
                        dir="student" label="Confirmation Document" data-toggle="tooltip"
                        title="Upload File"
                        controlName="EnglishExamDoc" fileType=".jpg,.png,.pdf,.doc,.docx,.xlsx,.xls,.csv,.txt"
                        [uploadIndepended]="true" (onUploadFinish)="uploadFinishEnglishExam($event)"
                        required></app-file-uploader>
                </div>
                <div class="col-md-8"
                    *ngIf="testScoreData.EnglishExamType>0 && getTime( testScoreData.EnglishExamDate)<=today.getTime()">
                    <div class="row">
                        <div class="col-md" *ngIf="englishExamTypeR && englishExamTypeR.ShowA">
                            <mat-form-field>
                                <mat-label>{{englishExamTypeR.ALabel}}</mat-label>
                                <input matInput type="number" [placeholder]="englishExamTypeR.ALabel"
                                    #EnglishScoreL="ngModel" [(ngModel)]="testScoreData.EnglishScoreL"
                                    name="EnglishScoreL" [required]="testScoreData.EnglishExamType!=null"
                                    [pattern]="englishExamTypeR.pattern" [min]="englishExamTypeR.AMin"
                                    [max]="englishExamTypeR.AMax" [step]="englishExamTypeR.Increment"
                                    [MinValue]="englishExamTypeR.AMin" [MaxValue]="englishExamTypeR.AMax"
                                    decimalPrecision decimals="2"
                                    rangeValidator [minValue]="englishExamTypeR.AMin" [maxValue]="englishExamTypeR.AMax">
                                <mat-error *ngIf="EnglishScoreL.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(EnglishScoreL.touched || EnglishScoreL.dirty) && (EnglishScoreL.errors?.maxValueInvalid || EnglishScoreL.errors?.minValueInvalid)">
                                    Value should be between {{englishExamTypeR.AMin}} to {{englishExamTypeR.AMax}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md" *ngIf="englishExamTypeR && englishExamTypeR.ShowB">
                            <mat-form-field>
                                <mat-label>{{englishExamTypeR.BLabel}}</mat-label>
                                <input matInput type="number" #EnglishScoreR="ngModel"
                                    [(ngModel)]="testScoreData.EnglishScoreR" name="EnglishScoreR"
                                    [required]="testScoreData.EnglishExamType!=null" [pattern]="englishExamTypeR.pattern"
                                    [min]="englishExamTypeR.BMin" [max]="englishExamTypeR.BMax"
                                    [step]="englishExamTypeR.Increment" [MinValue]="englishExamTypeR.BMin"
                                    [MaxValue]="englishExamTypeR.BMax"
                                    decimalPrecision decimals="2"
                                    rangeValidator [minValue]="englishExamTypeR.BMin" [maxValue]="englishExamTypeR.BMax">
                                <mat-error *ngIf="EnglishScoreR.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(EnglishScoreR.touched || EnglishScoreR.dirty) && (EnglishScoreR.errors?.maxValueInvalid || EnglishScoreR.errors?.minValueInvalid)">
                                    Value should be between {{englishExamTypeR.BMin}} to {{englishExamTypeR.BMax}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md" *ngIf="englishExamTypeR && englishExamTypeR.ShowC">
                            <mat-form-field>
                                <mat-label>{{englishExamTypeR.CLabel}}</mat-label>
                                <input matInput type="number" #EnglishScoreW="ngModel"
                                    [(ngModel)]="testScoreData.EnglishScoreW" name="EnglishScoreW"
                                    [required]="testScoreData.EnglishExamType!=null" [pattern]="englishExamTypeR.pattern"
                                    [min]="englishExamTypeR.CMin" [max]="englishExamTypeR.CMax"
                                    [step]="englishExamTypeR.Increment" [MinValue]="englishExamTypeR.CMin"
                                    [MaxValue]="englishExamTypeR.CMax"
                                    decimalPrecision decimals="2"
                                    rangeValidator [minValue]="englishExamTypeR.CMin" [maxValue]="englishExamTypeR.CMax">
                                <mat-error *ngIf="EnglishScoreW.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(EnglishScoreW.touched || EnglishScoreW.dirty) && (EnglishScoreW.errors?.maxValueInvalid || EnglishScoreW.errors?.minValueInvalid)">
                                    Value should be between {{englishExamTypeR.CMin}} to {{englishExamTypeR.CMax}}
                                </mat-error>
                            </mat-form-field>
                        </div>                 
                        <div class="col-md" *ngIf="englishExamTypeR && englishExamTypeR.ShowD">
                            <mat-form-field>
                                <mat-label>{{englishExamTypeR.DLabel}}</mat-label>
                                <input matInput type="number" #EnglishScoreS="ngModel"
                                    [(ngModel)]="testScoreData.EnglishScoreS" name="EnglishScoreS"
                                    [required]="testScoreData.EnglishExamType!=null" [pattern]="englishExamTypeR.pattern"
                                    [min]="englishExamTypeR.DMin" [max]="englishExamTypeR.DMax"
                                    [step]="englishExamTypeR.Increment" [MinValue]="englishExamTypeR.DMin"
                                    [MaxValue]="englishExamTypeR.DMax"
                                    decimalPrecision decimals="2"
                                    rangeValidator [minValue]="englishExamTypeR.DMin" [maxValue]="englishExamTypeR.DMax">
                                <mat-error *ngIf="EnglishScoreS.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(EnglishScoreS.touched || EnglishScoreS.dirty) && (EnglishScoreS.errors?.maxValueInvalid || EnglishScoreS.errors?.minValueInvalid)">
                                    Value should be between {{englishExamTypeR.DMin}} to {{englishExamTypeR.DMax}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md" *ngIf="englishExamTypeR && englishExamTypeR.ShowE">
                            <mat-form-field>
                                <mat-label>{{englishExamTypeR.ELabel}}</mat-label>
                                <input matInput type="number" #EnglishScoreOverall="ngModel"
                                    [(ngModel)]="testScoreData.EnglishScoreOverall" name="EnglishScoreOverall"
                                    [required]="testScoreData.EnglishExamType!=null" [pattern]="englishExamTypeR.pattern"
                                    [step]="englishExamTypeR.Increment" 
                                    [min]="englishExamTypeR.EMin" [max]="englishExamTypeR.EMax"
                                    [step]="englishExamTypeR.Increment" [MinValue]="englishExamTypeR.EMin"
                                    [MaxValue]="englishExamTypeR.EMax"
                                    decimalPrecision decimals="2"
                                    rangeValidator [minValue]="englishExamTypeR.EMin" [maxValue]="englishExamTypeR.EMax">
                                <mat-error *ngIf="EnglishScoreOverall.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(EnglishScoreOverall.touched || EnglishScoreOverall.dirty) && (EnglishScoreOverall.errors?.maxValueInvalid || EnglishScoreOverall.errors?.minValueInvalid)">
                                    Value should be between {{englishExamTypeR.EMin}} to {{englishExamTypeR.EMax}}
                                </mat-error>

                            </mat-form-field>
                        </div>

                    </div>
                </div>


                <div class="col-md-12" *ngIf="englishExamTypeR.showUsername">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput type="text" #EnglishExamUser="ngModel"
                                    [(ngModel)]="testScoreData.EnglishExamUser" name="EnglishExamUser"
                                    pattern="^[0-9a-zA-Z]{1,50}$" maxlength="50">
                                <mat-error *ngIf="EnglishExamUser.hasError('pattern')">Enter valid username only alpha
                                    numeric
                                    allowed</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" #EnglishExamPswd="ngModel"
                                    [(ngModel)]="testScoreData.EnglishExamPswd" name="EnglishExamPswd"
                                    pattern="^[0-9a-zA-Z]{1,50}$" maxlength="50">
                                <mat-error *ngIf="EnglishExamPswd.hasError('pattern')">Enter valid password only alpha
                                    numeric
                                    allowed</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other Exams block starts here  -->
            <h4 class="m-b-3"> Other Exam </h4>
            <div class="row">

                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Other Exams</mat-label>
                        <mat-select matInput placeholder="Other Exam Type" #GMATExam="ngModel"
                            [(ngModel)]="testScoreData.GMATExam" name="GMATExam"
                            (selectionChange)="onOtherExamChange(true)">
                            <mat-option>
                                <ngx-mat-select-search [(ngModel)]="gradingFilter" [placeholderLabel]="'Search...'"
                                  [noEntriesFoundLabel]="'Not found'" name="gradingFilter"></ngx-mat-select-search>
                              </mat-option>
                            <mat-option [value]="0">None</mat-option>
                            <mat-option [value]="1">ACT</mat-option>
                            <mat-option [value]="2">GMAT</mat-option>
                            <mat-option [value]="3">GRE</mat-option>
                            <mat-option [value]="4">SAT</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
   
                <div class="col-md-2" [hidden]="testScoreData.GMATExam == 0 ">
                    <app-date-picker [(value)]="testScoreData.GMATExamDate" placeholder="Exam Date" name="GMATExamDate" (valueChange)="dateChangedOtherExam()"
                        [form]="testform" [required]="testScoreData.GMATExam > 0" > 
                    </app-date-picker>            

                </div>

                <div class="col-md-2"
                    *ngIf="testScoreData.GMATExam>0 && getTime( testScoreData.GMATExamDate)>today.getTime()">
                    <span class="text-info">Test Awaited</span>
                </div>

                <div class="col-md-4"
                    *ngIf="testScoreData.GMATExam>0 && getTime( testScoreData.GMATExamDate)>today.getTime()">
                    <app-file-uploader ngModel name="OtherExamDoc" [initialFilePath]="testScoreData.OtherExamDocPath" dir="student"
                        label="Confirmation Document" fileType=".jpg,.png,.pdf,.doc,.docx,.xlsx,.xls,.csv,.txt"
                        controlName="OtherExamDoc" 
                        [uploadIndepended]="true" (onUploadFinish)="uploadFinishOtherExam($event)" 
                        [required] = "testScoreData.GMATExam>0 && getTime( testScoreData.GMATExamDate)>today.getTime() && testScoreData.OtherExamDocPath===''"></app-file-uploader>
                </div>
                <!-- [required]="testScoreData.GMATExam>0 && getTime( testScoreData.GMATExamDate)>today.getTime()" -->
                <!-- ACT block -->

                <div class="col-md"
                    *ngIf="testScoreData.GMATExam  === 1 && getTime( testScoreData.GMATExamDate)<=today.getTime()">
                    <div class="row">                   
                        <div class="col-md">

                            <mat-form-field>
                                <mat-label>English</mat-label>

                                <input matInput placeholder="Score" #ACTScoreEnglish="ngModel"
                                    [(ngModel)]="testScoreData.ACTScoreEnglish" name="ACTScoreEnglish" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 1"
                                    min="1" max="36" [MinValue]="1" [MaxValue]="36"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=36>
                                <mat-error *ngIf="ACTScoreEnglish.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(ACTScoreEnglish.touched || ACTScoreEnglish.dirty) && (ACTScoreEnglish.errors?.maxValueInvalid || ACTScoreEnglish.errors?.minValueInvalid)">
                                    Value should be between 1 to 36
                                </mat-error>
                            </mat-form-field>
                        </div>
                    
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Math</mat-label>

                                <input matInput #ACTScoreMath="ngModel" [(ngModel)]="testScoreData.ACTScoreMath"
                                    name="ACTScoreMath" type="number" pattern="^[0-9]+(\.[0-9][0-9]?)?$"
                                    [required]="testScoreData.GMATExam == 1" min="1" max="36" [MinValue]="1"
                                    [MaxValue]="36"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=36>
                                <mat-error *ngIf="ACTScoreMath.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(ACTScoreMath.touched || ACTScoreMath.dirty) && (ACTScoreMath.errors?.maxValueInvalid || ACTScoreMath.errors?.minValueInvalid)">
                                    Value should be between 1 to 36
                                </mat-error>
                            </mat-form-field>
                        </div>
                    
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Reading</mat-label>

                                <input matInput #ACTScoreReading="ngModel" [(ngModel)]="testScoreData.ACTScoreReading"
                                    name="ACTScoreReading" type="number" pattern="^[0-9]+(\.[0-9][0-9]?)?$"
                                    [required]="testScoreData.GMATExam == 1" min="1" max="36" [MinValue]="1"
                                    [MaxValue]="36"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=36>
                                <mat-error *ngIf="ACTScoreReading.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(ACTScoreReading.touched || ACTScoreReading.dirty) && (ACTScoreReading.errors?.maxValueInvalid || ACTScoreReading.errors?.minValueInvalid)">
                                    Value should be between 1 to 36
                                </mat-error>
                            </mat-form-field>
                        </div>
                  
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Science</mat-label>

                                <input matInput placeholder="Total" #ACTScoreScience="ngModel"
                                    [(ngModel)]="testScoreData.ACTScoreScience" name="ACTScoreScience" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 1"
                                    min="1" max="36" [MinValue]="1" [MaxValue]="36"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=36>
                                <mat-error *ngIf="ACTScoreScience.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(ACTScoreScience.touched || ACTScoreScience.dirty) && (ACTScoreScience.errors?.maxValueInvalid || ACTScoreScience.errors?.minValueInvalid)">
                                    Value should be between 1 to 36
                                </mat-error>
                            </mat-form-field>
                        </div>
                      
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Writing</mat-label>

                                <input matInput placeholder="Total" #ACTScoreWriting="ngModel"
                                    [(ngModel)]="testScoreData.ACTScoreWriting" name="GMATScoreI" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 1"
                                    min="1" max="36" [MinValue]="1" [MaxValue]="36"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=36>
                                <mat-error *ngIf="ACTScoreWriting.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(ACTScoreWriting.touched || ACTScoreWriting.dirty) && (ACTScoreWriting.errors?.maxValueInvalid || ACTScoreWriting.errors?.minValueInvalid)">
                                    Value should be between 1 to 36
                                </mat-error>
                            </mat-form-field>
                        </div>
                 
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Total Score</mat-label>

                                <input matInput placeholder="Total" #ACTScoreTotal="ngModel"
                                    [(ngModel)]="testScoreData.ACTScoreTotal" name="ACTScoreTotal" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 1" min="1"
                                    max="36" [MinValue]="1" [MaxValue]="36"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=36>
                                <mat-error *ngIf="ACTScoreTotal.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(ACTScoreTotal.touched || ACTScoreTotal.dirty) && (ACTScoreTotal.errors?.maxValueInvalid || ACTScoreTotal.errors?.minValueInvalid)">
                                    Value should be between 1 to 36
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- GMAT block -->

                <div class="col-md"
                    *ngIf="testScoreData.GMATExam  === 2 && getTime( testScoreData.GMATExamDate)<=today.getTime()">

                    <div class="row">
                 
                        <div class="col-md">

                            <mat-form-field>
                                <mat-label>Verbal</mat-label>

                                <input matInput placeholder="Score" #GMATScoreV="ngModel"
                                    [(ngModel)]="testScoreData.GMATScoreV" name="GMATScoreV" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 2" min="1"
                                    max="60" [MinValue]="1" [MaxValue]="60"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=60>
                                <mat-error *ngIf="GMATScoreV.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(GMATScoreV.touched || GMATScoreV.dirty) && (GMATScoreV.errors?.maxValueInvalid || GMATScoreV.errors?.minValueInvalid)">
                                    Value should be between 1 to 60
                                </mat-error>
                            </mat-form-field>
                        </div>
                     
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Quantitative</mat-label>

                                <input matInput #GMATScoreQ="ngModel" [(ngModel)]="testScoreData.GMATScoreQ"
                                    name="GMATScoreQ" type="number" pattern="^[0-9]+(\.[0-9][0-9]?)?$"
                                    [required]="testScoreData.GMATExam == 2" min="1" max="60" [MinValue]="1"
                                    [MaxValue]="60"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=60>
                                <mat-error *ngIf="GMATScoreQ.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(GMATScoreQ.touched || GMATScoreQ.dirty) && (GMATScoreQ.errors?.maxValueInvalid || GMATScoreQ.errors?.minValueInvalid)">
                                    Value should be between 1 to 60
                                </mat-error>
                            </mat-form-field>
                        </div>
                 
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Analytical</mat-label>

                                <input matInput #GMATScoreA="ngModel" [(ngModel)]="testScoreData.GMATScoreA"
                                    name="GMATScoreA" type="number" pattern="^[0-9]+(\.[0-9][0-9]?)?$"
                                    [required]="testScoreData.GMATExam == 2" min="1" max="60" [MinValue]="1"
                                    [MaxValue]="60"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=60>
                                <mat-error *ngIf="GMATScoreA.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(GMATScoreA.touched || GMATScoreA.dirty) && (GMATScoreA.errors?.maxValueInvalid || GMATScoreA.errors?.minValueInvalid)">
                                    Value should be between 1 to 60
                                </mat-error>
                            </mat-form-field>
                        </div>
               
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Total</mat-label>

                                <input matInput placeholder="Total" #GMATScoreI="ngModel"
                                    [(ngModel)]="testScoreData.GMATScoreI" name="GMATScoreI" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 2" min="200"
                                    max="800" [MinValue]="200" [MaxValue]="800"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=200 maxValue=800>
                                <mat-error *ngIf="GMATScoreI.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(GMATScoreI.touched || GMATScoreI.dirty) && (GMATScoreI.errors?.maxValueInvalid || GMATScoreI.errors?.minValueInvalid)">
                                    Value should be between 200 to 800
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- GRE block -->

                <div class="col-md-8"
                    *ngIf="testScoreData.GMATExam === 3 && getTime( testScoreData.GMATExamDate)<=today.getTime()">
                
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Verbal</mat-label>
                                <input matInput type="number" placeholder="Score" #GREScoreV="ngModel"
                                    [(ngModel)]="testScoreData.GREScoreV" name="GREScoreV"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" min="1" max="170" [MinValue]="1" [MaxValue]="170"
                                    [required]="testScoreData.GMATExam == 3"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=170>
                                <mat-error *ngIf="GREScoreV.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(GREScoreV.touched || GREScoreV.dirty) && (GREScoreV.errors?.maxValueInvalid || GREScoreV.errors?.minValueInvalid)">
                                    Value should be between 1 to 170
                                </mat-error>
                            </mat-form-field>
                        </div>
                    
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Quantitative</mat-label>
                                <input matInput type="number" #GREScoreQ="ngModel" [(ngModel)]="testScoreData.GREScoreQ"
                                    name="GREScoreQ" pattern="^[0-9]+(\.[0-9][0-9]?)?$" min="1" max="170" [MinValue]="1"
                                    [MaxValue]="170" [required]="testScoreData.GMATExam == 3"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=170>
                                <mat-error *ngIf="GREScoreQ.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(GREScoreQ.touched || GREScoreQ.dirty) && (GREScoreQ.errors?.maxValueInvalid || GREScoreQ.errors?.minValueInvalid)">
                                    Value should be between 1 to 170
                                </mat-error>
                            </mat-form-field>
                        </div>
                    
                        <div class="col-md">
                            <mat-form-field>

                                <mat-label>Analytical</mat-label>
                                <!-- <span matPrefix>W:&nbsp;</span> -->
                                <input matInput type="number" #GREScoreW="ngModel" [(ngModel)]="testScoreData.GREScoreW"
                                    name="GREScoreW" pattern="^[0-9]+(\.[0-9][0-9]?)?$" min="1" max="170" [MinValue]="1"
                                    [MaxValue]="170" [required]="testScoreData.GMATExam == 3"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=1 maxValue=170>
                                <mat-error *ngIf="GREScoreW.hasError('pattern')">Enter Valid Score</mat-error>
                                <mat-error *ngIf="(GREScoreW.touched || GREScoreW.dirty) && (GREScoreW.errors?.maxValueInvalid || GREScoreW.errors?.minValueInvalid)">
                                    Value should be between 1 to 170
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <!-- SAT block -->
                <div class="col-md"
                    *ngIf="testScoreData.GMATExam  === 4 && getTime( testScoreData.GMATExamDate)<=today.getTime()">

                    <div class="row">
                   
                        <div class="col-md">

                            <mat-form-field>
                                <mat-label>Math</mat-label>

                                <input matInput placeholder="Score" #SATScoreMath="ngModel"
                                    [(ngModel)]="testScoreData.SATScoreMath" name="SATScoreMath" type="number"
                                    pattern="^[0-9]+(\.[0-9][0-9]?)?$" [required]="testScoreData.GMATExam == 4" min="200"
                                    max="800" [MinValue]="200" [MaxValue]="800"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=200 maxValue=800>
                                <mat-error *ngIf="SATScoreMath.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(SATScoreMath.touched || SATScoreMath.dirty) && (SATScoreMath.errors?.maxValueInvalid || SATScoreMath.errors?.minValueInvalid)">
                                    Value should be between 200 to 800
                                </mat-error>
                            </mat-form-field>
                        </div>
                     
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Evidence-Based Reading and Writing</mat-label>

                                <input matInput #SATScoreEBRW="ngModel" [(ngModel)]="testScoreData.SATScoreEBRW"
                                    name="SATScoreEBRW" type="number" pattern="^[0-9]+(\.[0-9][0-9]?)?$"
                                    [required]="testScoreData.GMATExam == 4" min="200" max="800" [MinValue]="200"
                                    [MaxValue]="800"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=200 maxValue=800>
                                <mat-error *ngIf="SATScoreEBRW.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(SATScoreEBRW.touched || SATScoreEBRW.dirty) && (SATScoreEBRW.errors?.maxValueInvalid || SATScoreEBRW.errors?.minValueInvalid)">
                                    Value should be between 200 to 800
                                </mat-error>
                            </mat-form-field>
                        </div>
                   
                        <div class="col-md">
                            <mat-form-field>
                                <mat-label>Total Score</mat-label>

                                <input matInput #SATScoreTotal="ngModel" [(ngModel)]="testScoreData.SATScoreTotal"
                                    name="SATScoreTotal" type="number" pattern="^[0-9]+(\.[0-9][0-9]?)?$"
                                    [required]="testScoreData.GMATExam == 4" min="400" max="1600" [MinValue]="400"
                                    [MaxValue]="1600"
                                    decimalPrecision decimals="2"
                                    rangeValidator minValue=400 maxValue=1600>
                                <mat-error *ngIf="SATScoreTotal.hasError('pattern')">Enter valid score</mat-error>
                                <mat-error *ngIf="(SATScoreTotal.touched || SATScoreTotal.dirty) && (SATScoreTotal.errors?.maxValueInvalid || SATScoreTotal.errors?.minValueInvalid)">
                                    Value should be between 400 to 1600
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Other Exams block ends here -->
        </div>
    </div>
    <div mat-dialog-actions align="center">
        <button mat-dialog-close class="btn btn-sm btn-primary modalclose">Cancel</button>
        <button *ngIf="parentId>0 && permission>1" type="submit" class="btn btn-sm btn-primary btn-cust" [disabled]="isFormValueUpdated()">Update</button>
    </div>

</form>

