<div  class="new-design">
<div mat-dialog-title>
    Marketing-Collateral
    <button class="close text-white" type="button" mat-dialog-close  aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div mat-dialog-content>
    <app-program-material-show [programId]="programId"  [institutionId]="instituteId" [showCard]="false"  >
    </app-program-material-show>
</div>
<div mat-dialog-actions align="center">
    <button  mat-dialog-close class="btn btn-sm btn-primary modalclose" >Close</button>
</div>
</div>