<div class="main-content new-design">
    <button style="position: fixed; top:25px; right: 25px; z-index: 10000;" *ngIf="permission>1" mat-mini-fab
        routerLink="/member/institutions/edit-institutions/{{id}}">
        <mat-icon>edit</mat-icon>
    </button>
    <ng-container *ngIf="instData">

        <img style="height: 374px; width: 100%; " class="img-fluid" [src]="filepath+instData.InstImagePath" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10  mx-auto">
                    <form #form="ngForm">
                        <div class="row p-5">
                            <div class="col-md-5">
                                <div class="form-group inputbox">
                                    <input type="text" placeholder="What do you want to study?" class="form-control"
                                        [(ngModel)]="searchData.param1" #param1="ngModel" name="param1"
                                        [matAutocomplete]="autoParam1" (keyup)="filterParam1(param1.value)"
                                        (focus)="filterParam1(param1.value)">

                                    <mat-autocomplete #autoParam1="matAutocomplete">
                                        <mat-optgroup *ngFor="let group of  filteredDisciplineListObs"
                                            [label]="group.label">
                                            <mat-option *ngFor="let option of group.data" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-autocomplete>
                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="form-group inputbox" placeholder="Where?">
                                    <input type="text" placeholder="Where?" class="form-control"
                                        [(ngModel)]="searchData.param2" #param2="ngModel" name="param2"
                                        [matAutocomplete]="autoParam2" (keyup)="filterParam2(param2.value)"
                                        (focus)="filterParam2(param2.value)">


                                    <mat-autocomplete #autoParam2="matAutocomplete">
                                        <mat-optgroup *ngFor="let group of filteredInstListObs" [label]="group.label">
                                            <mat-option *ngFor="let option of group.data" [value]="option.name">
                                                {{option.name}}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group btnform-group">
                                    <button type="submit" (click)="search()" class="btn btn-danger btn-srch"><i
                                            class="fa fa-search"></i> Search</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <div class="col-md-8  mx-auto">
                    <div class="row text-left">
                        <!-- <div class="col-md-12">
                             <h1 class="font-weight-bold text-center mb-5">Study in Atlantic Canada's leader in
                                Aboriginal post-secondary
                                education
                            </h1> 
                        </div> -->

                        <!-- <div class="col-md-11 mx-auto"> -->
                            <!-- <div class="d-flex"> -->
                                <ul class="second-content justify-content-center w-100">

                                    <!-- <li>
                                        <img src="./assets/img/inst/icon1.png" class="img-responsive font-icon" alt="">
                                        <div class="item_content">
                                            <h6 class="heading-style-4 font-weight-900"><span>Institute Name :
                                                    {{instData.InstName}} </span>
                                            </h6>
                                        </div>
                                    </li> -->

                                    <li>
                                        <img src="./assets/img/inst/icon2.png" class="img-responsive font-icon" alt="">
                                        <div class="item_content">
                                            <h6 class="heading-style-4 font-weight-900"><span>Type :
                                                    {{instData.InstType}}</span>
                                            </h6>
                                        </div>
                                    </li>

                                    <li>
                                        <img src="./assets/img/inst/icon3.png" class="img-responsive font-icon" alt="">
                                        <div class="item_content">
                                            <h6 class="heading-style-4 font-weight-900">
                                               <span> {{instData | singleComma: [ instData?.InstCountry, instData?.InstCity, 
                                                    instData?.InstProvince ]}}</span>
                                            </h6>
                                        </div>
                                    </li>

                                    <!-- <li>
                                        <img src="./assets/img/inst/icon4.png" class="img-responsive font-icon" alt="">
                                        <div class="item_content">
                                            <h6 class="heading-style1 font-weight-900"><span>Reference :
                                                    {{instData.InstCity}},
                                                    {{instData.InstProvince}} <br />
                                                    {{instData.InstType}}</span>
                                            </h6>
                                        </div>
                                    </li> -->

                                    <li>
                                        <img src="./assets/img/inst/icon5.png" class="img-responsive font-icon" alt="">
                                        <div class="item_content">
                                            <h6 class="heading-style-4 font-weight-900"><span>Founded :
                                                    {{instData.InstFounded}}</span>
                                            </h6>
                                        </div>
                                    </li>
                                </ul>
                            <!-- </div> -->

                        <!-- </div> -->

                    </div>
                </div>
            </div>
            <div class="row bg-white p-5">
                <div class="col-md-10 mx-auto ">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="font-weight-bold">About the Institution</h3>
                            <p class="text-wrap text-justify" [innerHTML]="instData.InstAbout">

                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="./assets/img/inst/about-bg.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-5 " *ngIf="programList && programList.length>0">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="font-weight-bold">Program Offerings</h2>
                        </div>
                        <div class="col-md-12">
                            <!-- <div id="accordion">

                                <ng-container *ngFor="let item of programList">
                                    <div class="card">
                                        <a class="bg-danger p-2" data-toggle="collapse" href="#c{{item.index}}"
                                            (click)="item.isOpen=!item.isOpen">
                                            <span class="card-link text-white">
                                                {{ item.level }} programs
                                                <i class="fa fa-plus fa_plus"></i>
                                            </span>
                                        </a>
                                        <div id="c{{item.index}}" class="collapse" data-parent="#accordion">

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6" *ngFor="let program of item.programs">

                                                        <a href="#/institutions/programs/details-program/{{program.ProgramId}}"
                                                            target="_blank">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="2">
                                                                            {{program.ProgramName}}
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="text-align:left;">Tuition :</td>
                                                                        <td style="text-align:right;">
                                                                            {{instData.instCurrency}}
                                                                            {{program.TuitionFee}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align:left;">Application Fees :
                                                                        </td>
                                                                        <td style="text-align:right;">
                                                                            {{instData.instCurrency}}
                                                                            {{program.ApplicationFee}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="text-align:left;">Start :</td>
                                                                        <td style="text-align:right;">
                                                                            {{program.Intakes}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td class="table-footer text-left">
                                                                            {{program.ProgramStatus}}
                                                                        </td>
                                                                        <td class="table-footer text-right">
                                                                            {{program.Duration}} </td>
                                                                    </tr>
                                                                    <tr *ngIf="canApply">
                                                                        <td colspan="2" class="text-right">
                                                                            <a href="#/member/application/apply/0/{{ currentUser.RoleId===3 ? currentUser.RefId : 0 }}/{{program.ProgramId}}/{{id}}"
                                                                                class="btn btn-sm btn-danger btn-cust">Apply</a>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div> -->
                            
                            <mat-accordion id="institute-accordion">
                            <ng-container *ngFor="let item of programList">
                            <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" class="mb-2 mep">
                                <mat-expansion-panel-header class="bg-danger">
                                    <mat-panel-title class="col-12 text-white font-weight-bold">
                                    {{ item.level }} programs
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-6" *ngFor="let program of item.programs">
                                    
                                            <a href="#/institutions/programs/details-program/{{program.ProgramId}}" target="_blank">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">
                                                                {{program.ProgramName}}
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align:left;">Tuition :</td>
                                                            <td style="text-align:right;">
                                                                {{instData.instCurrency}}
                                                                {{program.TuitionFee}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:left;">Application Fees :
                                                            </td>
                                                            <td style="text-align:right;">
                                                                {{instData.instCurrency}}
                                                                {{program.ApplicationFee}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:left;">Start :</td>
                                                            <td style="text-align:right;">
                                                                {{program.Intakes}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="table-footer text-left">
                                                                {{program.ProgramStatus}}
                                                            </td>
                                                            <td class="table-footer text-right">
                                                                {{program.Duration}} </td>
                                                        </tr>
                                                        <tr *ngIf="canApply">
                                                            <td colspan="2" class="text-right">
                                                                <a href="#/member/application/apply/0/{{ currentUser.RoleId===3 ? currentUser.RefId : 0 }}/{{program.ProgramId}}/{{id}}"
                                                                    class="btn btn-sm btn-danger btn-cust">Apply</a>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            </ng-container>
                            </mat-accordion>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-5 bg-white">
                <div class="col-md-10 mx-auto grid-margin">

                    <h4 class="card-title font-weight-bold">Contact Detail</h4>
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-hover"
                            style="border: 1px solid rgba(0, 0, 0, 0.06);">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="font-weight-bold">User</th>
                                    <th class="font-weight-bold">Email</th>
                                    <th class="font-weight-bold">Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of contactList">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Email}}</td>
                                    <td>{{item.ContactNo}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Mary</td>
                                    <td>mary@example.com</td>
                                    <td>1324563453</td>
                                    <td><button type="button" mat-icon-button class="text-danger closebtn"
                                            data-toggle="tooltip" title="Delete">
                                            <mat-icon>close</mat-icon>
                                        </button></td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>july@example.com</td>
                                    <td>43475473456</td>
                                    <td><button type="button" mat-icon-button class="text-danger closebtn"
                                            data-toggle="tooltip" title="Delete">
                                            <mat-icon>close</mat-icon>
                                        </button></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row p-5 bg-white">
                <div class="col-md-10 mx-auto p-5">
                    <div class="row">
                        <div class="col-md-8">
                            <iframe [src]="getMapUrl(instData.InstName,instData.InstLocationGEOcode)" width="100%"
                                height="350" frameborder="0" style="border:0;" allowfullscreen=""
                                class="mat-elevation-z8"></iframe>
                        </div>

                        <div class="col-md-4">
                            <h2 class="font-weight-bold">Institution Address</h2>
                            <p class="font-weight-bold">

                                {{ instData | singleComma:[instData?.InstAddress1 , instData?.InstAddress2 ,instData?.InstCity , instData?.InstProvince  , instData?.InstCountry]}} <span *ngIf="instData?.InstZipCode">-{{instData?.InstZipCode}}</span>
                            </p>
                            <div>
                                <hr class="hr" style="
                                height: 2px;
                                background: red;
                                width: 30%;
                                margin-left: 0px;" />
                                <p class="text-justify">how to get there :
                                    <br />
                                    {{instData.HowToReach}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5" *ngIf="instData.InstVideo && instData.InstVideo.length>0">
                        <div class="col-md-12">
                            <div class="video-content" [innerHTML]="getVideoCode(instData.InstVideo)">
                                <!-- <img src="./assets/img/video_bg.png" class="img-responsive"> -->
                                <!-- <iframe width="100%" height="884" [src]="sanitizeUrl(instData.InstVideo)" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe> -->



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




    </ng-container>

</div>
<div class="footer bg-danger">
    <div class="d-flex justify-content-around flex-column flex-fill">
        <div class="py-3">
            <img src="./assets/img/MyMSM-logo-white.png" class="image-responsive" width="100px" />
        </div>
        <div class="text-white">
            © 2020 All rights reserved
        </div>
    </div>
</div>