
          <div class="row">
            <div class="col-md-12 " *ngFor="let activity of activityList">
              <div class="alert alert-default border border-primary mb-1" role="alert">
                  <h5 class="alert-heading font-weight-bold">
                     <ng-container [ngSwitch]="activity.ActivityPriority" >
                        <mat-icon *ngSwitchCase="0" style="color: yellow;">priority_high</mat-icon>
                        <mat-icon *ngSwitchCase="1" style="color: orange;">priority_high</mat-icon>
                        <mat-icon *ngSwitchCase="2" style="color: red;">priority_high</mat-icon>
                     </ng-container>
                     <ng-container *ngIf="activity.ActivityStatus?.length>0">{{activity.ActivityStatus}}/ </ng-container>
                      {{activity.ActivityStamp |date:'dd MMM yyyy'}}
                      /{{activity.DisplayName}} </h5>
                    <hr/>
                  <p class="text-justify" >{{activity.ActivityRemark}}</p>
                  
                    <p class="text-primary text-right">
                      <span> </span>
                      <span></span>
                    </p>
              </div>
             
             
            </div>
          </div>
      
   