<div class="main-content new-design">

<div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-end">
        <div class="mr-1">
          <button mat-mini-fab type="button"  (click)="updateDocument()" *ngIf="permission>1">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="mr-1">
          <button  mat-mini-fab type="button" (click)="downloadDocument()" *ngIf="dataList && dataList.length>1"><mat-icon>cloud_download</mat-icon></button>
        </div>
      </div>
     
      
    </div>
    <div class="card-body" *ngFor="let element of displayDocList">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 border border-primary px-0"
            [ngClass]="{'border-success':element.DocumentStatus===2,'border-danger':element.DocumentStatus===3}">
            <div class="pull-left bg-primary h-100"
              [ngClass]="{'bg-success':element.DocumentStatus===2,'bg-danger':element.DocumentStatus===3}">
              <label class="badge verticle-bt" [hidden]="!element.required">
                Required
              </label>
              <label class="badge verticle-bt" [hidden]="element.required">
                Optional
              </label>
            </div>
            <div class="pull-left ml-2 text-success text-center mt-2" *ngIf="element.DocPath">
              <mat-icon>done</mat-icon>
              <br />
              <span>Upload</span>
            </div>

            <div class="pull-left ml-2 text-warning text-center mt-2" *ngIf="!element.DocPath">
              <mat-icon>access_time</mat-icon>
              <br />
              <span>pending</span>
            </div>
            <div class="pull-left ml-2 mt-3">
              <span class="font-weight-bold">{{element.DocumentName}}</span>
              <p *ngIf="element.ReviewRemark" class="text-danger">{{element.ReviewRemark}}</p>
              <p *ngIf="element.AddStamp" class="text-info">{{element.AddStamp | date:'dd MMM yyyy' }}</p>
            </div>

            <div class="pull-right mt-2"
              *ngIf="showVerification && permission>1 && element.DocumentId>0 && user.RoleId!=2 && user.RoleId!=3">
              <button type="button" mat-icon-button class="text-success" (click)="verifyDocument(element,2)"
                *ngIf="element.DocumentStatus!=2" data-toggle="tooltip" title="Approve">
                <mat-icon>check_circle</mat-icon>
              </button>

              <button type="button" mat-icon-button class="text-danger" (click)="verifyDocument(element,3)"
                *ngIf="element.DocumentStatus!=3" data-toggle="tooltip" title="Reject">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>

            <div class="pull-right mt-2">

              <a mat-icon-button target="_blank" class="mr-3 text-info"
                href="{{filepath+uploadDir+'/'+element.DocPath}}" color="primary" *ngIf="element.DocPath"
                data-toggle="tooltip" title="View">
                <mat-icon>visibility</mat-icon>
              </a>

              <button type="button" class="mr-3  text-info" mat-icon-button color="primary"
                *ngIf="element.DocumentStatus!=2 && permission>1" (click)="updateDocument(element.DocumentTypeId,element.DocumentId)"
                data-toggle="tooltip" title="Upload">
                <mat-icon>folder</mat-icon>
              </button>

              <button type="button" class="mr-3" mat-icon-button color="primary" (click)="delete(element.DocumentId)"
                *ngIf="permission>1 && element.DocPath && element.DocumentStatus!=2" data-toggle="tooltip" title="Remove">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

  <!-- Script For Tooltip -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
