<div class="row">
  <div class="col-12">

  </div>
  <div class="col-12">
    <mat-accordion>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          General Information
        </mat-expansion-panel-header>
        <div class="row">
          <!-- <div class="col-md-12">
            <mat-form-field >
              <mat-label>Nationality</mat-label>
              <mat-select matInput placeholder="Nationality" #Nationality="ngModel" [(ngModel)]="formdata.Nationality"
                name="Nationality">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                  {{country.CountryName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-md-12">
            <mat-form-field >
              <mat-label>Country of Education</mat-label>
              <mat-select matInput placeholder="Country of Education" #CountryOfEducation="ngModel"
                [(ngModel)]="formdata.CountryOfEducation" name="CountryOfEducation">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                  {{country.CountryName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Highest Education</mat-label>
              <mat-select matInput placeholder="Highest Education" #EduLevel="ngModel" [(ngModel)]="formdata.EduLevel"
                name="EduLevel">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let eduLevel of eduLevelList " [value]="eduLevel.EduLevelId">
                  {{eduLevel.EduLevelName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div class="col-md-12">
            <mat-form-field >
              <mat-label>Grading Scheme</mat-label>
              <mat-select matInput placeholder="Grading Scheme" #GradeScheme="ngModel"
                [(ngModel)]="formdata.GradeScheme" name="GradeScheme">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let gradeScheme of gradeSchemeList " [value]="gradeScheme.GrdSchemeId">
                  {{gradeScheme.GrdSchemeName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <!-- <div class="col-md-12">
            <mat-form-field >
              <mat-label>Grade Average</mat-label>
              <input matInput placeholder="Grade Average" #GradeAverage="ngModel" [(ngModel)]="formdata.GradeAverage"
                name="GradeAverage">
            </mat-form-field>
          </div> -->
        </div>

        <mat-action-row>
          <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          English Test Scores
        </mat-expansion-panel-header>
        <div class="row">
          <!-- <div class="col-md-12">
            <br>
            <mat-slide-toggle labelPosition="before" #OnlyDirectAddmission="ngModel" [(ngModel)]="formdata.OnlyDirectAddmission"
              name="OnlyDirectAddmission">Only Show Direct Admission</mat-slide-toggle>
            <br>
            <br>
          </div> -->
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>English Exam Type</mat-label>
              <mat-select matInput placeholder="English Exam Type" #EnglishExamType="ngModel"
                [(ngModel)]="formdata.EnglishExamType" name="EnglishExamType">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let req of reqList " [value]="req.ReqId">{{req.ReqName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field  floatLabel="always">
              <mat-label>Input Exat</mat-label>
              <span matPrefix>L:&nbsp;</span>
              <input matInput type="number" placeholder="Input Exat" #EnglishExamL="ngModel"
                [(ngModel)]="formdata.EnglishExamL" name="EnglishExamL" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
              <mat-error *ngIf="EnglishExamL.hasError('pattern')">Enter Valid Score</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field  floatLabel="never">
              <span matPrefix>R:&nbsp;</span>
              <input matInput type="number" #EnglishExamR="ngModel" [(ngModel)]="formdata.EnglishExamR"
                name="EnglishExamR" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
              <mat-error *ngIf="EnglishExamR.hasError('pattern')">Enter Valid Score</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field  floatLabel="never">
              <span matPrefix>W:&nbsp;</span>
              <input matInput type="number" #EnglishExamW="ngModel" [(ngModel)]="formdata.EnglishExamW"
                name="EnglishExamW" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
              <mat-error *ngIf="EnglishExamW.hasError('pattern')">Enter Valid Score</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field  floatLabel="never">
              <span matPrefix>S:&nbsp;</span>
              <input matInput type="number" #EnglishExamS="ngModel" [(ngModel)]="formdata.EnglishExamS"
                name="EnglishExamS" pattern="^[0-9]+(\.[0-9][0-9]?)?$">
              <mat-error *ngIf="EnglishExamS.hasError('pattern')">Enter Valid Score</mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          View Options
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Sort By</mat-label>
              <mat-select matInput placeholder="Sort By" #SortBy="ngModel" [(ngModel)]="formdata.SortBy" name="SortBy">
                <mat-option value="SchoolRank">School Rank Highest First</mat-option>
                <mat-option value="Commission">Commission</mat-option>
                <mat-option value="TuitionFee">Tuition - Lowest First</mat-option>
                <mat-option value="TuitionFee desc">Tuition - Highest First</mat-option>
                <mat-option value="ApplicationFee desc">Application Fee - Highest First</mat-option>
                <mat-option value="ApplicationFee">Application Fee - Lowest First</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <br>
            <mat-slide-toggle labelPosition="before" #ShowCommission="ngModel" [(ngModel)]="formdata.ShowCommission"
              name="ShowCommission">Show Commissions</mat-slide-toggle>
            <br>
            <br>
          </div>
        </div>

        <mat-action-row>
          <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          School Filters
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>School Type</mat-label>
              <mat-select matInput multiple placeholder="School Type" #InstitutionType="ngModel"
                [(ngModel)]="formdata.InstitutionType" name="InstitutionType" (selectionChange)="fillInstitutionList()">
                <mat-option disabled>Select..</mat-option>
                <mat-option *ngFor="let inst_type of instTypeList " [value]="inst_type.InstTypeId">
                  {{inst_type.InstTypeName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Countries</mat-label>
              <mat-select matInput multiple placeholder="Countries" #InstitutionCountries="ngModel"
                [(ngModel)]="formdata.InstitutionCountries" name="InstitutionCountries"
                (selectionChange)="fillProvince()">
                <mat-option disabled>None</mat-option>
                <mat-option *ngFor="let country of countryList " [value]="country.CountryId">
                  {{country.CountryName}}</mat-option>
              </mat-select>

            </mat-form-field>


          </div>
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Province</mat-label>
              <mat-select matInput multiple placeholder="Province" #InstitutionProvinces="ngModel"
                [(ngModel)]="formdata.InstitutionProvinces" name="InstitutionProvinces"
                (selectionChange)="fillInstitutionList()">
                <mat-option disabled>Select...</mat-option>
                <mat-option *ngFor="let province of provinceList " [value]="province.ProvinceId">
                  {{province.ProvinceName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field >
              <mat-label>School</mat-label>
              <mat-select multiple matInput placeholder="School" #Institutions="ngModel"
                [(ngModel)]="formdata.Institutions" name="Institutions">
                <mat-option disabled>Select...</mat-option>
                <mat-option *ngFor="let institute of institutionList " [value]="institute.InstitutionId">
                  {{institute.InstName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </div>

        <mat-action-row>
          <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Program Filters
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Program Level</mat-label>
              <mat-select matInput placeholder="Program Level" #ProgramLevel="ngModel"
                [(ngModel)]="formdata.ProgramLevel" name="ProgramLevel">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let eduLevel of eduLevelList " [value]="eduLevel.EduLevelId">
                  {{eduLevel.EduLevelName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Available Intake</mat-label>
              <mat-select matInput multiple placeholder="Available Intake" #Inteks="ngModel"
                [(ngModel)]="formdata.Inteks" name="Inteks">
                <mat-option disabled>None</mat-option>
                <mat-option *ngFor="let intek of intekList " [value]="intek.IntekDate">
                  {{intek.IntekDate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <label>Discipline <span>Your desired area of study</span></label>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12" *ngFor="let descipline of desciplineList; let i=index">
                <mat-checkbox [value]="descipline.DesciplineId" (change)="updateDescipline($event)"
                  [checked]="isDescSelected(descipline.DesciplineId)">{{descipline.DesciplineName}}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Sub Categories</mat-label>
              <mat-select matInput multiple placeholder="Sub Categories" #SubDesciplines="ngModel"
                [(ngModel)]="formdata.SubDesciplines" name="SubDesciplines">
                <mat-option disabled>None</mat-option>
                <mat-option *ngFor="let subDescipline of subDesciplineList " [value]="subDescipline.SubDescId">
                  {{subDescipline.SubDescName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field >
              <mat-label>Keyword</mat-label>
              <input matInput placeholder="Keyword" #Keyword="ngModel" [(ngModel)]="formdata.Keyword" name="Keyword">
            </mat-form-field>
          </div>
          <div class="col-md-12 ">
            <label>Tuition Fee</label>
            <div class="range">
              <ng5-slider [(value)]="formdata.MinTutionFee" [(highValue)]="formdata.MaxTutionFee" [options]="{
                  floor: 0,
                  ceil: 200000,
                  hideLimitLabels: true,
                  hidePointerLabels: false
                }"></ng5-slider>
            </div>

          </div>



          <!-- <div class="col-md-12">
            <label>Application Fee</label>
  
            <div class="range">
                <ng5-slider
                [(value)]="formdata.MinApplicationFee"
                [(highValue)]="formdata.MaxApplicationFee"
                [options]="{
                  floor: 0,
                  ceil: 100000,
                  hideLimitLabels: true,
                  hidePointerLabels: false
                }"
               
              ></ng5-slider>
            </div>
          </div> -->

          <div class="col-12">
            <label>
              Types of Accommodation
            </label>
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.onCampus">On-Campus</mat-checkbox>
            </div>
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.offCampus">Off-Campus</mat-checkbox>
            </div>
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.homeStay">Home-Stay</mat-checkbox>
            </div>
          </div>

          <div class="col-12">
            <label>
              Work Permit
            </label>
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.postGraduateWithWork">Post Graduate Work Permit
              </mat-checkbox>
            </div>
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.programWithCoOpOption">Program with Co-Op Option</mat-checkbox>
            </div>
           
            <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.workWhileStudy">Work while Study</mat-checkbox>
            </div>
          </div>
          <div class="col-12">
              <mat-checkbox [(ngModel)]="formdata.conditionalOfferLetter">Conditional Offer Letter</mat-checkbox>
            </div>
        </div>
        <mat-action-row>
          <button mat-raised-button class="btn-danger" (click)="applyFilter()">Apply</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>