<div class="card shadow h-100">
    <div class="card-body table-responsive">
        <h4 class="card-title">Recent Applications</h4>
        <table class="table table-hover">
            <thead class="text-danger">
                <!-- <th>Passport No</th> -->
                <th>Name</th>
                <th>Institution</th>
                <th>Program</th>
                <th>Intake</th>
            </thead>
            <tbody>
                 <tr *ngFor="let item of data" style="cursor: pointer;" routerLink="/member/application/view/{{item?.ApplicationId}}">
                    <!-- <td>{{item.PassportNo}}</td> -->
                    <td>{{item.FirstName+' '+item.MiddleName+' '+item.LastName}}</td>
                    <td>{{item.InstName}}</td>
                    <td>{{item.ProgramName}}</td>
                    <td>{{item.IntakeName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
