<div class="main-content new-design">
  <div class="container-fluid" *ngIf="permission>0">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex" dynamicHeight #matTabGroup
          [class.header-less-tabs]="matTabGroup._tabs.length <= 1" (selectedTabChange)="onTabPanelClick($event, $event.tab)">
          <mat-tab label="Program Details">
            <div class="card">

              <div class="card-body">
                <form #form="ngForm" (submit)="onSubmit(form)">
                  <div class="row">
                    <div class="col-md-12">

                      <mat-form-field>
                        <mat-label>Program Name</mat-label>
                        <input matInput placeholder="Program Name" #ProgramName="ngModel"
                          [(ngModel)]="formdata.ProgramName" name="ProgramName" required
                          [pattern]="modelPattern.alphaNumericWithSpecialCharacters">
                        <mat-error *ngIf="ProgramName.hasError('pattern') || ProgramName.hasError('required') ">Enter valid program name</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">

                      <mat-form-field>
                        <mat-label>Program Code</mat-label>
                        <input matInput placeholder="Program code" #ProgramCode="ngModel"
                          [(ngModel)]="formdata.ProgramCode" name="ProgramCode" maxlength="15" [pattern]="modelPattern.custom">
                        <mat-error *ngIf="ProgramCode.hasError('pattern') || ProgramCode.hasError('maxlength')">Enter Valid Program Code</mat-error>
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-label>Discipline</mat-label>

                        <mat-select matInput multiple placeholder="Discipline" #ProgramDescipline="ngModel"
                          [(ngModel)]="formdata.ProgramDescipline" name="ProgramDescipline">
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="disciplineFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="disciplineFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option
                            *ngFor="let descipline of desciplineList | stringFilterBy:disciplineFilter:'DesciplineName'; trackByProperty: 'DesciplineId'"
                            [value]="descipline.DesciplineId">
                            {{descipline.DesciplineName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-label>Specialization</mat-label>
                        <mat-select matInput multiple placeholder="Specialization" #SpecializationId="ngModel"
                          [(ngModel)]="formdata.SpecializationId" name="SpecializationId">
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="splFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="splFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option [disabled]="optionDisabled"
                            *ngFor="let item of specializationList | stringFilterBy:splFilter:'SpecializationName';  trackByProperty: 'SpecializationId'"
                            [value]="item.SpecializationId">
                            {{item.SpecializationName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Mode</mat-label>
                        <mat-select matInput multiple placeholder="Modes" #ProgramModes="ngModel"
                          [(ngModel)]="formdata.ProgramModes" name="ProgramModes" required>
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="modeFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="modeFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option
                            *ngFor="let item of programModeList | stringFilterBy:modeFilter:'text';  trackByProperty: 'value'"
                            [value]="item.value">
                            {{item.text}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="ProgramModes.hasError('required')">Mode is required</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select matInput placeholder="Status" #ProgramStatus="ngModel"
                          [(ngModel)]="formdata.ProgramStatus" name="ProgramStatus">
                          <mat-option [value]="1">Open</mat-option>
                          <mat-option [value]="2">Close</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Duration Time</mat-label>
                        <input matInput placeholder="Duration" [appAcceptNumberWithDecimals]=1 type="text"
                          #DurationTime="ngModel" [(ngModel)]="formdata.DurationTime" name="DurationTime" min="0.1"
                          [MinValue]="0.1" [MaxValue]="9999">
                        <mat-error *ngIf="DurationTime.hasError( 'MinValue')">Valid number(1-9999)</mat-error>
                        <mat-error *ngIf="DurationTime.hasError( 'MaxValue')">Valid number(1-9999)</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Duration Type</mat-label>
                        <mat-select matInput placeholder="Duration Type" #DurationType="ngModel"
                          [(ngModel)]="formdata.DurationType" name="DurationType">
                          <mat-option [value]="1">Years</mat-option>
                          <mat-option [value]="2">Months</mat-option>
                          <mat-option [value]="3">Weeks</mat-option>
                          <mat-option [value]="5">Credit Hours</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Semester(s)</mat-label>
                        <input matInput placeholder="Semester(s)" min="1" [MinValue]="1" [MaxValue]="99"
                          type="number" #NoOfSemester="ngModel" appAcceptOnlyNumber [(ngModel)]="formdata.NoOfSemester"
                          name="NoOfSemester">
                        <mat-error *ngIf="NoOfSemester.hasError( 'MinValue')">Valid number(1-99)</mat-error>
                        <mat-error *ngIf="NoOfSemester.hasError( 'MaxValue')">Valid number(1-99)</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Currency</mat-label>
                        <mat-select matInput placeholder="Currency" #ProgramCurrency="ngModel"
                          [(ngModel)]="formdata.ProgramCurrency" name="ProgramCurrency">
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="CurrencyFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="CurrencyFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let currency of currencyList | stringFilterBy:CurrencyFilter:'currency';"
                            [value]="currency">{{currency}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Level Of Education</mat-label>
                        <mat-select matInput placeholder="Level Of Education" #ProgramLevel="ngModel"
                          [(ngModel)]="formdata.ProgramLevel" name="ProgramLevel" [pattern]="modelPattern.dropDownNumericValue" required>

                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="leveleduFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="leveleduFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option>None</mat-option>
                          <mat-option
                            *ngFor="let eduLevel of eduLevelList |  stringFilterBy:leveleduFilter:'EduLevelName';  trackByProperty: 'EduLevelId' "
                            [value]="eduLevel.EduLevelId">
                            {{eduLevel.EduLevelName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="ProgramLevel.hasError('required') || ProgramLevel.hasError('pattern')">Level of education is required</mat-error>
                      </mat-form-field>
                    </div>








                    <!-- <div class="col-md-2">
                      <mat-form-field >
                        <input matInput placeholder="Application Fee" type="text" #ApplicationFee="ngModel"
                          [(ngModel)]="formdata.ApplicationFee" name="ApplicationFee">
                      </mat-form-field>
                    </div> -->
                    <!-- <div class="col-md-2">
                      <mat-form-field >
                        <input matInput placeholder="Tuition Fee (per year)" type="text" #TutionFee="ngModel"
                          [(ngModel)]="formdata.TutionFee" name="TutionFee">
                      </mat-form-field>
                    </div> -->
                  </div>

                  <div class="row">

                     <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Average Processing Time</mat-label>
                        <input matInput placeholder="Average Processing Time" type="text"
                          #AverageProcessingDay="ngModel" [(ngModel)]="formdata.AverageProcessingDay"
                          name="AverageProcessingDay">
                      </mat-form-field>
                    </div> 

                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Offer Letter TAT (Days)</mat-label>
                        <input matInput placeholder="Offer Letter TAT (Days)" type="text" #OfferLetterTAT="ngModel"
                          [(ngModel)]="formdata.OfferLetterTAT" name="OfferLetterTAT" dynamicNumberValidation numbertyp='numberiwithOutDecimals' zeroAllowed="true"   mindecimals='1' maxdecimals='3'>
                      </mat-form-field>
                      <mat-error *ngIf="OfferLetterTAT.hasError( 'invalid') && OfferLetterTAT.touched">Enter valid days (0-999)</mat-error>
                    </div>

                    <div class="col-md-4">

                      <mat-form-field>
                        <mat-label>Campus</mat-label>
                        <mat-select matInput multiple placeholder="Campus" #Campus="ngModel"
                          [(ngModel)]="formdata.Campus" name="Campus">
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="campusFilter" [placeholderLabel]="'Search...'"
                              [noEntriesFoundLabel]="'Not found'" name="campusFilter"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option
                            *ngFor="let campus of campusList |  stringFilterBy:campusFilter:'CampusName';  trackByProperty: 'InstCampusId'"
                            [value]="campus.InstCampusId">
                            {{campus.CampusName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Conditional Offer Letter</mat-label>
                        <mat-select matInput placeholder="Conditional Offer Letter" #conditionalOfferLetter="ngModel"
                          [(ngModel)]="formdata.conditionalOfferLetter" name="conditionalOfferLetter">

                          <mat-option [value]="1"> Yes </mat-option>
                          <mat-option [value]="0"> No </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- <mat-checkbox name="conditionalOfferLetter" [(ngModel)]="formdata.conditionalOfferLetter">Conditional Offer Letter</mat-checkbox> -->
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-5 ">
                      <label class="checklist-label">Accommodation</label>
                      <div class="d-flex flex-wrap">
                        <mat-checkbox name="onCampus" [(ngModel)]="formdata.onCampus" class="flex-fill">On-Campus
                        </mat-checkbox>

                        <mat-checkbox name="offCampus" [(ngModel)]="formdata.offCampus" class="flex-fill">Off-Campus
                        </mat-checkbox>

                        <mat-checkbox name="homeStay" [(ngModel)]="formdata.homeStay" class="flex-fill">Home-Stay
                        </mat-checkbox>

                        <mat-checkbox name="private" [(ngModel)]="formdata.privateAccomodation" class="flex-fill">
                          Private</mat-checkbox>
                      </div>


                    </div>

                    <div class="col-md-7 ">
                      <label class="checklist-label">Work Permit</label>
                      <div class="d-flex flex-wrap">

                        <mat-checkbox name="postGraduateWithWork" [(ngModel)]="formdata.postGraduateWithWork"
                          class="flex-fill">Post Graduate Work Permit
                        </mat-checkbox>
                        <mat-checkbox name="programWithCoOpOption" [(ngModel)]="formdata.programWithCoOpOption"
                          class="flex-fill">Program with Co-Op Option</mat-checkbox>
                        <mat-checkbox name="workWhileStudy" [(ngModel)]="formdata.workWhileStudy" class="flex-fill">Work
                          while Study</mat-checkbox>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-label>Link</mat-label>
                        <input matInput placeholder="Link" type="url" #ProgramLink="ngModel"
                          [(ngModel)]="formdata.ProgramLink" name="ProgramLink" [pattern]="modelPattern.url">
                        <mat-error *ngIf="ProgramLink.hasError('pattern')">Enter valid link</mat-error>
                      </mat-form-field>
                    </div>


                    <!-- <div class="col-md-3">
                      <mat-form-field >
                        <mat-label>Search Priority</mat-label>
                        <input matInput placeholder="Search Priority" type="number" #searchPriority="ngModel"
                          [(ngModel)]="formdata.searchPriority" name="searchPriority"
                          [MinValue]="0" [MaxValue]="100"
                          >
                          <mat-hint>0 to 100</mat-hint>
                      </mat-form-field>
                    </div> -->

                  </div>
                  <div class="row">
                    <div class="col-md-12">

                      <div class="form-group">
                        <label>Description</label>
                        <dx-html-editor tagName="textarea" placeholder="Description" #Description="ngModel"
                          [(ngModel)]="formdata.Description" name="Description">
                          <dxo-toolbar [items]="items"> </dxo-toolbar>
                        </dx-html-editor>
                        <!-- <ckeditor [editor]="Editor" tagName="textarea" placeholder="Description" #Description="ngModel"
                          [(ngModel)]="formdata.Description" name="Description"></ckeditor> -->
                      </div>

                      <!-- <mat-form-field >
                                  <textarea rows="4" matInput placeholder="Description"  #Description="ngModel"
                                    [(ngModel)]="formdata.Description" name="Description" ></textarea>
                                </mat-form-field> -->
                    </div>
                  </div>


                  <!-- <div class="d-flex  justify-content-center">
  <button routerLink="/member/institutions/programs/{{instituteId}}" mat-raised-button type="button"
    class="btn btn-danger cancel custbtn">Cancel</button>
  <button mat-raised-button type="submit" class="btn btn-danger custbtn" *ngIf="permission>1"
    [disabled]="flagdisabled">{{btnLabel}}</button>

</div> -->
                  <div class="d-flex  justify-content-center">
                    <button routerLink="/member/institutions/programs/{{instituteId}}" mat-raised-button type="button"
                      class="btn btn-danger modalclose custbtn btn-close-color">Cancel</button>
                    <button mat-raised-button type="submit" class="btn btn-danger custbtn" *ngIf="permission>1"
                      [disabled]="flagdisabled">{{btnLabel}}</button>

                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
            <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisible" [showCloseButton]="true">
              <textarea [(ngModel)]="formdata.Description" name="Description"
                style="height:100% !important; width: 100%; display: block; border:0px;"></textarea>
            </dx-popup>
          </mat-tab>

          <mat-tab label="Contact" *ngIf="id>0 && permission>0">
            <app-show-contact [parentName]="parentName" programId="{{id}}" *ngIf="id>0">

            </app-show-contact>
          </mat-tab>
          <mat-tab label="Intake" *ngIf="id>0 && permission>0">
            <app-show-intek [parentName]="parentName" [ProgramIntakeInfo]="ProgramIntakeInfo" programId="{{id}}" institutionId="{{instituteId}}" [permission]="permission">

            </app-show-intek>
          </mat-tab>
          <mat-tab label="Requirement" *ngIf="id>0 && permission>0">

            <mat-tab-group mat-stretch-tabs *ngIf="tabIndex===3" tabindex="0" dynamicHeight mat-align-tabs="center">
              <mat-tab label="English">
                <app-show-requirement [parentName]="parentName" title="English" programId="{{id}}" reqTypeId="1" [permission]="permission"
                  [institutionId]="instituteId">

                </app-show-requirement>
              </mat-tab>

              <mat-tab label="Subject">
                <app-show-requirement [parentName]="parentName" [requirementSubjectInfo]="requirementSubjectInfo" title="Subject" programId="{{id}}" reqTypeId="2" [permission]="permission"
                  [institutionId]="instituteId">

                </app-show-requirement>
              </mat-tab>

              <mat-tab label="Academic">
                <app-show-requirement [parentName]="parentName"  title="Academic" programId="{{id}}" reqTypeId="3" [permission]="permission"
                  [institutionId]="instituteId">

                </app-show-requirement>
              </mat-tab>

              <mat-tab label="Additional">
                <app-show-requirement [parentName]="parentName" title="Additional" programId="{{id}}" reqTypeId="4" [permission]="permission"
                  [institutionId]="instituteId">

                </app-show-requirement>
              </mat-tab>

              <mat-tab label="Documents">
                <app-show-program-document [parentName]="parentName" title="Documents" programId="{{id}}" [permission]="permission" [institutionId]="instituteId">
                </app-show-program-document>
              </mat-tab>
            </mat-tab-group>


          </mat-tab>


          <mat-tab label="Fee" *ngIf="id>0 && permission>0">
            <app-show-fee [parentName]="parentName" programId="{{id}}" [permission]="permission" [instituionId]="instituteId"
              [currency]="formdata.ProgramCurrency">
            </app-show-fee>
          </mat-tab>

          <mat-tab label="Marketing-Collateral" *ngIf="id>0 && permission>0">
            <app-program-material-show title="Marketing Collateral" [parentName]="parentName" programId="{{id}}" [institutionId]="instituteId">
            </app-program-material-show>
          </mat-tab>

          <mat-tab label="Event/Updates" *ngIf="id>0 && permission>0">
            <app-event-show [parentName]="parentName" title="Event/Updates" parentId="{{id}}" parentType="5" [institutionId]="instituteId" [permission]="permission">
            </app-event-show>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>

</div>