<form #form="ngForm" (submit)="onSubmit(form)" class="new-design">
  <div mat-dialog-title>
    Subject Requirement
    <button class="close text-white" type="button"   (click)="close()" aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>
  <div mat-dialog-content>

    <input type="hidden" #ProgramId="ngModel" [(ngModel)]="formdata.ProgramId" name="ProgramId" />
    <input type="hidden" #ReqTypeId="ngModel" [(ngModel)]="formdata.ReqTypeId" name="ReqTypeId" />

    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Region</mat-label>
          <mat-select matInput placeholder="Region" #RegionId="ngModel" [(ngModel)]="formdata.RegionId" name="RegionId"
            [pattern]="modelPattern.dropDownNumericValueWithMinusAnd0" required
            (selectionChange)="onRegionChange(true)" >
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="regionFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="regionFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0" *ngIf="regionList?.length>0">All</mat-option>
            <mat-option *ngFor="let req of regionList | stringFilterBy:regionFilter:'CountryName';  trackByProperty: 'CountryId' " [value]="req.CountryId">{{req.CountryName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="RegionId.hasError('required')">Region is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <mat-select matInput placeholder="Subject" #ReqId="ngModel" [(ngModel)]="formdata.ReqId" name="ReqId"
            [pattern]="modelPattern.dropDownNumericValue" required>
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="subFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="subFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let req of reqList | stringFilterBy:subFilter:'ReqName';  trackByProperty: 'ReqId'" [value]="req.ReqId">{{req.ReqName}}</mat-option>
          </mat-select>
          <mat-error>Subject is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Grade</mat-label>
          <mat-select matInput placeholder="Grade" #GradeId="ngModel" [(ngModel)]="formdata.GradeId" name="GradeId"
            [pattern]="modelPattern.dropDownNumericValue" required>
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="gradeFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="gradeFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let req of gradeList | stringFilterBy:gradeFilter:'ReqName';  trackByProperty: 'ReqId' " [value]="req.ReqId">{{req.ReqName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="GradeId.hasError('required')">Grade is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Grading Scheme</mat-label>
          <mat-select matInput placeholder="Grading Scheme" #GradeScheme="ngModel" [(ngModel)]="formdata.GradeScheme"
            name="GradeScheme" required (selectionChange)="onGradeSchemeChange()">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="gradnFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="gradnFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let gradeScheme of gradeSchemeList | stringFilterBy:gradnFilter:'GrdSchemeName';  trackByProperty: 'GrdSchemeId' " [value]="gradeScheme.GrdSchemeId">
              {{gradeScheme.GrdSchemeName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="GradeScheme.hasError('required')">Grade schema is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Score</mat-label>
          <input matInput placeholder="Score" type="text" #Score="ngModel" [(ngModel)]="formdata.Score" name="Score"
            required [pattern]="gradeSchemeData ? gradeSchemeData.InputPattern : null" toUppercase>
            <mat-error *ngIf="Score.hasError('required')">Score is required</mat-error>
          <mat-error *ngIf="Score.hasError('pattern')">
            Enter valid score {{gradeSchemeData?.InputHint}}
          </mat-error>
          <mat-hint>{{gradeSchemeData?.InputHint}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-12" *ngIf="formdata?.RegionId && formdata?.RegionId>0">
        <mat-form-field>
          <mat-label>Board</mat-label>
          <mat-select matInput placeholder="Board" #BoardId="ngModel" [(ngModel)]="formdata.BoardId" name="BoardId">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="boardFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="boardFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let req of boardList | stringFilterBy:boardFilter:'BoardName';  trackByProperty: 'BoardId' " [value]="req.BoardId">{{req.BoardName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12"  *ngIf="formdata?.RegionId && formdata?.RegionId>0">
        <mat-form-field>
          <mat-label>Province</mat-label>
          <mat-select matInput placeholder="Province" #ProvinceId="ngModel" [(ngModel)]="formdata.ProvinceId"
            name="ProvinceId" >
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="provineFilter" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="provineFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let req of provinceList | stringFilterBy:provineFilter:'ProvinceName';  trackByProperty: 'ProvinceId'  " [value]="req.ProvinceId">{{req.ProvinceName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div mat-dialog-actions align="center">
    <button type="button" (click)="close()" class="btn btn-sm btn-primary modalclose">Close</button>


    <button type="submit" class="btn btn-sm btn-primary btn-cust" [disabled] ="flagdisabled">Add</button>

  </div>
</form>