<form #form="ngForm">
    <div mat-dialog-title>{{title}}
        <button class="close text-white" type="button"  (click)="cancelClick()"  *ngIf="showCancel" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <mat-dialog-content>
        <!-- <div>
            <mat-form-field  *ngIf="status === 'deferred'">
                <mat-label>Intake</mat-label>
                  <mat-select matInput placeholder="Intake" #IntekId="ngModel" [(ngModel)]="IntakeId" name="IntakeId"
                    required >
                    <mat-option>
                      <ngx-mat-select-search [(ngModel)]="intakeFilter" [placeholderLabel]="'Search...'"
                        [noEntriesFoundLabel]="'Not found'" name="intakeFilter"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let item of intekList | stringFilterBy:intakeFilter:'IntakeName';  trackByProperty: 'IntekId' " [value]="item.IntekId" > {{item.IntakeName}} - {{item.Region}}</mat-option>
                  </mat-select>
                </mat-form-field>
        </div> -->


        <mat-form-field>
            <mat-label>{{valueName}}</mat-label>
            <input type="text" matInput name="inputText" [(ngModel)]="inputText" [placeholder]="valueName"
                [required]="required" [pattern]="pattern" #InputT="ngModel" />
            <mat-error *ngIf="InputT.hasError('required')">{{requiredMessage}}</mat-error>
            <mat-error *ngIf="InputT.hasError('pattern')">{{patternMessage}}</mat-error>
        </mat-form-field>
        <div class="text-info d-block mt-1 mb-1" [innerHTML]="extraHTML" *ngIf="extraHTML?.length>0">

        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-raised-button  class="btn btn-sm btn-danger" (click)="cancelClick()" cdkFocusInitial
            *ngIf="showCancel">
            {{cancelLabel}}
        </button>

        <button type="button" mat-raised-button (click)="OkClick()" class="btn btn-sm btn-danger"
            [disabled]="!form.valid">
            {{okLabel}}
        </button>

    </mat-dialog-actions>
</form>